block mixins
	include ../blocks/mixins
block vars
	-title = 'Site'
	-bodyClass = ''
	-authorised = 'false'
doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title=title
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="robots", content="index, follow")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0")
		link(rel="icon", href="favicon-16x16.png", type="image/x-icon", sizes="16x16")
		link(rel="stylesheet", href="styles/reset.css")
		link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
		link(rel='preconnect' href='https://fonts.googleapis.com')
		link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
		link(href='https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&family=Roboto:wght@300&display=swap' rel='stylesheet')
		link(href='https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&family=Roboto:wght@300&display=swap' rel='stylesheet')
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		link(rel="stylesheet", href="styles/fontawesome.css")
		link(rel="stylesheet", href="styles/styles.css")
	body(class=bodyClass)
		if authorised
			.wrapper
			block header
				include ../blocks/header
				block container
			block footer
				include ../blocks/footer
		else
			.wrapper 
				block global
		block layer
		include ../blocks/scripts
		