.password {
    &-wrapper {
        width: 100%;
        padding: 0 $padding-primary;
    }
    &-container {
        width: 100%;
        padding: 3.5rem 0;
    }
    &-profile {
        display: flex;
        align-items: center;
        gap: 0 2.5rem;
        &-image {
            width: 6rem;
            height: 6rem;
            border-radius: 100rem;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
        &-title {
            font-size: 3.2rem;
            font-weight: bold;
            color: #787c88;
        }
        &-icon {
            font-size: 2.4rem;
            color: $primary-color;
            opacity: 0.5;
        }
    }
    &-main {
        margin-top: 5rem;
        padding: 4.5rem;
        margin: auto 0;

        background-color: white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        width: 100%;
        border-radius: 2rem;
        // display: flex;
        // align-items: center;
        // gap: 4rem 6rem;
        // flex-wrap: wrap;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr/2;
        grid-gap: 4rem 6rem;
    }
    &-main-filed {
        display: flex;
        gap: 0 2rem;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
    }
    &-submit {
        grid-row: 3/4;
        grid-column: 1/2;
        display: inline-block;
        color: white;
        padding: 1.7rem;
        border-radius: 0.7rem;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
        border: 0px;
        outline: none;
        line-height: 1;
        background-color: $primary-color;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        &--red {
            background-color: $red-delete;
        }
    }
    &-main-title {
        color: #545454;
        font-size: 2.4rem;
        font-weight: 400;
        margin-bottom: 2rem;
    }
    &-main-input {
        border: 1px solid $gray-border;
        padding: 1.5rem 2rem;
        font-family: $primary-font;
        font-size: 1.8rem;
        border-radius: 0.5rem;
        width: 100%;
        transition: all 0.25s linear;
    }
}
@include hoverPrimary(".password-main-input");
