:root {
    --border: #cccccc;
    --color-text: #7d7987;
}

.button {
    padding: 1.5rem 2.5rem;
    outline: none;
    border-radius: 2rem;
    border: 1px solid $primary-color;
    background-color: white;
    color: $text-color;
    font-size: 1.6rem;
    font-weight: 400;
    transition: all 0.25s linear;
    font-family: $primary-font;
    &:hover {
        background-color: $primary-color;
        color: white;
    }
    &--primary {
        padding: 1.5rem 3rem;
        margin-top: 2rem;
    }
    &--third {
        padding: 1.5rem 4rem;
    }
}
.button-sigup {
    box-sizing: border-box;
    padding: 1.4rem 4.3rem;
    font-size: 2.4rem;
    font-weight: 500;
    outline: none;
    border: none;
    background: #eeeeee;
    border-radius: 1.5rem;
}
.button-base {
    font-family: $primary-font;
    max-width: 40rem;
    width: 100%;
    padding: 1.5rem 8rem;
    color: white;
    outline: none;
    border: none;
    border-radius: 3rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-align: center;
    background-color: $primary-color;
    font-size: 2.6rem;
    font-weight: 700;
    &--red {
        background-color: #f62682;
    }
}

.btn {
    &-primary {
        outline: none;
        padding: 1.4rem 2.3rem;
        border: 0.1rem solid var(--border);
        border-radius: 0.5rem;
        background-color: inherit;
        color: var(--color-text);
        font-size: 1.6rem;
        font-weight: 500;
        display: inline-block;
        &--add {
            margin-left: auto;
            display: flex;
        }
        &--course {
            margin: 3.2rem auto 3.2rem 0;
        }
        transition: all 0.25s linear;
        &:hover {
            background-color: $primary-color;
            color: white;
        }
    }
}
.button-list {
    display: flex;
    column-gap: 1.5rem;
}
.btn-submit {
    padding: 1.7rem 4.5rem;
    outline: none;
    border: none;
    color: white;
    background-color: $red-delete;
    font-weight: 600;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    &--normal {
        color: #7d7987;
        border: 1px solid #ccc;
        background-color: inherit;
    }
}
.submit-container {
    margin: 2rem 0;
    display: flex;
    column-gap: 2rem;
}
.button-sigup {
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
