.dropdown {
    margin-top: 2.5rem;
    &__select {
        width: 99%;
        background-color: white;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
        font-size: 1.8rem;
        padding: 1.8rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        margin: 0 auto;
        margin-bottom: 2rem;
        * {
            pointer-events: none;
            transition: all 0.25s linear;
        }
    }
    &__item {
        * {
            pointer-events: none;
        }
    }
    &-content {
        height: 0;
        overflow: hidden;
        width: 99%;
        background-color: white;
        box-shadow: 0px 1px 4px #00000040;
        border-radius: 0.5rem;
        font-size: 1.8rem;
        margin: 0 auto;
        transition: height 0.25s linear;
    }
    &__list {
        padding: 1.8rem 2rem;
        li {
            span {
                display: inline-block;
                padding: 2rem;
            }
            cursor: pointer;
            transition: all 0.25s linear;
            &:hover {
                background-color: rgba(117, 206, 85, 0.2);
                color: $primary-color;
                border-radius: 0.5rem;
            }
        }
    }
}
.dropdown-content.dropdown-active {
    height: auto;
}
.icon-active {
    transform: rotate(180deg);
}
.icon-remove {
    transform: rotate(-180deg);
}
