.dropdown {
    margin-top: 2.5rem;
    &__select {
        width: 99%;
        background-color: white;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
        font-size: 1.8rem;
        padding: 1.8rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        margin: 0 auto;
        margin-bottom: 2rem;
        * {
            pointer-events: none;
            transition: all 0.25s linear;
        }
    }
    &__item {
        * {
            pointer-events: none;
        }
    }
    &-content {
        height: 0;
        overflow: hidden;
        width: 99%;
        background-color: white;
        box-shadow: 0px 1px 4px #00000040;
        border-radius: 0.5rem;
        font-size: 1.8rem;
        margin: 0 auto;
        transition: height 0.25s linear;
    }
    &__list {
        padding: 1.8rem 2rem;
        li {
            span {
                display: inline-block;
                padding: 2rem;
            }
            cursor: pointer;
            transition: all 0.25s linear;
            &:hover {
                background-color: rgba(117, 206, 85, 0.2);
                color: $primary-color;
                border-radius: 0.5rem;
            }
        }
    }
}
.dropdown-content.dropdown-active {
    height: auto;
}
.icon-active {
    transform: rotate(180deg);
}
.icon-remove {
    transform: rotate(-180deg);
}

$background: #e74c3c;
$select-color: #fff;
$select-background: #c0392b;
$select-width: 220px;
$select-height: 40px;

body {
    font-family: Lato, Arial;
    color: $select-color;
    padding: 20px;
    background-color: $background;
}
h1 {
    font-weight: normal;
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    span {
        font-size: 13px;
        display: block;
        padding-left: 4px;
    }
}
p {
    margin-top: 200px;
    a {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        color: #fff;
        padding: 5px 10px;
        margin: 0 5px;
        background-color: darken($select-background, 2);
        @include transition(all 0.2s ease-in);
        &:hover {
            background-color: darken($select-background, 5);
        }
    }
}
.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}
.select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: $select-color;
    width: $select-width;
    height: $select-height;
}
.select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $select-background;
    padding: 8px 15px;
    @include transition(all 0.2s ease-in);
    &:after {
        content: "";
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-color: $select-color transparent transparent transparent;
        position: absolute;
        top: 16px;
        right: 10px;
    }
    &:hover {
        background-color: darken($select-background, 2);
    }
    &:active,
    &.active {
        background-color: darken($select-background, 5);
        &:after {
            top: 9px;
            border-color: transparent transparent $select-color transparent;
        }
    }
}

.select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: darken($select-background, 5);
    li {
        margin: 0;
        padding: 12px 0;
        text-indent: 15px;
        border-top: 1px solid darken($select-background, 10);
        @include transition(all 0.15s ease-in);
        &:hover,
        &.is-selected {
            color: $select-background;
            background: $select-color;
        }
        &[rel="hide"] {
            display: none;
        }
    }
}
