:root {
    --text-color: #8c8d95;
}
.input-file {
    margin: 0 auto;
    width: 100%;
    height: 30rem;
    position: relative;
}
.input-label {
    border-radius: 8px;
    border: 1px dotted #cccc;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
}
.input-file input[type="file"] {
    display: none;
}
.input-file .icon-upload {
    color: #ccc;
    font-size: 3rem;
    pointer-events: none;
}
.input {
    &-base {
        margin-top: 1.5rem;
        width: 100%;
        &-title {
            font-size: 1.8rem;
            color: var(--text-color);
            font-weight: 600;
            margin-bottom: 1rem;
        }
        input {
            padding: 1.5rem;
            border-radius: 0.5rem;
            font-family: $primary-font;
            outline: none;
            border: 1px solid $gray-border;
            width: 100%;
            font-size: 1.8rem;
            transition: all 0.25s linear;
            &:hover {
                border: 0.1rem solid $primary-color;
            }
        }
    }
}
.input-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    & * {
        width: 100%;
    }
}
.date {
    &-picker {
        display: flex;
        align-items: center;
        margin-right: auto;
        span {
            font-size: 1.8rem;
            padding: 0 1rem;
        }
    }
}
