.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.25);
    overflow-y: scroll;
    cursor: zoom-out;
    &-main {
        max-width: 80rem;
        cursor: auto;
        width: 100%;
        padding: 2rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 8.4rem auto;
        background-color: $background-blue;
        border-radius: 2rem;
        position: relative;
    }
    &-top {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &-title {
        font-size: 3.6rem;
        color: $gray-normal;
    }
    &-close {
        position: absolute;
        top: 0;
        right: 0;
        background-color: white;
        transform: translateY(-35%) translateX(35%);
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 100rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        cursor: pointer;
        font-size: 1.8rem;
    }
    &-image {
        width: 20rem;
        height: 20rem;
        border-radius: 100rem;
        object-fit: cover;
        margin: 0 auto;
        margin-bottom: 1.5rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    &-profile {
        width: 100%;
        margin-bottom: 5rem;
    }
    &-profile-double {
        display: flex;
        align-items: center;
        gap: 0 4.5rem;
    }
    &-profile-input {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem 0;
        margin-bottom: 1.7rem;
    }
    &-input-name {
        font-weight: 500;
        font-size: 2.4rem;
        color: $text-color;
    }
    &-input-value {
        width: 100%;
        padding: 2.2rem;
        text-align: left;
        color: black;
        border: 2px solid $gray-border;
        border-radius: 2rem;
        font-size: 2.4rem;
        font-weight: 500;
    }
    &-submit {
        display: flex;
        align-items: center;
        gap: 0 3rem;
        & * {
            padding: 1.5rem 9rem;
        }
    }
    &-textdecor {
        text-decoration: underline;
    }
    &-desc {
        width: 100%;
        padding: 1rem 0;
    }
    &-textarea {
        font-family: $primary-font;
        font-size: 1.8rem;
        padding: 1rem;
        width: 100%;
        border: 1px solid $gray-border;
        border-radius: 0.5rem;
        overflow: auto;
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        resize: none;
        transition: border 0.25s linear;
        &:hover {
            border: 1px solid $primary-color;
        }
    }
}
