.admin {
    display: flex;
    background-color: $background-blue;
    &-feature {
        flex-shrink: 0;
        background-color: white;
        max-width: 36.5rem;
        display: flex;
        flex-direction: column;
        gap: 8rem 0;
    }
    &-logo {
        font-size: 6rem;
        font-weight: bold;
        margin-top: 3rem;
        text-align: center;
    }
    &-feature-list {
        display: flex;
        flex-direction: column;
        gap: 3rem 0;
    }
    &-feature-item {
        display: flex;
        align-items: center;
        gap: 0 2rem;
        font-size: 1.8rem;
        color: $gray-normal;
        padding: 1rem 0;
        padding-left: 3rem;
        padding-right: 1rem;
        transition: all 0.25s linear;
        &:hover {
            border-radius: 0.7rem;
            background-color: rgba(204, 204, 204, 0.454);
        }
    }
    &-feature-icon {
        font-size: 3.6rem;
    }
    &-feature-name {
        font-weight: 500;
    }
}
.feature-click {
    .admin-feature-icon,
    .admin-feature-name {
        color: $primary-color;
    }
    position: relative;
    transition: all 0.25s linear;
    &::after {
        position: absolute;
        content: "";
        width: 1rem;
        height: 100%;
        background-color: $primary-color;
        border-radius: 0.5rem;
        left: -0.5rem;
    }
}
.admin-title {
    font-weight: bold;
    font-size: 3.6rem;
    margin-right: auto;
    margin-bottom: 3.8rem;
}
.admin-search {
    outline: none;
    border: 0;
    width: 100%;
    font-family: $primary-font;
    font-size: 1.8rem;
    color: $text-color;
    background-color: inherit;
}
.admin-filed {
    margin: 3rem 0;
    display: flex;
    align-items: center;
    gap: 0 1rem;
    max-width: 35rem;
    width: 100%;
    border: 0.2rem solid #cccc;
    padding: 1.5rem 1.5rem 1.5rem;
    border-radius: 1rem;
    i {
        color: $text-color;
        font-size: 1.8rem;
    }
    transition: all 0.25s linear;
    &:hover {
        border: 2px solid $primary-color;
    }
}
.admin-table-action {
    cursor: pointer;
}
.changepassword {
    font-size: 1.8rem;
    color: $primary-color;
    margin-top: 1rem;
    &-error {
        color: $red-delete;
    }
}
