@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="admin-main">
    <div class="password-container">
        <div class="password-profile">
            <img
                class="password-profile-image"
                src="/images/main.jpg"
                alt=""
            /><i
                class="fas fa-chevron-right password-profile-icon"
            >
            </i>
            <h2 class="password-profile-title">Sell Report</h2>
        </div>
    </div>
    <div class="admin-data">
    <div class="admin-data-item">
        <div class="admin-data-left">
        <div class="admin-data-title">Total money</div>
        <div class="admin-data-number">@ViewBag.TotalMoney$</div>
        </div><img class="admin-data-image" src="./images/money.jpg" alt=""/>
    </div>
    <div class="admin-data-item">
        <div class="admin-data-left">
        <div class="admin-data-title">Sold</div>
        <div class="admin-data-number">@ViewBag.userPayments.Count</div>
        </div><img class="admin-data-image" src="./images/Sold.png" alt=""/>
    </div>
    </div>
    <div class="admin-chart">
        <h2 class="admin-title admin-title--sale">Earnings</h2>
        <div class="date-picker">
            <div class="selection" style="max-width: 15rem;">
                    <input
                    type="text"
                    class="selected"
                    placeholder="Value"
                    name="type"
                    id="valueSearch"
                    value="Weekly"
                    readonly
                />
                <div class="options-container">
                    <div onclick="handleDataChart(this)" class="options-item">Weekly</div>
                    <div onclick="handleDataChart(this)" class="options-item">Monthly</div>
                </div>
            </div>
        </div>
        <canvas id="myChart"> </canvas>
    </div>
    <div class="admin-top">
    <div class="admin-title">Detail</div>
    <div class="admin-table admin-table--overflowFull">
        <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Course type</th>
                <th>Order date</th>
                <th>Method</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @ViewBag.users)
            {
                @foreach (var elemt in @ViewBag.userPayments)
                {
                    @if (item.UserID==elemt.user_id)
                    {
                        <tr>
                        <td>
                            <div class="admin-table-number">@elemt.payment_id</div>
                        </td>
                        <td>
                            <div class="admin-table-name" style="justify-content: center;"> <img class="admin-table-image" src="./images/student.jpg" alt="">
                            <p class="admin-table-name">@item.FullName</p>
                            </div>
                        </td>
                        @foreach (var fee in @ViewBag.fees)
                        {
                            @if (@elemt.fee_id==@fee.fee_id)
                            {
                                <td>
                                    <div class="admin-table-action">@fee.fee_type</div>
                                </td>
                            }
                        }
                        <td>
                            <div class="admin-table-point">@elemt.payment_date.ToShortDateString()</div>
                        </td>
                        @foreach (var method in @ViewBag.methodPayments)
                        {
                            @if (@method.method_id==@elemt.method_id)
                            {
                            <td>
                            <div class="admin-table-action admin-table-action--green">@method.method_name</div>
                            </td>
                            }
                        }
                        </tr>
                    }
                }
            }
        </tbody>
        </table>
    </div>
    </div>
</div>