section.admin 
    +feature()
    .admin-main 
        h2.admin-title Overview
        .admin-data 
            +dataItem("Total students","123","student.jpg")
            +dataItem("Total course","18","Course.png")
            +dataItem("Sold","67","Sold.png")
        .admin-top 
            .admin-title Top user highest point
            .admin-table 
                table 
                    thead 
                        tr 
                            th Rank
                            th Name
                            th Course
                            th Point
                            th Action
                    tbody 
                        tr 
                            td 
                                .admin-table-number 1
                            td 
                                .admin-table-name 
                                    img(src="./images/student.jpg", alt="").admin-table-image
                                    p.admin-table-name Bill gate 
                            td 
                                .admin-table-type 1
                            td  
                                .admin-table-point 102
                            td 
                                a(href="#").admin-table-action <i class="fas fa-gifts"></i>
        .admin-top.admin-tablel-order
            .admin-title User orderd
            .admin-table 
                table 
                    thead 
                        tr 
                            th Order ID
                            th Student email
                            th Order date
                            th Course type
                            th Action
                    tbody 
                        tr 
                            td 
                                .admin-table-number 1
                            td 
                                .admin-table-name 
                                    img(src="./images/student.jpg", alt="").admin-table-image
                                    p.admin-table-name Billgate@gmail.com
                            td 
                                .admin-table-type 2022-1-19
                            td  
                                .admin-table-point 1
                            td 
                                a(href="#").admin-table-action <i class="fas fa-gifts"></i>
                        tr 
                            td 
                                .admin-table-number 1
                            td 
                                .admin-table-name 
                                    img(src="./images/student.jpg", alt="").admin-table-image
                                    p.admin-table-name Bill gate 
                            td 
                                .admin-table-type 1
                            td  
                                .admin-table-point 102
                            td 
                                a(href="#").admin-table-action <i class="fas fa-gifts"></i>
                        tr 
                            td 
                                .admin-table-number 1
                            td 
                                .admin-table-name 
                                    img(src="./images/student.jpg", alt="").admin-table-image
                                    p.admin-table-name Bill gate 
                            td 
                                .admin-table-type 1
                            td  
                                .admin-table-point 102
                            td 
                                a(href="#").admin-table-action <i class="fas fa-gifts"></i>

