section.admin 
    +feature()
    .admin-main 
        h2.admin-title Overview
        .admin-data 
            +dataItem("Total students","123","student.jpg")
            +dataItem("Total course","18","Course.png")
            +dataItem("Sold","67","Sold.png")
        .admin-top 
            .admin-title Top user highest point
            .admin-table 
                table 
                    thead 
                        tr 
                            th Rank
                            th Name
                            th Course
                            th Point
                            th Action
                    tbody 
                        tr 
                            td 
                                .admin-table-number 1
                            td 
                                .admin-table-name 
                                    img(src="./images/student.jpg", alt="").admin-table-image
                                    p.admin-table-name Bill gate 
                            td 
                                .admin-table-type 1
                            td  
                                .admin-table-point 102
                            td 
                                a(href="#").admin-table-action <i class="fas fa-gifts"></i>
                    select#mounth
                        option(value='hide') -- Month --
                        option(value='january') January
                        option(value='february') February
                        option(value='march') March
                        option(value='april') April
                        option(value='may') May
                        option(value='june') June
                        option(value='july') July
                        option(value='august') August
                        option(value='september') September
                        option(value='october') October
                        option(value='november') November
                        option(value='december') December
                    select#year
                        option(value='hide') -- Year --
                        option(value='2010') 2010
                        option(value='2011') 2011
                        option(value='2012') 2012
                        option(value='2013') 2013
                        option(value='2014') 2014
                        option(value='2015') 2015
 
        .admin-top.admin-tablel-order
            .admin-title User orderd
            .admin-table 
                table 
                    thead 
                        tr 
                            th Order ID
                            th Student email
                            th Order date
                            th Course type
                            th Action
                    tbody 
                        tr 
                            td 
                                .admin-table-number 1
                            td 
                                .admin-table-name 
                                    img(src="./images/student.jpg", alt="").admin-table-image
                                    p.admin-table-name Billgate@gmail.com
                            td 
                                .admin-table-type 2022-1-19
                            td  
                                .admin-table-point 1
                            td 
                                a(href="#").admin-table-action <i class="fas fa-gifts"></i>
                        tr 
                            td 
                                .admin-table-number 1
                            td 
                                .admin-table-name 
                                    img(src="./images/student.jpg", alt="").admin-table-image
                                    p.admin-table-name Bill gate 
                            td 
                                .admin-table-type 1
                            td  
                                .admin-table-point 102
                            td 
                                a(href="#").admin-table-action <i class="fas fa-gifts"></i>
                        tr 
                            td 
                                .admin-table-number 1
                            td 
                                .admin-table-name 
                                    img(src="./images/student.jpg", alt="").admin-table-image
                                    p.admin-table-name Bill gate 
                            td 
                                .admin-table-type 1
                            td  
                                .admin-table-point 102
                            td 
                                a(href="#").admin-table-action <i class="fas fa-gifts"></i>

