mixin line()
    .line
mixin title(title)
    .title= title
mixin featureItem(icon,name,page)
    a(href=page).admin-feature-item 
        i(class= icon).admin-feature-icon
        h2.admin-feature-name= name
mixin dataItem(title,number,src)
    - var img = "./images/"
    .admin-data-item    
        .admin-data-left 
            .admin-data-title=title
            .admin-data-number=number
        img(src=img+src, alt="").admin-data-image
mixin feature()
    .admin-feature 
        .admin-logo Poppin
        .admin-feature-list 
            +featureItem("fas fa-tachometer-alt","Dashboard","admin.html")
            +featureItem("fas fa-book","Course","courseAdmin.html")
            +featureItem("fas fa-file-alt","Test","testAdmin.html")
            +featureItem("fas fa-users","Student","studentAdmin.html")
            +featureItem("fas fa-users","Teacher","teacherAdmin.html")
            +featureItem("fas fa-table","Sell Report","reportAdmin.html")
            +featureItem("fas fa-comment-alt","Feedback","feedbackAdmin.html")
            +featureItem("fas fa-key","Change Password","passwordAdmin.html")
            +featureItem("fas fa-sign-out-alt","Logout")
mixin table()
    table 
        thead 
            tr 
                th Course ID
                th Name
                th Author
                th Feedback
                th Action
        tbody 
            tr 
                td 
                    .admin-table-number 1
                td 
                    .admin-table-name 
                        img(src="./images/student.jpg", alt="").admin-table-image
                        p.admin-table-name Bill gate 
                td 
                    .admin-table-type Ronaldo
                td  
                    a(href="#").admin-table-action.admin-table-action--blue <i class="fas fa-comment"></i>
                td 
                    a(href="#").admin-table-action.admin-table-action--red <i class="fas fa-trash"></i>
mixin modalValue(title,value,a)
    .modal-profile-input 
        h3.modal-input-name= title
        if a
            a(href= a).modal-input-value.modal-textdecor= value
        else
            .modal-input-value= value
mixin inputPassword(title,placeholder)
    .password-main-filed 
        .password-main-title=title
        input(type="password" placeholder= placeholder ).password-main-input
mixin headerItem(img,title)
    .password-container
        .password-profile 
            img(src=img, alt="").password-profile-image
            i.fas.fa-chevron-right.password-profile-icon 
            h2.password-profile-title= title
        block 
mixin quizItemMain(title,name)
    .quiz-main-item 
        .quiz-main-title= title
        .quiz-main-name=name
mixin infomationItem(image,name,complete,iconPrimary,iconSecond,icon,icon2,href="#")
    .quiz-item 
        .quiz-header 
            img(src=image, alt="").quiz-images
            .quiz-title 
                .quiz-name=name
                .quiz-complete=complete 
            .quiz-icon-container    
                if iconPrimary=='true' 
                    a(href=href).admin-table-action.admin-table-action--blue.quiz-delete!=icon
                if iconSecond=='true'
                    a(href="#").admin-table-action.admin-table-action--red.quiz-delete!= icon2
        .quiz-main 
            +quizItemMain("Author","Sang Ha Phuoc")
            +quizItemMain("Date created","18/1/2001")
            +quizItemMain("Number of nembers","200")
            +quizItemMain("Number of quiz","21")
mixin pagination()
    ul.pagination
        li.page-item.page-item-first
            a(href="#").page-link.page-active
                span.page-link-icon <i class="fas fa-angle-left"></i>
                span Prev
        li.page-item.page-item-child
            a(href="#").page-link
                span 1
        li.page-item.page-item-child
            a(href="#").page-link
                span 2
        li.page-item.page-item-last
            a(href="#").page-link 
                span Next
                span.page-link-icon <i class="fas fa-angle-right"></i>
mixin lineSeparate(className="",text)
    .line-container.line-container--primary(class=className)
        p.line-text=text
        .line-separate

mixin inputbase(title,placeholder,typeInput="text")
    .input-base
        .input-base-title=title 
        input(type=typeInput placeholder=placeholder)
mixin featureTeacher()
    .admin-feature 
        .admin-logo Poppin
        .admin-feature-list 
            +featureItem("fas fa-tachometer-alt","Dashboard","overviewTeacher.html")
            +featureItem("fas fa-book","Mange Courses","editCourseTeacher.html")
            +featureItem("fas fa-comment-alt","Feedback","feedbackTeacher.html")
            +featureItem("fas fa-key","Change Password","passwordTeacher.html")
            +featureItem("fas fa-sign-out-alt","Logout")