section.test 
    .container 
        .test-container 
            img(srcset="images/test.png 2x", alt="").test-image
            .content 
                h2.content-title The Poppin English Test
                .text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore nesciunt et ex corporis, vitae odio quaerat reiciendis tempora ab distinctio fuga vel, quod laborum pariatur nihil nobis aspernatur velit ipsa?
                button.button.button--primary Get started
        +line()
section.test 
    .container 
        .test-container-reverse
            .content 
                h2.content-title Effective and efficient courses
                .text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore nesciunt et ex corporis, vitae odio quaerat reiciendis tempora ab distinctio fuga vel, quod laborum pariatur nihil nobis aspernatur velit ipsa?
                button.button.button--primary Get started
            img(src="images/effective.png", alt="").test-image