﻿@{
  ViewData["Title"] = "Reviewing Page";
  Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Reviewing</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="robots" content="index, follow">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <link rel="icon" href="favicon-16x16.png" type="image/x-icon" sizes="16x16">
  <link rel="stylesheet" href="~/public/styles/reset.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link
    href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&amp;family=Roboto:wght@300&amp;display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&amp;family=Roboto:wght@300&amp;display=swap"
    rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="~/public/styles/fontawesome.css">
  <link rel="stylesheet" href="~/public/styles/styles.css">
</head>

<body class="Reviewing">
  <div class="wrapper">
    <section class="reviewing_answers">
      <div class="progress">
        <button class="close-button" onclick="location.href='@Url.Action("Index", "LearningPage")'">&times; </button>
        <div class="progress-bar"></div>
      </div>
      <div class="div-reviewing">
        @{
          int word_count = 1;
        }
        @foreach (var question in (IEnumerable<Questions>)ViewData["GetQAforExam"])
        {
          if (@question.questionType_id == 2)
          {
            @foreach (var word in (IEnumerable<Word>)ViewData["WordsForQuestions"])
            {
              <div class="div-reviewing-content" data-word-number="@word_count" question-number="@question.questionType_id"
          data-answer="@word.word_face">
                <p class="p question-type">Chọn nghĩa của từ được gạch chân</p>
                <div class="textbox" id="question">@question.question_sentence</div>
                <div class="choice">
                  <button class="button">@word.word_face</button>
                  <button class="button">Check</button>
                  <button class="button">Train</button>
                </div>
              </div>
              <div class="div-answer" data-answer="@word.word_face">
                @switch (word.wordType_id)
                {
                  case "1":
                    <div>@word.word_face</div>
                    <div>@word.word_IPA</div>
                    <div>@word.word_nghia (n)</div>
                    <div>@word.word_phrase</div>
                    break;
                  case "2":
                    <div>@word.word_face</div>
                    <div>@word.word_IPA</div>
                    <div>@word.word_nghia (adj)</div>
                    <div>@word.word_phrase</div>
                    break;
                  case "3":
                    <div>@word.word_face</div>
                    <div>@word.word_IPA</div>
                    <div>@word.word_nghia (v)</div>
                    <div>@word.word_phrase</div>
                    break;
                }
              </div>
              word_count++;
            }
          }

          else if (@question.questionType_id == 3)
          {
            @foreach (var word in (IEnumerable<Word>)ViewData["WordsForQuestions"])
            {
              <div class="div-reviewing-content" data-word-number="@word_count" data-word-question="listen"
          question-number="@question.questionType_id" data-answer="@word.word_face">
                <p class="p question-type">Nghe và viết lại</p>
                <div class="div-text-to-speech">
                  <div class="div-audio-icon"><img class="audio-icon" src="images/speaker icon.jpg" alt=""></div>
                </div>
                <input class="textbox" id="answer" type="text" autofocus>
              </div>
              <div class="div-answer" data-answer="@word.word_face">
                @switch (word.wordType_id)
                {
                  case "1":
                    <div>@word.word_face</div>
                    <div>@word.word_IPA</div>
                    <div>@word.word_nghia (n)</div>
                    <div>@word.word_phrase</div>
                    break;
                  case "2":
                    <div>@word.word_face</div>
                    <div>@word.word_IPA</div>
                    <div>@word.word_nghia (adj)</div>
                    <div>@word.word_phrase</div>
                    break;
                  case "3":
                    <div>@word.word_face</div>
                    <div>@word.word_IPA</div>
                    <div>@word.word_nghia (v)</div>
                    <div>@word.word_phrase</div>
                    break;
                }
              </div>
              word_count++;
            }
          }
          else if (@question.questionType_id == 1)
          {
            @foreach (var word in (IEnumerable<Word>)ViewData["WordsForQuestions"])
            {
              <div class="div-reviewing-content" data-word-number="@word_count" question-number="@question.questionType_id"
          data-answer="@word.word_face">
                <p class="question-type">Điền từ</p>
                <div class="div-word">(n)@word.word_nghia</div>
                <input class="fill-in-the-word">
              </div>
              <div class="div-answer" data-answer="@word.word_face">
                @switch (word.wordType_id)
                {
                  case "1":
                    <div>@word.word_face</div>
                    <div>@word.word_IPA</div>
                    <div>@word.word_nghia (n)</div>
                    <div>@word.word_phrase</div>
                    break;
                  case "2":
                    <div>@word.word_face</div>
                    <div>@word.word_IPA</div>
                    <div>@word.word_nghia (adj)</div>
                    <div>@word.word_phrase</div>
                    break;
                  case "3":
                    <div>@word.word_face</div>
                    <div>@word.word_IPA</div>
                    <div>@word.word_nghia (v)</div>
                    <div>@word.word_phrase</div>
                    break;
                }
              </div>
              word_count++;
            }
          }
        }
        <button class="test" >Kiểm tra</button>
      </div>
    </section>
  </div>
  <script src="~/public/scripts/review.js"></script>
</body>

</html>