a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
}
body {
    font-family: $primary-font;
    line-height: 1;
}
input,
button {
    font-family: $primary-font;
    line-height: 1;
    outline: none;
}
button {
    cursor: pointer;
}
.title {
    max-width: 63rem;
    width: 100%;
    font-family: $secondary-font;
    color: black;
    font-size: 3.6rem;
    line-height: 5.6rem;
    margin: 2rem auto;
    position: relative;
    margin-bottom: 7.6rem;
    text-align: center;
}
.title::before {
    content: "";
    position: absolute;
    width: 6rem;
    height: 0.2rem;
    background-color: black;
    border-radius: 2rem;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
    color: $text-color;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &-title {
        font-family: $secondary-font;
        max-width: 30rem;
        font-size: 3.6rem;
        font-weight: 700;
        padding-bottom: 2.5rem;
        margin-bottom: 2.5rem;
        position: relative;
        line-height: 1.6;
    }
    &-title::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 6rem;
        height: 0.2rem;
        background-color: black;
    }
}
.footer {
    margin-top: 3rem;
    height: 30rem;
    background-color: $secondary-color;
}
.input {
    &-list {
        display: flex;
        flex-direction: column;
        max-width: 60rem;
        width: 100%;
        gap: 2rem 0;
        margin: 5.2rem auto;
    }
    &-item {
        display: flex;
        align-items: center;
        gap: 0 2rem;
        width: 100%;
        .input {
            padding: 22px 28px;
            border: 5px solid #cdcdcd;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            border-radius: 20px;
            font-family: $primary-font;
            flex-grow: 1;
            font-size: 1.8rem;
        }
        i {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 4.2rem;
        }
    }
}
