@mixin boxShadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin currentColor($color, $opacity, $class, $number: -1) {
    @if $number==-1 {
        #{$class} {
            width: fit-content;
            padding: 1.2rem;
            color: $color;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #{$class}::before {
            border-radius: 1rem;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: currentColor;
            opacity: $opacity;
        }
    } @else if $number!= -1 {
        #{$class}:nth-child(#{$number}) {
            width: 100%;
            padding: 1.2rem;
            color: $color;
            position: relative;
        }
        #{$class}:nth-child(#{$number})::before {
            border-radius: 1rem;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: currentColor;
            opacity: $opacity;
        }
    }
}
@mixin hoverPrimary($class) {
    #{$class} {
        transition: all 0.25s linear;
        &:hover {
            border: 1px solid $primary-color;
        }
    }
}
@mixin each($num) {
    &:nth-child(#{$num}) {
        @content;
    }
}
@mixin wordWrap() {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    overflow: hidden;
}
