<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
script(src="scripts/admin.js")
script(src="scripts/main.js")
script(src="scripts/teacher.js")
script(src="scripts/learning.js")
script(src="scripts/wordlearning.js")
script(src="scripts/ajax.js")
//script(src="scripts/chart.js")