section.payment
    .learning-header
        .titleword  Poppin' 
        .navbar
            .icons
                .icons-icon#revise(data-switcher data-tab="1")  
                    img(src="./images/looparrow.png", alt="")
                    span Revise
                .icons-icon#learnword(data-switcher data-tab="2")
                    img(src="./images/stackofbooks.png", alt="")
                    span Learn new words
                .icons-icon#notebook(data-switcher data-tab="3")
                    img(src="./images/notebook.png", alt="")
                    span Notebook
        .settings
            .icons 
                .icons-user
                    img(src="./images/usericon.png", alt="" height = 80 width = 80)
                .icons-settingbar 
                    img(src="./images/settingbar.png", alt="" height = 60 width = 60)
    .icon-method
        img(srcset="./images/master.png 2x").method-master
        img(srcset="./images/momo.png 2x").method-momo
        img(srcset="./images/bank.png 2x").method-banking
    .payment-title
        lable(for="title-first" id="title-first") Poppins'
        lable(for="title-second" id="title-second") Premium
    .payment-premium
        lable(for="basic" id="basic") 1 month/4.99$ 
        lable(for="premium" id="premium") 6 month/19.99$ 
        lable(for="sale-premuim" id="sale-premium") 12 month/35.99$
    .payment-main
        form(action="#" id="pay")
            select(name="method" id="subscript")
                option(value="defaultselect") Please select a subcription
                option(value="monthly") Monthly (1 month/4.99$)
                option(value="basic") Basic (6 months/19.99$)
                option(value="extra") Extra Premium (12 months/35.99$)
            select(name="method" id="method")
                option(value="default") Please select a payment method
                option(value="master") MasterCard 
                option(value="momo") MoMo
                option(value="banking") Internet Banking
            label(for="card-number" id="card") Card Number
            input(type="text" id="card-number")
            label(for="cvv" id="cv") CVV
            input(type="text" id="cvv")
            label(for="valid-card" id="m-y") Valid Until
            select(name="month" id="month")
                option(value="default-month") Month
                option(value="jan") 01  
                option(value="feb") 02  
                option(value="mar") 03  
                option(value="apr") 04  
                option(value="may") 05  
                option(value="jun") 06  
                option(value="jul") 07  
                option(value="aug") 08  
                option(value="sep") 09  
                option(value="oct") 10  
                option(value="nov") 11  
                option(value="dec") 12  
            select(name="year" id="year")
                option(value="default-year") Year
                option(value="2022") 2022 
                option(value="2023") 2023 
                option(value="2024") 2024 
                option(value="2025") 2025 
                option(value="2026") 2026 
                option(value="2027") 2027 
                option(value="2028") 2028 
                option(value="2029") 2029 
                option(value="2030") 2030 
    .payment-button
        button.button-payment-back(type="submit" alt="") Back
        button.button-pay(type="submit" alt="") Place order
                