section.paymentStatus
    .learning-header
        .titleword  Poppin' 
        .navbar
            .icons
                .icons-icon#revise(data-switcher data-tab="1")  
                    img(src="./images/looparrow.png", alt="")
                    span Revise
                .icons-icon#learnword(data-switcher data-tab="2")
                    img(src="./images/stackofbooks.png", alt="")
                    span Learn new words
                .icons-icon#notebook(data-switcher data-tab="3")
                    img(src="./images/notebook.png", alt="")
                    span Notebook
        .settings
            .icons 
                .icons-user
                    img(src="./images/usericon.png", alt="" height = 80 width = 80)
                .icons-settingbar 
                    img(src="./images/settingbar.png", alt="" height = 60 width = 60)
    .status
        h2.notify-first Congratulation!!!... / OMG!!! That have an issue...
        img(srcset="./images/premium.jpg 2x").premium-icon
        h2.notify-second Your account upgrade premium is successful/failed...
        .table-status
            table 
                tr.col  
                    th Name 
                    th Price 
                    th Date 
                    th Description 
                tr.con-status 
                    td Monthly 
                    td 4.99$
                    td 02/22/2022
                    td Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia modi dicta dignissimos minus, ducimus nisi ratione minima soluta distinctio ex. Beatae sunt tempore dicta commodi perferendis vitae totam consequuntur eveniet.
    .button-success 
        button.button-back(type="back" alt="") Back
        button.button-retry(type="submit" alt="") Retry Order
        button.htr(type="submit" alt="") Continue