section.history
    .learning-header
        .titleword  Poppin' 
        .navbar
            .icons
                .icons-icon#revise(data-switcher data-tab="1")  
                    img(src="./images/looparrow.png", alt="")
                    span Revise
                .icons-icon#learnword(data-switcher data-tab="2")
                    img(src="./images/stackofbooks.png", alt="")
                    span Learn new words
                .icons-icon#notebook(data-switcher data-tab="3")
                    img(src="./images/notebook.png", alt="")
                    span Notebook
        .settings
            .icons 
                .icons-user
                    img(src="./images/usericon.png", alt="" height = 80 width = 80)
                .icons-settingbar 
                    img(src="./images/settingbar.png", alt="" height = 60 width = 60)
    .intro
        h1.intro Premium List
    .paymentHistory
        table
            tr
                th.col No
                th.col Premium Name 
                th.col Date 
                th.col Price
                th.col Status
            tr
                td 01
                td Monthly Premium
                td 02/15/2022
                td 4.99$
                td Success
            tr
                td 01
                td Monthly Premium
                td 02/15/2022
                td 4.99$
                td Success
            tr
                td 01
                td Monthly Premium
                td 02/15/2022
                td 4.99$
                td Success
            tr
                td 01
                td Monthly Premium
                td 02/15/2022
                td 4.99$
                td Success
    .history-button 
        button.button-back(type="back" alt="") Back
        button.htr(type="submit" alt="") Confirm
        

        