@{
    ViewData["Title"] = "ManageChapterDetail";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}
    <div class="chapter-wrapper">
        <div class="password-container">
            <div class="password-profile">
                <img
                    class="password-profile-image"
                    src="/images/main.jpg"
                    alt=""
                /><i
                    class="fas fa-chevron-right password-profile-icon"
                >
                </i>
                <h2 class="password-profile-title">Quizzes</h2>
            </div>
        </div>
        <div class="line-container line-container--primary">
            <p class="line-text">ALL OF QUESTIONS</p>
            <div class="line-separate"></div>
        </div>
        <div class="chapter-container">
            <h2 class="chapter-title"></h2>
            <div class="chapter-list">
                @if(ViewBag.Words==null){
                    <p class="empty-question"> You dont have any question in here</p>
                }
                @{int count=0;}
                @if(ViewBag.Words!=null){
                    @foreach (var item in ViewBag.Words)
                {
                <form method="post" id="fquestion" name="formQuestion" enctype="multipart/form-data" class="chapter-item">
                    <div class="chapter-item-group">
                        <h3 class="chapter-item-name">
                            @{count++;}
                            Quesion @count
                        </h3>
                        <i class="fas fa-angle-up"></i>
                    </div>
                    <div class="chapter-update-container">
                        <div class="chapter-update-main">
                            <div class="chapter-update-top">
                                <div class="input-base">
                                    <div class="input-base-title">
                                        Vocabulary
                                    </div>
                                    <input
                                        type="text" value="@item.word_face"
                                        placeholder="Enter your vocaluary" name="vocabulary"
                                    />
                                </div>
                                <div class="input-base">
                                    <div class="input-base-title">
                                        IPA
                                    </div>
                                    <input
                                        type="text" value="@item.word_IPA"
                                        placeholder="Enter your vocaluary"
                                        name="ipa"
                                    />
                                </div>
                            </div>
                            <div class="input-base">
                                <div class="input-base-title">
                                    Meaning
                                </div>
                                <input
                                    type="text"
                                    placeholder="Enter your meaning word"
                                    value="@item.word_nghia"
                                    name="meaning"
                                />
                            </div>
                            <div class="input-base">
                                <div class="input-base-title">
                                    Type of word
                                </div>
                                <div class="selection">
                                    @foreach (var type in ViewBag.WordTypes)
                                    {
                                        @if (type.wordtype_id==item.wordType_id)
                                        {
                                            <input
                                        type="text"
                                        class="selected"
                                        placeholder="Value"
                                        data-id-type="@type.wordtype_id"
                                        value="@type.wordtype_name"
                                        name="type"
                                        readonly
                                    />
                                        }
                                    }
                                    
                                    <div class="options-container">
                                        @foreach (var elemt in ViewBag.WordTypes)
                                        {
                                            <div class="options-item">@elemt.wordtype_name</div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="input-base">
                                <div class="input-base-title">
                                    For example
                                </div>
                                <input
                                    type="text"
                                    placeholder="Enter your example for word"
                                    value="@item.word_phrase"
                                    name="ex"
                                />
                            </div>
                            <div class="chapter-update-top">
                                <div class="input-base">
                                    <div class="input-base-title">
                                        Images
                                    </div>
                                    <div class="input-file">
                                        <input
                                            id="file"
                                            type="file"
                                            name="file"
                                            value="@item.word_image"
                                            class="file-images"
                                        />
                                        <img class="image-word" src="@item.word_image" alt="">
                                        <label
                                            class="input-label"
                                            for="file"
                                            ><i
                                                class="fas fa-cloud-upload-alt icon-upload"
                                            ></i
                                        ></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" value="@ViewBag.chapterID" name="chapterID">
                        <input type="hidden" value="@item.word_id" name="wordID">
                        <div class="submit-container">
                            <input
                                class="btn-submit"
                                type="submit"
                                value="Update"
                            />
                            <a class="btn-submit btn-submit--normal" data-id-quesiton="@item.word_id" data-id-chapter="@ViewBag.chapterID" onclick="handleDeleteQuestion(this)">
                                Delete
                            </a>
                        </div>
                    </div>
                </form>
                }
            }
            </div>
        </div>
        <div class="line-container line-container--primary">
            <p class="line-text">New question</p>
            <div class="line-separate"></div>
        </div>
        <form method="post" id="fquestion" name="formQuestion" class="chapter-update-container chapter-add-container" enctype="multipart/form-data">
            <div class="chapter-update-main">
                <div class="chapter-update-top">
                    <div class="input-base">
                        <div class="input-base-title">
                            Vocabulary
                        </div>
                        <input required
                            type="text"
                            placeholder="Enter your vocaluary"
                            name="vocabulary"
                        />
                    </div>
                    <div class="input-base">
                        <div class="input-base-title">
                            IPA
                        </div>
                        <input required
                            type="text"
                            placeholder="Enter your vocaluary"
                            name="ipa"
                        />
                    </div>
                </div>
                <div class="input-base">
                    <div class="input-base-title">Meaning</div>
                    <input required
                        type="text"
                        placeholder="Enter your meaning word"
                        name="meaning"
                    />
                </div>
                <div class="input-base">
                    <div class="input-base-title">
                        Type of word
                    </div>
                    
                    <div class="selection">
                        <input required type="text" class="selected" placeholder="Value" name="type" readonly/>
                        <div class="options-container">
                            @foreach (var elemt in ViewBag.WordTypes)
                            {
                                <div class="options-item">@elemt.wordtype_name</div>
                            }
                        </div>
                    </div>
                </div>
                <div class="input-base">
                    <div class="input-base-title">For example</div>
                    <input required
                        type="text"
                        placeholder="Enter your example for word"
                        name="ex"
                    />
                </div>
                <div class="chapter-update-top">
                    <div class="input-base">
                        <div class="input-base-title">Images</div>
                        <div class="input-file">
                                <input
                                    id="file"
                                    type="file"
                                    name="file"
                                    class="file-images"
                                />
                                <img class="image-word" src="" alt=" ">
                                <label
                                    class="input-label"
                                    for="file"
                                    ><i
                                        class="fas fa-cloud-upload-alt icon-upload"
                                    ></i
                                ></label>                            
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" value="@ViewBag.chapterID" name="chapterID">
            <div class="submit-container">
                <input class="btn-submit" type="submit" value="Add"/>
            </div>
        </form>
    </div>
