﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Admin</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <link rel="icon" href="favicon-16x16.png" type="image/x-icon" sizes="16x16">
    <link rel="stylesheet" href="/public/styles/reset.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&amp;family=Roboto:wght@300&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&amp;family=Roboto:wght@300&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/styles/fontawesome.css">
    <link rel="stylesheet" href="/public/styles/styles.css">
  </head>
<body class="Login">
    <div class="wrapper">
        <section class="login">
            <div class="login-container">
                <div class="login-header">
                    <a class="login-close" asp-controller="Home" asp-action="Index"><i class="fa fa-times"></i></a>
                    <a asp-controller="Account" asp-action="Sigup" class="button-sigup">Sign Up</a>
                </div>
                @using (Html.BeginForm("CheckLogin", "Account", FormMethod.Post))
                {
                    <div class="login-main">
                        <div class="login-title">Log In</div>
                        <div class="input-list">
                            <div class="input-item">
                                <i class="fas fa-user-circle"></i>
                                <input class="input" name="name" type="text" placeholder="User name">
                            </div>
                            <div class="input-item">
                                <i class="fas fa-lock"></i>
                                <input class="input" type="password" placeholder="Password" name="password">
                            </div>
                            <a class="login-forget" href="#"><h3>Forgot password</h3></a>
                        </div>
                        <div class="notification-login">@TempData["Error"]</div>
                        <button class="button-base" type="submit">Log in </button>
                        <p class="login-auth">By signing in to Poppin', you agree to our Terms and Privacy Policy.</p>
                    </div>
                }
            </div>
        </section>
    </div>
    <script src="/public/script/admin.js"></script>
    <script src="/public/script/main.js"></script>
    <script src="/public/script/teacher.js"></script>
    <script src="/public/script/learning.js"></script>
    <script src="/public/script/wordlearning.js"></script>
    <!--script(src="scripts/chart.js")-->
</body>
</html>
