@{
    ViewData["Title"] = "Password";
}
<div class="password-wrapper"> 
        <div class="password-container">
        <div class="password-profile"> <img class="password-profile-image" src="./images/main.jpg" alt=""/><i class="fas fa-chevron-right password-profile-icon"> </i>
            <h2 class="password-profile-title">Change password</h2>
        </div>
        </div>
        <div class="password-main"> 
        <div class="password-main-filed"> 
            <div class="password-main-title">Old password</div>
            <input class="password-main-input" type="password" placeholder="Enter old password"/>
        </div>
        <div class="password-main-filed"> 
            <div class="password-main-title">New password</div>
            <input class="password-main-input" type="password" placeholder="Enter new password"/>
        </div>
        <div class="password-main-filed"> 
            <div class="password-main-title">Re-enter password</div>
            <input class="password-main-input" type="password" placeholder="Re-enter new password"/>
        </div>
        <button class="password-submit" type="submit">Update password</button>
        </div>
    </div>