@{
    ViewData["Title"] = "Password";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="password-wrapper"> 
    @using (Html.BeginForm("CheckLogin", "Account", FormMethod.Post)){
    <div class="password-main"> 
        <div class="password-main-filed"> 
            <div class="password-main-title">Old password</div>
            <input class="password-main-input" type="password" placeholder="Enter old password" name="oldPassword"/>
        </div>
        <div class="password-main-filed"> 
            <div class="password-main-title">New password</div>
            <input class="password-main-input" type="password" placeholder="Enter new password" name="newPassword"/>
        </div>
        <div class="password-main-filed"> 
            <div class="password-main-title">Re-enter password</div>
            <input class="password-main-input" type="password" placeholder="Re-enter new password" name="renewPassword"/>
        </div>
        <button class="password-submit" type="submit" >Update password</button>
    </div>
    }
</div>