@{
    ViewData["Title"] = "FeedBackTeacher";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}
<div class="admin-main admin-main--course">
    <div class="admin-filed">
        <i class="fas fa-search"></i>
        <input class="admin-search" type="text" placeholder="Search for student name" id="valueSearchTeacher">
    </div>
    <div class="admin-top">
    <div class="admin-title">List of feedback</div>
    <div class="admin-table admin-teacher">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Content</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Delete</th>
                </tr>
            </thead>
        <tbody class="resultSearchFeedback">
            @foreach (var item in ViewBag.Feedbacks){
            @foreach (var element in ViewBag.Users)
            {
                @if (element.UserID==item.user_id)
                {
            <tr>
                <td>
                    <div class="admin-table-number">@item.feedback_id</div>
                </td>
                <td>
                    <div class="admin-table-content">
                        @item.feedback_content
                    </div>
                </td>
                <td>
                    <div class="admin-table-name" style="justify-content: center;"> <img class="admin-table-image" src="@element.urlAvatar" alt="">
                    <p class="admin-table-name">@element.FullName</p>
                    </div>
                </td>
                <td>
                    <div class="admin-table-type">@item.feedback_time.ToShortDateString()</div>
                </td>
                <td>
                    @if (item.status==true)
                    {
                        <p class="admin-table-action admin-table-action--green" >
                        resolve
                        </p>
                    }
                    @if (item.status==false)
                    {
                        <p class="admin-table-action admin-table-action--red" >
                            unresolve
                        </p>
                    }
                </td>
                <td> <a class="admin-table-action admin-table-action--red" asp-action="UpdateStatus" asp-controlle="Feedback" asp-route-status="@item.status" asp-route-id="@item.feedback_id" asp-route-role="2"><i class="far fa-trash"></i>
                </a>
                </td>
            </tr>
            }
            }
                }
        </tbody>
        </table>
    </div>
    </div>
</div>