@{
    ViewData["Title"] = "Index";
}
<div class="admin-main"> 
          <h2 class="admin-title">Overview</h2>
          <div class="admin-data"> 
            <div class="admin-data-item">   
              <div class="admin-data-left"> 
                <div class="admin-data-title">Total money</div>
                <div class="admin-data-number">123$</div>
              </div><img class="admin-data-image" src="./images/money.jpg" alt=""/>
            </div>
            <div class="admin-data-item">   
              <div class="admin-data-left"> 
                <div class="admin-data-title">Sold</div>
                <div class="admin-data-number">67</div>
              </div><img class="admin-data-image" src="./images/Sold.png" alt=""/>
            </div>
          </div>
          <div class="admin-chart"> 
            <h2 class="admin-title admin-title--sale">Sales analytic</h2>
            <canvas id="myChart"> </canvas>
          </div>
          <div class="admin-top"> 
            <div class="admin-title">Detail</div>
            <div class="admin-table"> 
              <table> 
                <thead> 
                  <tr> 
                    <th>Course ID</th>
                    <th>Email</th>
                    <th>Course type</th>
                    <th>Order date</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody> 
                  <tr> 
                    <td> 
                      <div class="admin-table-number">1</div>
                    </td>
                    <td> 
                      <div class="admin-table-name"> <img class="admin-table-image" src="./images/student.jpg" alt="">
                        <p class="admin-table-name">Bill gate </p>
                      </div>
                    </td>
                    <td> 
                      <div class="admin-table-action">premium</div>
                    </td>
                    <td> 
                      <div class="admin-table-point">2022-1-19</div>
                    </td>
                    <td> 
                      <div class="admin-table-action admin-table-action--green">Success</div>
                    </td>
                  </tr>
                  <tr> 
                    <td> 
                      <div class="admin-table-number">1</div>
                    </td>
                    <td> 
                      <div class="admin-table-name"> <img class="admin-table-image" src="./images/student.jpg" alt="">
                        <p class="admin-table-name">Bill gate </p>
                      </div>
                    </td>
                    <td> 
                      <div class="admin-table-action">premium</div>
                    </td>
                    <td> 
                      <div class="admin-table-point">2022-1-19</div>
                    </td>
                    <td> 
                      <div class="admin-table-action admin-table-action--green">Success</div>
                    </td>
                  </tr>
                  <tr> 
                    <td> 
                      <div class="admin-table-number">1</div>
                    </td>
                    <td> 
                      <div class="admin-table-name"> <img class="admin-table-image" src="./images/student.jpg" alt="">
                        <p class="admin-table-name">Bill gate </p>
                      </div>
                    </td>
                    <td> 
                      <div class="admin-table-action">premium</div>
                    </td>
                    <td> 
                      <div class="admin-table-point">2022-1-19</div>
                    </td>
                    <td> 
                      <div class="admin-table-action admin-table-action--green">Success</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>