.wrapper {
  max-width: 1440px;
  margin: 0 auto; }

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px; }

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.line {
  width: 100%;
  height: 0.2rem;
  background-color: #c4c4c4;
  margin-top: 11rem; }

a {
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

body {
  font-family: "Popins", sans-serif;
  line-height: 1; }

input,
button {
  font-family: "Popins", sans-serif;
  line-height: 1;
  outline: none; }

button {
  cursor: pointer; }

.title {
  max-width: 63rem;
  width: 100%;
  font-family: "Mulish", sans-serif;
  color: black;
  font-size: 3.6rem;
  line-height: 5.6rem;
  margin: 2rem auto;
  position: relative;
  margin-bottom: 7.6rem;
  text-align: center; }

.title::before {
  content: "";
  position: absolute;
  width: 6rem;
  height: 0.2rem;
  background-color: black;
  border-radius: 2rem;
  position: absolute;
  top: 150%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  color: #7c7887; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .content-title {
    font-family: "Mulish", sans-serif;
    max-width: 30rem;
    font-size: 3.6rem;
    font-weight: 700;
    padding-bottom: 2.5rem;
    margin-bottom: 2.5rem;
    position: relative;
    line-height: 1.6; }
  .content-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 6rem;
    height: 0.2rem;
    background-color: black; }

.footer {
  margin-top: 3rem;
  height: 30rem;
  background-color: #5186c8; }

.input-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 60rem;
  width: 100%;
  gap: 3rem 0;
  margin: 5.2rem auto; }

.input-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 2rem;
  width: 100%; }
  .input-item .input {
    padding: 22px 28px;
    border: 5px solid #cdcdcd;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    font-family: "Popins", sans-serif;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 1.8rem; }
  .input-item i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 4.2rem; }

.admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f9fcfe; }
  .admin-feature {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background-color: white;
    max-width: 36.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 8rem 0; }
  .admin-logo {
    font-size: 6rem;
    font-weight: bold;
    margin-top: 3rem;
    text-align: center; }
  .admin-feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 3rem 0; }
  .admin-feature-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0 2rem;
    font-size: 1.8rem;
    color: #aaadb1;
    padding: 1rem 0;
    padding-left: 5rem;
    padding-right: 1rem;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear; }
    .admin-feature-item:hover {
      border-radius: 0.7rem;
      background-color: rgba(204, 204, 204, 0.454); }
  .admin-feature-icon {
    font-size: 3.6rem; }
  .admin-feature-name {
    font-weight: 500; }

.feature-click {
  position: relative;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear; }
  .feature-click .admin-feature-icon,
  .feature-click .admin-feature-name {
    color: #75ce55; }
  .feature-click::after {
    position: absolute;
    content: "";
    width: 1rem;
    height: 100%;
    background-color: #75ce55;
    border-radius: 0.5rem;
    left: -0.5rem; }

.admin-title {
  font-weight: bold;
  font-size: 3.6rem;
  margin-right: auto;
  margin-bottom: 3.8rem; }

.admin-search {
  outline: none;
  border: 0;
  width: 100%;
  font-family: "Popins", sans-serif;
  font-size: 1.8rem;
  color: #7c7887;
  background-color: inherit; }

.admin-filed {
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 1rem;
  max-width: 35rem;
  width: 100%;
  border: 0.2rem solid #cccc;
  padding: 1.5rem 1.5rem 1.5rem;
  border-radius: 1rem;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear; }
  .admin-filed i {
    color: #7c7887;
    font-size: 1.8rem; }
  .admin-filed:hover {
    border: 2px solid #75ce55; }

.admin-table-action {
  cursor: pointer; }

.header {
  background-color: #5287c8;
  padding: 15px; }
  .header-title {
    width: 355px;
    font-family: Poppins;
    font-weight: bold;
    font-size: 6rem;
    text-align: center;
    color: #ffffff; }

.started-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.started-image-main {
  width: 760px; }

.started-image {
  width: 345px;
  margin-bottom: 2rem; }

.started-left {
  margin-right: 8.5rem;
  margin-top: 7.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0 4rem; }

.started-right {
  text-align: center; }

.started-text {
  font-size: 2rem;
  font-weight: 800; }

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1rem; }

.why-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5.7rem; }

.why-item {
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 2rem 2rem 5rem 2rem;
  background-color: white;
  border-radius: 2rem; }

.why-image {
  width: 7rem;
  height: 7rem;
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: 1rem; }

.why-title {
  font-family: "Mulish", sans-serif;
  color: black;
  font-size: 2.4rem;
  font-weight: 500;
  margin: 2rem 0; }

.test-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 45%;
  grid-template-columns: 55% 45%;
  grid-gap: 3.2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.test-container-reverse {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 45%;
  grid-template-columns: 55% 45%;
  grid-gap: 3.2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.test-image {
  max-width: 65rem;
  width: 100%; }

.plan {
  margin-bottom: 15rem; }
  .plan-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem; }
  .plan-item {
    border-radius: 1rem;
    padding: 7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid #cccc;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear; }
    .plan-item:hover {
      -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border: 1px solid #75ce55; }
  .plan-image {
    margin-bottom: 2rem; }
  .plan-title {
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 3rem; }
  .plan-feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1rem 0;
    margin-bottom: 9rem; }
    .plan-feature-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #7c7887;
      gap: 0 1rem;
      line-height: 1.6; }
  .plan-price {
    font-weight: 600;
    font-size: 2.4rem;
    margin-bottom: 2rem; }

.login-container {
  padding: 2rem; }

.login-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.login-close {
  font-size: 3rem;
  color: #ccc; }

.login-main {
  margin: 0 auto;
  max-width: 80rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 10rem; }

.login-title {
  font-weight: 700;
  font-size: 2.5rem;
  color: white;
  padding: 1.2rem 8rem;
  background-color: #5186c8;
  border-radius: 2rem;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.login-forget {
  margin-left: auto;
  font-size: 1.8rem;
  color: #7c7887;
  font-family: "Popins", sans-serif;
  margin-top: -1rem; }

.login-auth {
  font-size: 2.4rem;
  font-family: "Popins", sans-serif;
  font-weight: 500;
  margin-top: 3rem;
  color: #c4c4c4; }

.admin-course--primary {
  margin-top: 1rem; }

.admin-main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 4rem 3.5rem; }
  .admin-main--course {
    padding: 1rem 3.5rem; }

.admin-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0rem 3rem; }

.admin-data-item {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 32rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; }

.admin-data-image {
  width: 12.3rem;
  height: 12.3rem;
  margin-left: auto; }

.admin-data-title {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 2rem; }

.admin-data-number {
  font-size: 4.8rem;
  font-weight: 500;
  margin: auto 0; }

.admin-table-content {
  line-height: 1.5;
  font-size: 1.8rem; }

.admin-table table {
  width: 100%;
  font-size: 2.4rem;
  color: #8c8d95; }

.admin-table table th,
.admin-table table td {
  text-align: left;
  vertical-align: middle; }

.admin-table table th:nth-child(2) {
  width: 30%; }

.admin-table thead tr {
  border-bottom: 2px solid #ccc; }

.admin-table thead tr th {
  padding-bottom: 1.6rem; }

.admin-table tbody tr td {
  padding: 1.6rem 0; }

.admin-table-image {
  width: 3rem;
  height: 3rem;
  border-radius: 100rem;
  -o-object-fit: cover;
  object-fit: cover; }

.admin-table-number {
  width: 3rem;
  height: 3rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.admin-table-number::before {
  border-radius: 1rem;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  opacity: 0.1; }

.admin-table-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 1rem; }

.admin-top {
  padding: 1.8rem;
  background-color: white;
  border-radius: 2rem;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 3.5rem; }

.admin-table-order {
  margin-top: 2rem; }

.admin-table-action {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.2rem;
  color: #f62682;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.admin-table-action::before {
  border-radius: 1rem;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  opacity: 0.1; }

.admin-table-action--red {
  color: #f62682; }

.admin-table-action--blue {
  color: #5186c8; }

.admin-table-action--purple {
  color: #6a5af9; }

.admin-table-action--orange {
  color: #ff6651; }

.admin-table-action--green {
  color: #20e3b2; }

.admin-teacher {
  max-height: 30rem;
  height: 100%;
  overflow-y: scroll; }

:root {
  --border: #cccccc;
  --color-text: #7d7987; }

.button {
  padding: 1.5rem 2.5rem;
  outline: none;
  border-radius: 2rem;
  border: 1px solid #75ce55;
  background-color: white;
  color: #7c7887;
  font-size: 1.6rem;
  font-weight: 400;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  font-family: "Popins", sans-serif; }
  .button:hover {
    background-color: #75ce55;
    color: white; }
  .button--primary {
    padding: 1.5rem 3rem;
    margin-top: 2rem; }
  .button--third {
    padding: 1.5rem 4rem; }

.button-sigup {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1.4rem 4.3rem;
  font-size: 2.4rem;
  font-weight: 500;
  outline: none;
  border: none;
  background: #eeeeee;
  border-radius: 1.5rem; }

.button-base {
  font-family: "Popins", sans-serif;
  max-width: 40rem;
  width: 100%;
  padding: 1.5rem 8rem;
  color: white;
  outline: none;
  border: none;
  border-radius: 3rem;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-align: center;
  background-color: #75ce55;
  font-size: 2.6rem;
  font-weight: 700; }
  .button-base--red {
    background-color: #f62682; }

.btn-primary {
  outline: none;
  padding: 1.4rem 2.3rem;
  border: 0.1rem solid var(--border);
  border-radius: 0.5rem;
  background-color: inherit;
  color: var(--color-text);
  font-size: 1.6rem;
  font-weight: 500;
  display: inline-block;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear; }
  .btn-primary--add {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .btn-primary--course {
    margin: 3.2rem auto 3.2rem 0; }
  .btn-primary:hover {
    background-color: #75ce55;
    color: white; }

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem; }

.btn-submit {
  padding: 1.7rem 4.5rem;
  outline: none;
  border: none;
  color: white;
  background-color: #e76464;
  font-weight: 600;
  font-size: 1.6rem;
  border-radius: 0.5rem; }
  .btn-submit--normal {
    color: #7d7987;
    border: 1px solid #ccc;
    background-color: inherit; }

.submit-container {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem; }

.userpageicon {
  background: transparent;
  border: none;
  top: 20px;
  left: 20px;
  position: absolute;
  color: #75ce55;
  font-size: 75px;
  font-family: Poppins; }

.profile-premium {
  top: 762px;
  left: 920px;
  width: 290px;
  height: 50px;
  position: absolute;
  border: none;
  border-radius: 5px 5px 5px 5px;
  background-color: #75ce55;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0)), color-stop(51%, rgba(255, 255, 255, 0.5)));
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.5) 51%); }

.profile-premium:hover {
  color: black;
  background-color: #ffb800;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0)), color-stop(51%, rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.7) 51%); }

.profile-comfirm {
  background-color: Transparent;
  border: 1px;
  background-color: rgba(133, 130, 128, 0.562);
  top: 1044px;
  left: 530px;
  color: #7c7887;
  width: 238px;
  height: 75px;
  position: absolute;
  font-size: 45px;
  text-align: center;
  font-family: "Popins", sans-serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  border-radius: 15px 15px 15px 15px; }

.profile-comfirm:hover {
  background-color: #75ce55;
  color: white; }

.profile-lightbutton {
  background-color: #6441A5;
  color: #FFF;
  padding: 15px 32px;
  top: 616px;
  left: 920px;
  width: 290px;
  height: 50px;
  padding-bottom: 40px;
  position: absolute;
  font-size: 20px;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  box-shadow: 0 0 0 0 rgba(34, 36, 38, 0.15) inset; }

.profile-lightbutton2 {
  background-color: #6441A5;
  color: #FFF;
  padding: 15px 32px;
  top: 687px;
  left: 920px;
  width: 290px;
  height: 50px;
  position: absolute;
  font-size: 20px;
  padding-bottom: 40px;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  box-shadow: 0 0 0 0 rgba(34, 36, 38, 0.15) inset; }

.vitri-button1 {
  top: 616px;
  left: 920px;
  width: 289px;
  height: 50px; }

.vitri-button2 {
  top: 687px;
  left: 921px;
  width: 289px;
  height: 44px; }

.profile-lightbutton:hover {
  background-color: #3B2064; }

.profile-lightbutton2:hover {
  background-color: #3B2064; }

.profile-user467-profile-user467 {
  width: 100%;
  height: 1264px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 1287px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-color: transparent;
  background-color: white; }

.profile-user467-text {
  top: 551px;
  left: 114px;
  width: 465px;
  height: 45px;
  position: absolute;
  font-size: 30px;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: "Popins", sans-serif;
  color: #7c7887;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal; }

.profile-user467-text1 {
  top: 619px;
  left: 94px;
  width: 504px;
  height: 43px;
  position: absolute;
  font-size: 30px;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: "Popins", sans-serif;
  color: #7c7887;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal; }

.profile-user467-text2 {
  top: 687px;
  left: 65px;
  width: 664px;
  height: 43px;
  position: absolute;
  font-size: 30px;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: "Popins", sans-serif;
  color: #7c7887;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal; }

.profile-user467-text3 {
  top: 757px;
  left: 155px;
  width: 292px;
  height: 42px;
  position: absolute;
  font-size: 30px;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: "Popins", sans-serif;
  color: #7c7887;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal; }

.profile-user467-group49button1578 {
  top: 772px;
  left: 933px;
  width: 286px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  border-color: transparent; }

.profile-user467-image {
  top: 4px;
  left: 131px;
  width: 148px;
  height: 38px;
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  border-color: transparent;
  border-radius: 30px;
  background-color: #ffb700; }

.profile-user467-group481577 {
  top: 0px;
  left: 0px;
  width: 286px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  border-color: transparent; }

.profile-user467-text4 {
  top: 0px;
  left: 0px;
  color: black;
  width: 286px;
  height: 42px;
  position: absolute;
  font-size: 30px;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal; }

.profile-user467-text5 {
  top: 616px;
  left: 920px;
  color: black;
  width: 289px;
  height: 50px;
  position: absolute;
  font-size: 30px;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  font-style: normal;
  text-align: right;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal; }

.profile-user467-text6 {
  top: 687px;
  left: 921px;
  color: black;
  width: 222px;
  height: 44px;
  position: absolute;
  font-size: 30px;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  font-style: normal;
  text-align: right;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal; }

.profile-user467-image1 {
  top: 1032px;
  left: 484px;
  width: 292px;
  height: 100px;
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  border: lawngreen;
  border-color: lawngreen;
  border-radius: 30px;
  background-color: #c4c4c4; }

.profile-user467-image1:hover {
  background-color: lawngreen; }

.profile-user467-text7 {
  top: 1044px;
  left: 530px;
  color: black;
  width: 238px;
  height: 75px;
  position: absolute;
  font-size: 50px;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal; }

.profile-user467-svg {
  top: 136px;
  left: 529px;
  width: 203;
  height: 194;
  position: absolute;
  border-radius: 50%; }

.profile-user467-image2 {
  top: 281px;
  left: 678px;
  width: 38px;
  height: 37px;
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  border-color: transparent;
  background-color: white;
  border-radius: 50%; }

.passchanger-img {
  position: absolute;
  top: 120px;
  left: 250px;
  height: 400px;
  width: 380px;
  image-rendering: crisp-edges; }

.formtitle {
  position: absolute;
  font-size: 30px;
  top: 170px;
  left: 825px;
  font-family: "Popins", sans-serif;
  color: #7c7887;
  font-weight: bold; }

.chpassblock {
  width: 100px;
  height: 40px; }

.newpass {
  position: absolute;
  top: 280px;
  left: 850px;
  width: 320px;
  height: 30px;
  border: 1px;
  padding-left: 10px;
  border-radius: 5px 5px 5px 5px;
  border-style: groove; }

.comfirmpass {
  position: absolute;
  top: 365px;
  left: 850px;
  width: 320px;
  height: 30px;
  border: 1px;
  padding-left: 10px;
  border-radius: 5px 5px 5px 5px;
  border-style: groove; }

.chpassnew {
  position: absolute;
  top: 250px;
  left: 850px;
  font-size: 20px;
  font-family: "Popins", sans-serif;
  color: #7c7887; }

.chpasscomfirm {
  position: absolute;
  top: 335px;
  left: 850px;
  font-size: 20px;
  font-family: "Popins", sans-serif;
  color: #7c7887; }

.backbutton {
  font-size: 18px;
  position: absolute;
  top: 430px;
  left: 850px;
  height: 35px;
  width: 155px;
  border: 2px;
  border-style: outset;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  font-family: "Popins", sans-serif;
  color: #7c7887; }

.backbutton:hover {
  background-color: #ddcccc;
  color: black; }

.submitbutton {
  font-size: 18px;
  position: absolute;
  top: 430px;
  left: 1015px;
  height: 35px;
  width: 155px;
  border: 2px;
  border-style: outset;
  background-color: #75ce55;
  border-radius: 5px 5px 5px 5px;
  color: white;
  font-family: "Popins", sans-serif; }

.submitbutton:hover {
  background-color: #01be01; }

.lockic {
  position: absolute;
  top: 283px;
  left: 822px; }

.lockic2 {
  position: absolute;
  top: 368px;
  left: 822px; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.25);
  overflow-y: scroll;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }
  .modal-main {
    max-width: 80rem;
    cursor: auto;
    width: 100%;
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 8.4rem auto;
    background-color: #f9fcfe;
    border-radius: 2rem;
    position: relative; }
  .modal-top {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .modal-title {
    font-size: 3.6rem;
    color: #aaadb1; }
  .modal-close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    -webkit-transform: translateY(-35%) translateX(35%);
    transform: translateY(-35%) translateX(35%);
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    font-size: 1.8rem; }
  .modal-image {
    width: 20rem;
    height: 20rem;
    border-radius: 100rem;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
  .modal-profile {
    width: 100%;
    margin-bottom: 5rem; }
  .modal-profile-double {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0 4.5rem; }
  .modal-profile-input {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1rem 0;
    margin-bottom: 1.7rem; }
  .modal-input-name {
    font-weight: 500;
    font-size: 2.4rem;
    color: #7c7887; }
  .modal-input-value {
    width: 100%;
    padding: 2.2rem;
    text-align: left;
    color: black;
    border: 2px solid #cccc;
    border-radius: 2rem;
    font-size: 2.4rem;
    font-weight: 500; }
  .modal-submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0 3rem; }
    .modal-submit * {
      padding: 1.5rem 9rem; }
  .modal-textdecor {
    text-decoration: underline; }

.admin-chart {
  position: relative;
  margin: auto;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 2rem;
  margin-top: 4rem; }
  .admin-chart-container {
    width: 99.999%;
    padding: 2rem;
    overflow: hidden; }

.admin-title--sale {
  margin-bottom: 0;
  margin-top: 1rem; }

.chemailtitle {
  position: absolute;
  left: 350px;
  top: 150px;
  font-size: 35px;
  font-weight: bold;
  font-family: "Popins", sans-serif;
  color: #7c7887; }

.chemaildecrip {
  position: absolute;
  left: 353px;
  top: 195px;
  width: 295px;
  font-size: 15px;
  font-family: "Popins", sans-serif;
  color: #7c7887; }

.chemailenterold {
  position: absolute;
  left: 353px;
  top: 290px;
  font-size: 15px;
  font-family: "Popins", sans-serif;
  color: #7c7887;
  font-weight: bold; }

.inputoldemail {
  position: absolute;
  left: 353px;
  top: 320px;
  width: 295px;
  height: 30px;
  border-style: groove;
  border-radius: 5px 5px 5px 5px;
  padding-left: 10px; }

.emailicon {
  position: absolute;
  left: 320px;
  top: 323px;
  height: 25px; }

.submitoldemail {
  position: absolute;
  left: 353px;
  top: 390px;
  width: 295px;
  height: 40px;
  background-color: #75ce55;
  font-family: "Popins", sans-serif;
  font-size: 20px;
  color: white;
  border-radius: 5px 5px 5px 5px;
  border: none; }

.submitoldemail:hover {
  background-color: #459e25;
  border-style: outset; }

.questionicon {
  position: absolute;
  left: 625px;
  top: 285px; }

.questionicon:hover:before {
  content: attr(data-hover);
  visibility: visible;
  opacity: 0;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%; }

.emailsender {
  position: absolute;
  left: 500px;
  top: 70px;
  width: 964px;
  height: 426px;
  image-rendering: crisp-edges; }

.emailhome {
  position: absolute;
  left: 600px;
  top: 80px;
  width: 170px;
  height: 170px; }

.emailcomfirmtitle1 {
  position: absolute;
  left: 560px;
  top: 260px;
  font-size: 35px;
  font-family: "Popins", sans-serif;
  font-weight: bold;
  color: #7c7887; }

.emailcomfirmtitle2 {
  position: absolute;
  left: 485px;
  top: 310px;
  font-size: 20px;
  width: 420px;
  text-align: center;
  font-family: "Popins", sans-serif;
  color: #7c7887; }

.openemailbutton {
  position: absolute;
  left: 540px;
  top: 400px;
  height: 50px;
  width: 300px;
  background-color: #75ce55;
  font-family: "Popins", sans-serif;
  border: none;
  border-radius: 5px 5px 5px 5px;
  color: white;
  font-size: 20px; }

.openemailbutton:hover {
  background-color: #4ec423;
  border-style: outset; }

.skipemailbutton {
  position: absolute;
  left: 595px;
  top: 465px;
  border: none;
  background-color: transparent;
  font-family: "Popins", sans-serif;
  color: #7c7887;
  font-size: 16px; }

.skipemailbutton:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline; }

.emailnotfound {
  font-family: "Popins", sans-serif;
  color: #7c7887;
  font-size: 13px;
  position: absolute;
  left: 545px;
  top: 580px; }

.changeanotheremail {
  position: absolute;
  left: 613px;
  top: 600px;
  border: none;
  background-color: transparent;
  font-family: "Popins", sans-serif;
  color: #75ce55;
  font-size: 13px; }

.changeanotheremail:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline; }

.password-wrapper {
  width: 100%;
  padding: 0 3.2rem; }

.password-container {
  width: 100%;
  padding: 3.5rem 0; }

.password-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 2.5rem; }
  .password-profile-image {
    width: 6rem;
    height: 6rem;
    border-radius: 100rem;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; }
  .password-profile-title {
    font-size: 3.2rem;
    font-weight: bold;
    color: #787c88; }
  .password-profile-icon {
    font-size: 2.4rem;
    color: #75ce55;
    opacity: 0.5; }

.password-main {
  margin-top: 5rem;
  padding: 4.5rem;
  background-color: white;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  border-radius: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr/2;
  grid-template-rows: 1fr 1fr 1fr/2;
  grid-gap: 4rem 6rem; }

.password-main-filed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 2rem;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%; }

.password-submit {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: inline-block;
  color: white;
  padding: 1.7rem;
  border-radius: 0.7rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  border: 0px;
  outline: none;
  line-height: 1;
  background-color: #75ce55;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; }
  .password-submit--red {
    background-color: #e76464; }

.password-main-title {
  color: #545454;
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 2rem; }

.password-main-input {
  border: 1px solid #cccc;
  padding: 1.5rem 2rem;
  font-family: "Popins", sans-serif;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  width: 100%;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear; }

.password-main-input {
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear; }
  .password-main-input:hover {
    border: 1px solid #75ce55; }

.quiz {
  width: 100%;
  padding: 3.2rem; }
  .quiz-delete {
    margin-left: auto; }
  .quiz-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem; }
  .quiz-item {
    width: 100%;
    padding: 1.5rem;
    -webkit-box-shadow: rgba(207, 230, 252, 0.2) 0px 8px 24px;
    box-shadow: rgba(207, 230, 252, 0.2) 0px 8px 24px;
    background-color: white;
    border-radius: 2rem; }
  .quiz-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative; }
    .quiz-header::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 0.2rem;
      background-color: #cccc;
      bottom: -0.5rem;
      border-radius: 100rem;
      margin-top: 2rem; }
  .quiz-images {
    width: 8rem;
    height: 6rem;
    border-radius: 1rem; }
  .quiz-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .quiz-name {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 0.7rem; }
  .quiz-complete {
    font-size: 1.6rem;
    color: #cccc; }
  .quiz-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 2rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem; }
    .quiz-main-item {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 0.5rem 0;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
    .quiz-main-title {
      font-size: 1.6rem;
      font-weight: 500; }
    .quiz-main-name {
      color: rgba(0, 0, 0, 0.742);
      font-size: 1.6rem;
      font-weight: 500; }
  .quiz-icon-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    margin-left: auto; }

.quiz-main-item:nth-child(1) {
  width: 100%;
  padding: 1.2rem;
  color: #75ce55;
  position: relative; }

.quiz-main-item:nth-child(1)::before {
  border-radius: 1rem;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  opacity: 0.2; }

.quiz-main-item:nth-child(2) {
  width: 100%;
  padding: 1.2rem;
  color: #8c8d95;
  position: relative; }

.quiz-main-item:nth-child(2)::before {
  border-radius: 1rem;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  opacity: 0.2; }

.quiz-main-item:nth-child(3) {
  width: 100%;
  padding: 1.2rem;
  color: #6a5af9;
  position: relative; }

.quiz-main-item:nth-child(3)::before {
  border-radius: 1rem;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  opacity: 0.2; }

.quiz-main-item:nth-child(4) {
  width: 100%;
  padding: 1.2rem;
  color: #458ff6;
  position: relative; }

.quiz-main-item:nth-child(4)::before {
  border-radius: 1rem;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  opacity: 0.2; }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 1rem;
  margin-right: auto;
  margin-left: 1rem; }

.page-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 0.5rem;
  font-size: 1.6rem;
  color: #7c7887; }

.page-item-child a {
  padding: 0.5rem 1rem;
  border-right: 0.1rem solid #cccc;
  border-left: 0.1rem solid #cccc;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear; }

.page-item-child:hover {
  background-color: #e9ecef; }

.page-active {
  color: #cfcfcf !important; }

.line-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .line-container--primary {
    margin: 2rem 0 3rem 0; }

.line-text {
  padding-right: 1rem;
  font-weight: 600;
  font-size: 2.6rem;
  color: #303840; }

.line-separate {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 0.2rem;
  background-color: #cccc; }

.teacher-wrapper {
  width: 100%;
  padding: 0 3.2rem;
  margin-bottom: 2rem; }

.teacher-container {
  width: 100%; }

:root {
  --text-color: #8c8d95; }

.teacher-course {
  margin-top: 2.5rem;
  width: 70%;
  margin-bottom: 3.7rem; }
  .teacher-course-title {
    font-weight: 500;
    font-size: 2.2rem;
    color: #8c8d95;
    margin-bottom: 1.5rem;
    text-transform: uppercase; }
  .teacher-course-input {
    width: inherit;
    background-color: white;
    padding: 2.2rem 2.3rem;
    color: black;
    border-radius: 0.5rem;
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
    border: 1px solid #cccc; }
  .teacher-course-tutorial {
    font-weight: normal;
    font-size: 1.4rem;
    color: #787c88; }

.teacher-chapter-list {
  max-width: 72rem;
  width: 100%; }

.teacher-chapter-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: white;
  padding: 12px 16px 12px 24px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0.5rem;
  margin-bottom: 2.4rem;
  border: 0.1px solid #cccc; }

.teacher-chapter-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem; }

.teacher-chapter-title {
  font-weight: 500;
  font-size: 1.6rem;
  font-weight: 600; }

.chapter-wrapper {
  padding: 3.2rem;
  width: 100%; }

.chapter-item {
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  padding: 1.8rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  margin-bottom: 2rem; }
  .chapter-item-group {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .chapter-item-group * {
      pointer-events: none;
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear; }
  .chapter-item-name {
    font-weight: 600;
    text-transform: uppercase; }

.chapter-update-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.8rem; }

.chapter-update-container {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear; }

.chapter-update-container.is-active {
  height: auto; }

.chapter-add-container {
  background-color: white;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1.8rem 2rem;
  border-radius: 0.5rem;
  height: auto; }

.navigationbar {
  width: 100%; }

.learning-header {
  background-color: #5186c8;
  width: 100%;
  max-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .learning-header div {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%; }
  .learning-header .titleword {
    padding: 1.5%;
    font-size: 6rem;
    font-weight: 600;
    color: #ffffff; }
  .learning-header .navbar {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2; }
    .learning-header .navbar .icons {
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .learning-header .navbar .icons img {
        width: 8rem;
        height: 7.5rem;
        -o-object-fit: contain;
        object-fit: contain;
        margin: 0 auto; }
      .learning-header .navbar .icons-icon {
        -ms-flex-negative: auto;
        flex-shrink: auto;
        cursor: pointer; }
        .learning-header .navbar .icons-icon:hover {
          background-color: rgba(0, 0, 0, 0.192); }
        .learning-header .navbar .icons-icon.is-active {
          background-color: rgba(0, 0, 0, 0.432); }
      .learning-header .navbar .icons span {
        display: inline-block;
        text-align: center;
        width: 100%;
        color: #ffffff;
        font-size: 175%;
        font-weight: 700;
        margin: 0 auto; }
  .learning-header .settings {
    -webkit-box-align: right;
    -ms-flex-align: right;
    align-items: right; }
    .learning-header .settings .icons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: end; }
      .learning-header .settings .icons-user {
        padding: 2%;
        width: 50%; }
      .learning-header .settings .icons-settingbar {
        padding: 4%; }

.pages {
  height: 100%; }
  .pages.page {
    height: 100%;
    display: none; }
    .pages.page.is-active {
      display: block; }
      .pages.page.is-active.revision {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 1rem; }
        .pages.page.is-active.revision .prep-for-review {
          text-align: center;
          font-size: 2.5rem;
          margin-bottom: 3rem;
          font-weight: 550; }
        .pages.page.is-active.revision .review-now {
          height: 6rem;
          width: 80%;
          margin: 0 auto; }
      .pages.page.is-active.chapters {
        width: 60%;
        height: 80vh;
        margin: 0 auto;
        padding: 2% 2%;
        /* width */
        /* Track */
        /* Handle */
        /* Handle on hover */ }
        .pages.page.is-active.chapters ::-webkit-scrollbar {
          width: 1rem;
          height: 30%; }
        .pages.page.is-active.chapters ::-webkit-scrollbar-track {
          opacity: 0.8; }
        .pages.page.is-active.chapters ::-webkit-scrollbar-thumb {
          background: #3f3f3f;
          border-radius: 10px; }
        .pages.page.is-active.chapters ::-webkit-scrollbar-thumb:hover {
          background: #272727; }
        .pages.page.is-active.chapters .course-list {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          overflow-y: scroll;
          gap: 5% 0;
          width: 100%;
          height: 100%; }
          .pages.page.is-active.chapters .course-list-chapter {
            border: 3px solid #75ce55;
            width: 80%;
            height: 20%;
            border-radius: 25px;
            line-height: 190%;
            text-align: center;
            color: #000000;
            font-size: 8vh;
            margin: 0 auto;
            -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
            .pages.page.is-active.chapters .course-list-chapter-completed {
              width: 80%;
              height: 20%;
              border-radius: 25px;
              line-height: 190%;
              text-align: center;
              color: #ffffff;
              font-size: 8vh;
              margin: 0 auto;
              -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              border-color: #75ce55;
              background-color: #75ce55; }
      .pages.page.is-active.notebook {
        height: 80vh;
        text-align: center; }
        .pages.page.is-active.notebook .notebookpage {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          width: 100%;
          height: 100%; }
          .pages.page.is-active.notebook .notebookpage .level-bar {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 100%;
            margin: 2% 0; }
            .pages.page.is-active.notebook .notebookpage .level-bar-level {
              width: 10%;
              -webkit-transition: all 300ms ease-in-out;
              transition: all 300ms ease-in-out; }
              .pages.page.is-active.notebook .notebookpage .level-bar-level:hover {
                -webkit-box-flex: 0.1;
                -ms-flex-positive: 0.1;
                flex-grow: 0.1; }
              .pages.page.is-active.notebook .notebookpage .level-bar-level.is-active {
                -webkit-box-flex: 0.1;
                -ms-flex-positive: 0.1;
                flex-grow: 0.1; }
                .pages.page.is-active.notebook .notebookpage .level-bar-level.is-active .level-name {
                  color: #000000;
                  font-size: 2.4rem;
                  line-height: 83%; }
              .pages.page.is-active.notebook .notebookpage .level-bar-level .level-name {
                color: #887474;
                font-size: 2rem; }
              .pages.page.is-active.notebook .notebookpage .level-bar-level .levelbar {
                height: 0.5rem; }
                .pages.page.is-active.notebook .notebookpage .level-bar-level .levelbar[data-l="1"] {
                  background-color: #EB5757; }
                .pages.page.is-active.notebook .notebookpage .level-bar-level .levelbar[data-l="2"] {
                  background-color: #FFCB09; }
                .pages.page.is-active.notebook .notebookpage .level-bar-level .levelbar[data-l="3"] {
                  background-color: #56CBF2; }
                .pages.page.is-active.notebook .notebookpage .level-bar-level .levelbar[data-l="4"] {
                  background-color: #2F7FEC; }
                .pages.page.is-active.notebook .notebookpage .level-bar-level .levelbar[data-l="5"] {
                  background-color: #213682; }
          .pages.page.is-active.notebook .notebookpage .searchbar {
            margin: 2% 0; }
          .pages.page.is-active.notebook .notebookpage .wordlists {
            width: 100%;
            height: 100%; }
            .pages.page.is-active.notebook .notebookpage .wordlists-level {
              display: none; }
              .pages.page.is-active.notebook .notebookpage .wordlists-level.is-active {
                height: 80%;
                width: 55%;
                margin: 0 auto;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                overflow-y: auto;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                gap: 5% 0;
                /* width */
                /* Track */
                /* Handle */
                /* Handle on hover */ }
                .pages.page.is-active.notebook .notebookpage .wordlists-level.is-active::-webkit-scrollbar {
                  width: 0.5rem; }
                .pages.page.is-active.notebook .notebookpage .wordlists-level.is-active::-webkit-scrollbar-track {
                  opacity: 1;
                  background-color: #00000017; }
                .pages.page.is-active.notebook .notebookpage .wordlists-level.is-active::-webkit-scrollbar-thumb {
                  background: #7070707a;
                  border-radius: 5px; }
                .pages.page.is-active.notebook .notebookpage .wordlists-level.is-active::-webkit-scrollbar-thumb:hover {
                  background: #3b3b3b9d; }
                .pages.page.is-active.notebook .notebookpage .wordlists-level.is-active .wordrow {
                  background-color: #C4C4C4;
                  border-radius: 10px;
                  width: 95%;
                  height: 4rem;
                  margin: 0 auto;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-pack: justify;
                  -ms-flex-pack: justify;
                  justify-content: space-between;
                  font-size: 1.5rem;
                  font-weight: bold;
                  line-height: 250%; }
                  .pages.page.is-active.notebook .notebookpage .wordlists-level.is-active .wordrow > * {
                    width: 25%; }
                  .pages.page.is-active.notebook .notebookpage .wordlists-level.is-active .wordrow-vocab {
                    padding-left: 2%;
                    font-weight: bolder; }
                  .pages.page.is-active.notebook .notebookpage .wordlists-level.is-active .wordrow-defi {
                    padding-right: 2%;
                    text-align: right; }
                .pages.page.is-active.notebook .notebookpage .wordlists-level.is-active .empty {
                  font-size: 2rem;
                  font-weight: bold; }

.course-select {
  border: 3px solid #000000;
  border-radius: 15px;
  position: absolute;
  width: 15%;
  height: 100px;
  right: 1%;
  top: 20%;
  text-align: center;
  color: #ffffff;
  line-height: 167%;
  font-size: 250%;
  background-color: #5186c8;
  border-color: #5186c8; }

.courseselection {
  position: fixed;
  width: 50%;
  max-width: 80%;
  height: 85%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  z-index: 999999;
  background-color: #5186c8;
  border: 1px solid #000000;
  border-radius: 50px;
  text-align: center;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  .courseselection ::-webkit-scrollbar {
    width: 1rem;
    height: 30%; }
  .courseselection ::-webkit-scrollbar-track {
    opacity: 0.8; }
  .courseselection ::-webkit-scrollbar-thumb {
    background: #3f3f3f;
    border-radius: 10px; }
  .courseselection ::-webkit-scrollbar-thumb:hover {
    background: #272727; }
  .courseselection.active {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1); }
  .courseselection-header {
    width: 100%;
    height: 15%;
    padding: 0% 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    border-radius: 50px 50px 0 0;
    border: 1px solid #000000;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #1b3452; }
  .courseselection-title {
    font-size: 4rem;
    font-weight: 800;
    color: #ffffff;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2; }
  .courseselection .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 3.5rem;
    color: #ffffff;
    font-weight: 800; }
  .courseselection-body {
    height: 85%;
    padding: 10px 15px; }
    .courseselection-body-list {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      overflow-y: scroll;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      gap: 5% 0; }
      .courseselection-body-list .course {
        border: 3px solid #ffffff;
        width: 80%;
        height: 20%;
        border-radius: 15px;
        line-height: 190%;
        text-align: center;
        color: #000000;
        font-size: 8vh;
        -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.courseselectOverlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none; }
  .courseselectOverlay.active {
    opacity: 1 !important;
    pointer-events: all; }

.leaderboard {
  height: 21rem;
  width: 19rem;
  right: 1%;
  top: 40%;
  position: absolute;
  border: 2px solid #797979;
  border-radius: 25px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  .leaderboard ::-webkit-scrollbar {
    width: 0.5rem;
    height: 50%; }
  .leaderboard ::-webkit-scrollbar-track {
    opacity: 0.8; }
  .leaderboard ::-webkit-scrollbar-thumb {
    background: #3f3f3f;
    border-radius: 10px; }
  .leaderboard ::-webkit-scrollbar-thumb:hover {
    background: #272727; }
  .leaderboard-header {
    border-bottom: 2px solid #797979;
    height: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 350%;
    font-size: 1.5rem;
    font-weight: bold; }
  .leaderboard-body {
    font-size: 1.5rem;
    height: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow-y: scroll;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 3%; }
    .leaderboard-body .user {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      line-height: 190%; }
      .leaderboard-body .user-avatar img {
        width: 3rem;
        height: 3rem;
        border-radius: 100%; }
      .leaderboard-body .user-name {
        -webkit-box-flex: 2;
        -ms-flex: 2;
        flex: 2;
        padding-left: 2%; }

:root {
  --text-color: #8c8d95; }

.input-file {
  margin: 0 auto;
  width: 100%;
  height: 30rem;
  position: relative; }

.input-label {
  border-radius: 8px;
  border: 1px dotted #cccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer; }

.input-file input[type="file"] {
  display: none; }

.input-file .icon-upload {
  color: #ccc;
  font-size: 3rem;
  pointer-events: none; }

.input-base {
  margin-top: 1.5rem;
  width: 100%; }
  .input-base-title {
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 600;
    margin-bottom: 1rem; }
  .input-base input {
    padding: 1.5rem;
    border-radius: 0.5rem;
    font-family: "Popins", sans-serif;
    outline: none;
    border: 1px solid #cccc;
    width: 100%;
    font-size: 1.8rem;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear; }
    .input-base input:hover {
      border: 0.1rem solid #75ce55; }

.dropdown {
  margin-top: 2.5rem; }
  .dropdown__select {
    width: 99%;
    background-color: white;
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    font-size: 1.8rem;
    padding: 1.8rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 2rem; }
    .dropdown__select * {
      pointer-events: none;
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear; }
  .dropdown__item * {
    pointer-events: none; }
  .dropdown-content {
    height: 0;
    overflow: hidden;
    width: 99%;
    background-color: white;
    -webkit-box-shadow: 0px 1px 4px #00000040;
    box-shadow: 0px 1px 4px #00000040;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    margin: 0 auto;
    -webkit-transition: height 0.25s linear;
    transition: height 0.25s linear; }
  .dropdown__list {
    padding: 1.8rem 2rem; }
    .dropdown__list li {
      cursor: pointer;
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear; }
      .dropdown__list li span {
        display: inline-block;
        padding: 2rem; }
      .dropdown__list li:hover {
        background-color: rgba(117, 206, 85, 0.2);
        color: #75ce55;
        border-radius: 0.5rem; }

.dropdown-content.dropdown-active {
  height: auto; }

.icon-active {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.icon-remove {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.navigationbar {
  width: 100%; }

.learning-header {
  background-color: #5186c8;
  width: 100%;
  max-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .learning-header div {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%; }
  .learning-header .titleword {
    padding: 1.5%;
    font-size: 6rem;
    font-weight: 600;
    color: #ffffff; }
  .learning-header .navbar {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2; }
    .learning-header .navbar .icons {
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .learning-header .navbar .icons img {
        width: 8rem;
        height: 7.5rem;
        -o-object-fit: contain;
        object-fit: contain;
        margin: 0 auto; }
      .learning-header .navbar .icons-icon {
        -ms-flex-negative: auto;
        flex-shrink: auto;
        cursor: pointer; }
        .learning-header .navbar .icons-icon:hover {
          background-color: rgba(0, 0, 0, 0.192); }
        .learning-header .navbar .icons-icon.is-active {
          background-color: rgba(0, 0, 0, 0.432); }
      .learning-header .navbar .icons span {
        display: inline-block;
        text-align: center;
        width: 100%;
        color: #ffffff;
        font-size: 175%;
        font-weight: 700;
        margin: 0 auto; }
  .learning-header .settings {
    -webkit-box-align: right;
    -ms-flex-align: right;
    align-items: right; }
    .learning-header .settings .icons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: end; }
      .learning-header .settings .icons-user {
        padding: 2%;
        width: 50%; }
      .learning-header .settings .icons-settingbar {
        padding: 4%; }

.pages {
  height: 100%; }
  .pages.page {
    height: 100%;
    display: none; }
    .pages.page.is-active {
      display: block; }
      .pages.page.is-active.revision {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 1rem; }
        .pages.page.is-active.revision .prep-for-review {
          text-align: center;
          font-size: 2.5rem;
          margin-bottom: 3rem;
          font-weight: 550; }
        .pages.page.is-active.revision .review-now {
          height: 6rem;
          width: 80%;
          margin: 0 auto; }
      .pages.page.is-active.chapters {
        width: 60%;
        height: 80vh;
        margin: 0 auto;
        padding: 2% 2%;
        /* width */
        /* Track */
        /* Handle */
        /* Handle on hover */ }
        .pages.page.is-active.chapters ::-webkit-scrollbar {
          width: 1rem;
          height: 30%; }
        .pages.page.is-active.chapters ::-webkit-scrollbar-track {
          opacity: 0.8; }
        .pages.page.is-active.chapters ::-webkit-scrollbar-thumb {
          background: #3f3f3f;
          border-radius: 10px; }
        .pages.page.is-active.chapters ::-webkit-scrollbar-thumb:hover {
          background: #272727; }
        .pages.page.is-active.chapters .course-list {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          overflow-y: scroll;
          gap: 5% 0;
          width: 100%;
          height: 100%; }
          .pages.page.is-active.chapters .course-list-chapter {
            border: 3px solid #75ce55;
            width: 80%;
            height: 20%;
            border-radius: 25px;
            line-height: 190%;
            text-align: center;
            color: #000000;
            font-size: 8vh;
            margin: 0 auto;
            -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
            .pages.page.is-active.chapters .course-list-chapter-completed {
              width: 80%;
              height: 20%;
              border-radius: 25px;
              line-height: 190%;
              text-align: center;
              color: #ffffff;
              font-size: 8vh;
              margin: 0 auto;
              -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              border-color: #75ce55;
              background-color: #75ce55; }
      .pages.page.is-active.notebook {
        height: 80vh;
        text-align: center; }
        .pages.page.is-active.notebook .notebookpage {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          width: 100%;
          height: 100%; }
          .pages.page.is-active.notebook .notebookpage .level-bar {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 100%;
            margin: 2% 0; }
            .pages.page.is-active.notebook .notebookpage .level-bar-level {
              width: 10%;
              -webkit-transition: all 300ms ease-in-out;
              transition: all 300ms ease-in-out; }
              .pages.page.is-active.notebook .notebookpage .level-bar-level:hover {
                -webkit-box-flex: 0.1;
                -ms-flex-positive: 0.1;
                flex-grow: 0.1; }
              .pages.page.is-active.notebook .notebookpage .level-bar-level.is-active {
                -webkit-box-flex: 0.1;
                -ms-flex-positive: 0.1;
                flex-grow: 0.1; }
                .pages.page.is-active.notebook .notebookpage .level-bar-level.is-active .level-name {
                  color: #000000;
                  font-size: 2.4rem;
                  line-height: 83%; }
              .pages.page.is-active.notebook .notebookpage .level-bar-level .level-name {
                color: #887474;
                font-size: 2rem; }
              .pages.page.is-active.notebook .notebookpage .level-bar-level .levelbar {
                height: 0.5rem; }
                .pages.page.is-active.notebook .notebookpage .level-bar-level .levelbar[data-l="1"] {
                  background-color: #EB5757; }
                .pages.page.is-active.notebook .notebookpage .level-bar-level .levelbar[data-l="2"] {
                  background-color: #FFCB09; }
                .pages.page.is-active.notebook .notebookpage .level-bar-level .levelbar[data-l="3"] {
                  background-color: #56CBF2; }
                .pages.page.is-active.notebook .notebookpage .level-bar-level .levelbar[data-l="4"] {
                  background-color: #2F7FEC; }
                .pages.page.is-active.notebook .notebookpage .level-bar-level .levelbar[data-l="5"] {
                  background-color: #213682; }
          .pages.page.is-active.notebook .notebookpage .searchbar {
            margin: 2% 0; }
          .pages.page.is-active.notebook .notebookpage .wordlists {
            width: 100%;
            height: 100%; }
            .pages.page.is-active.notebook .notebookpage .wordlists-level {
              display: none; }
              .pages.page.is-active.notebook .notebookpage .wordlists-level.is-active {
                height: 80%;
                width: 55%;
                margin: 0 auto;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                overflow-y: auto;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                gap: 5% 0;
                /* width */
                /* Track */
                /* Handle */
                /* Handle on hover */ }
                .pages.page.is-active.notebook .notebookpage .wordlists-level.is-active::-webkit-scrollbar {
                  width: 0.5rem; }
                .pages.page.is-active.notebook .notebookpage .wordlists-level.is-active::-webkit-scrollbar-track {
                  opacity: 1;
                  background-color: #00000017; }
                .pages.page.is-active.notebook .notebookpage .wordlists-level.is-active::-webkit-scrollbar-thumb {
                  background: #7070707a;
                  border-radius: 5px; }
                .pages.page.is-active.notebook .notebookpage .wordlists-level.is-active::-webkit-scrollbar-thumb:hover {
                  background: #3b3b3b9d; }
                .pages.page.is-active.notebook .notebookpage .wordlists-level.is-active .wordrow {
                  background-color: #C4C4C4;
                  border-radius: 10px;
                  width: 95%;
                  height: 4rem;
                  margin: 0 auto;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-pack: justify;
                  -ms-flex-pack: justify;
                  justify-content: space-between;
                  font-size: 1.5rem;
                  font-weight: bold;
                  line-height: 250%; }
                  .pages.page.is-active.notebook .notebookpage .wordlists-level.is-active .wordrow > * {
                    width: 25%; }
                  .pages.page.is-active.notebook .notebookpage .wordlists-level.is-active .wordrow-vocab {
                    padding-left: 2%;
                    font-weight: bolder; }
                  .pages.page.is-active.notebook .notebookpage .wordlists-level.is-active .wordrow-defi {
                    padding-right: 2%;
                    text-align: right; }
                .pages.page.is-active.notebook .notebookpage .wordlists-level.is-active .empty {
                  font-size: 2rem;
                  font-weight: bold; }

.course-select {
  border: 3px solid #000000;
  border-radius: 15px;
  position: absolute;
  width: 15%;
  height: 100px;
  right: 1%;
  top: 20%;
  text-align: center;
  color: #ffffff;
  line-height: 167%;
  font-size: 250%;
  background-color: #5186c8;
  border-color: #5186c8; }

.courseselection {
  position: fixed;
  width: 50%;
  max-width: 80%;
  height: 85%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  z-index: 999999;
  background-color: #5186c8;
  border: 1px solid #000000;
  border-radius: 50px;
  text-align: center;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  .courseselection ::-webkit-scrollbar {
    width: 1rem;
    height: 30%; }
  .courseselection ::-webkit-scrollbar-track {
    opacity: 0.8; }
  .courseselection ::-webkit-scrollbar-thumb {
    background: #3f3f3f;
    border-radius: 10px; }
  .courseselection ::-webkit-scrollbar-thumb:hover {
    background: #272727; }
  .courseselection.active {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1); }
  .courseselection-header {
    width: 100%;
    height: 15%;
    padding: 0% 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    border-radius: 50px 50px 0 0;
    border: 1px solid #000000;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #1b3452; }
  .courseselection-title {
    font-size: 4rem;
    font-weight: 800;
    color: #ffffff;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2; }
  .courseselection .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 3.5rem;
    color: #ffffff;
    font-weight: 800; }
  .courseselection-body {
    height: 85%;
    padding: 10px 15px; }
    .courseselection-body-list {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      overflow-y: scroll;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      gap: 5% 0; }
      .courseselection-body-list .course {
        border: 3px solid #ffffff;
        width: 80%;
        height: 20%;
        border-radius: 15px;
        line-height: 190%;
        text-align: center;
        color: #000000;
        font-size: 8vh;
        -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.courseselectOverlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none; }
  .courseselectOverlay.active {
    opacity: 1 !important;
    pointer-events: all; }

.leaderboard {
  height: 21rem;
  width: 19rem;
  right: 1%;
  top: 40%;
  position: absolute;
  border: 2px solid #797979;
  border-radius: 25px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  .leaderboard ::-webkit-scrollbar {
    width: 0.5rem;
    height: 50%; }
  .leaderboard ::-webkit-scrollbar-track {
    opacity: 0.8; }
  .leaderboard ::-webkit-scrollbar-thumb {
    background: #3f3f3f;
    border-radius: 10px; }
  .leaderboard ::-webkit-scrollbar-thumb:hover {
    background: #272727; }
  .leaderboard-header {
    border-bottom: 2px solid #797979;
    height: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 350%;
    font-size: 1.5rem;
    font-weight: bold; }
  .leaderboard-body {
    font-size: 1.5rem;
    height: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow-y: scroll;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 3%; }
    .leaderboard-body .user {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      line-height: 190%; }
      .leaderboard-body .user-avatar img {
        width: 3rem;
        height: 3rem;
        border-radius: 100%; }
      .leaderboard-body .user-name {
        -webkit-box-flex: 2;
        -ms-flex: 2;
        flex: 2;
        padding-left: 2%; }

:root {
  --colour1: #75ce55;
  --colour2: #6dda45;
  --speed: 4s; }

@-webkit-keyframes slide {
  from {
    background-position-x: 0; }
  to {
    background-position-x: 113px; } }

@keyframes slide {
  from {
    background-position-x: 0; }
  to {
    background-position-x: 113px; } }

@-webkit-keyframes transitionSlideIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(10%);
    transform: translateX(10%); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes transitionSlideIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(10%);
    transform: translateX(10%); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes btntransition {
  from {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #878D94;
    background-color: #E0E0E0; }
  to {
    background-color: #75ce55;
    color: #ffffff;
    -webkit-box-shadow: 1px 5px 0px #488d2e;
    box-shadow: 1px 5px 0px #488d2e; } }

@keyframes btntransition {
  from {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #878D94;
    background-color: #E0E0E0; }
  to {
    background-color: #75ce55;
    color: #ffffff;
    -webkit-box-shadow: 1px 5px 0px #488d2e;
    box-shadow: 1px 5px 0px #488d2e; } }

@-webkit-keyframes transitionSlideUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%); }
  to {
    opacity: 1;
    -webkit-transform: translateY(45%);
    transform: translateY(45%); } }

@keyframes transitionSlideUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%); }
  to {
    opacity: 1;
    -webkit-transform: translateY(45%);
    transform: translateY(45%); } }

.wordlearning-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden; }
  .wordlearning-wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    -o-object-fit: fill;
    object-fit: fill; }
  .wordlearning-wrapper .learning {
    height: 100vh;
    width: 50%;
    margin: 0 auto;
    background-color: #f8f8f8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .wordlearning-wrapper .learning .progress {
      width: 100%;
      height: 5%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 2%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .wordlearning-wrapper .learning .progress .close-button {
        cursor: pointer;
        border: none;
        outline: none;
        background: none;
        font-size: 3.5rem;
        color: #000000;
        font-weight: 800;
        padding-left: 4%; }
      .wordlearning-wrapper .learning .progress-bar {
        margin: 1% 5%;
        margin-right: 5%;
        min-height: 10px;
        border-radius: 10px;
        width: calc(113px * 5);
        -webkit-box-shadow: 0px 10px 13px -6px #2c3e50;
        box-shadow: 0px 10px 13px -6px #2c3e50;
        background-color: var(--colour2);
        background-image: repeating-linear-gradient(45deg, transparent, transparent 40px, var(--colour1) 40px, var(--colour1) 80px);
        -webkit-animation: slide var(--speed) linear infinite;
        animation: slide var(--speed) linear infinite;
        will-change: background-position; }
        @media only screen and (max-width: 450px) {
          .wordlearning-wrapper .learning .progress-bar {
            width: calc(113px * 3); } }
        @media only screen and (max-width: 350px) {
          .wordlearning-wrapper .learning .progress-bar {
            width: calc(113px * 2); } }
    .wordlearning-wrapper .learning .div-learn {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .wordlearning-wrapper .learning .div-learn-content {
        width: 100%;
        height: 100%;
        display: none; }
        .wordlearning-wrapper .learning .div-learn-content.active {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-animation: transitionSlideIn 1s;
          animation: transitionSlideIn 1s; }
          .wordlearning-wrapper .learning .div-learn-content.active p.question-type {
            font-size: 2rem;
            color: #838282;
            margin: 5% 0; }
          .wordlearning-wrapper .learning .div-learn-content.active .div-text-to-speech {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            height: 7%;
            width: 100%;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
            .wordlearning-wrapper .learning .div-learn-content.active .div-text-to-speech .div-audio-icon {
              border: 1px solid #ffffff;
              border-radius: 100%;
              height: 100%;
              width: 6.8%;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              -webkit-box-shadow: 0px 5px 5px #00000086;
              box-shadow: 0px 5px 5px #00000086; }
            .wordlearning-wrapper .learning .div-learn-content.active .div-text-to-speech img {
              height: 30px;
              z-index: 1;
              -o-object-fit: contain;
              object-fit: contain; }
          .wordlearning-wrapper .learning .div-learn-content.active input.textbox {
            margin-top: 10%;
            border: none;
            height: 6%;
            width: 60%;
            border-radius: 10px;
            -webkit-box-shadow: 0px 5px 5px #00000086;
            box-shadow: 0px 5px 5px #00000086; }
          .wordlearning-wrapper .learning .div-learn-content.active .div-word {
            font-size: 2rem; }
          .wordlearning-wrapper .learning .div-learn-content.active input.fill-in-the-word {
            margin-top: 10%;
            border-image-source: linear-gradient(90deg, #75ce55 29%, #b7ff00 74%);
            border-width: 5px;
            text-align: center;
            font-size: 20px;
            border-image-slice: 1;
            height: 10%; }
          .wordlearning-wrapper .learning .div-learn-content.active .div-answer-popup {
            border: 1px solid black;
            width: 5rem;
            height: 5rem; }
            .wordlearning-wrapper .learning .div-learn-content.active .div-answer-popup.correct {
              background-color: #6dda45; }
      .wordlearning-wrapper .learning .div-learn-card {
        position: absolute;
        width: 20%;
        height: 43%;
        background-color: #ffffff;
        border-radius: 15px;
        left: 40%;
        top: 14%;
        -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease; }
      .wordlearning-wrapper .learning .div-learn #card:checked + label.div-learn-card {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg); }
      .wordlearning-wrapper .learning .div-learn #card {
        display: none; }
      .wordlearning-wrapper .learning .div-learn .thefront {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        color: #333; }
        .wordlearning-wrapper .learning .div-learn .thefront img {
          width: 69%;
          height: 70%;
          margin: 0 auto;
          -o-object-fit: cover;
          object-fit: cover;
          top: 5%; }
        .wordlearning-wrapper .learning .div-learn .thefront p {
          width: 100%;
          height: 5%;
          margin-top: 100%;
          text-align: center;
          font-size: 1.5rem; }
      .wordlearning-wrapper .learning .div-learn .theback {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        color: #333;
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg); }
        .wordlearning-wrapper .learning .div-learn .theback p {
          width: 100%;
          height: 5%;
          margin-top: 20%;
          text-align: center;
          font-size: 2rem; }
      .wordlearning-wrapper .learning .div-learn #div-answer {
        width: 50%;
        height: 40%;
        margin-bottom: 10%;
        border-radius: 25px;
        -webkit-transform: translateY(45%);
        transform: translateY(45%);
        display: none; }
        .wordlearning-wrapper .learning .div-learn #div-answer.correct {
          position: absolute;
          display: block;
          background-color: #75ce55;
          -webkit-animation: transitionSlideUp 0.5s;
          animation: transitionSlideUp 0.5s; }
        .wordlearning-wrapper .learning .div-learn #div-answer.incorrect {
          position: absolute;
          display: block;
          background-color: #e11e27;
          -webkit-animation: transitionSlideUp 0.5s;
          animation: transitionSlideUp 0.5s; }
      .wordlearning-wrapper .learning .div-learn .continue-button {
        width: 34%;
        height: 6%;
        background-color: #E0E0E0;
        border-radius: 20px;
        text-align: center;
        margin-bottom: 10%;
        font-size: 1.6rem;
        font-weight: bolder;
        line-height: 200%;
        color: #878D94; }
        .wordlearning-wrapper .learning .div-learn .continue-button.active {
          -webkit-animation: btntransition 0.5s;
          animation: btntransition 0.5s;
          background-color: #75ce55;
          color: #ffffff;
          -webkit-box-shadow: 1px 5px 0px #488d2e;
          box-shadow: 1px 5px 0px #488d2e; }

.notification-error {
  color: #e76464;
  font-size: 1.8rem;
  padding: 2rem 0; }
