@{
    ViewData["Title"] = "CourseAdmin";
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="admin-main admin-main--course">
        <div class="admin-filed"><i class="fas fa-search"></i>
            <input class="admin-search" type="text" placeholder="Search for course name">
        </div>
        <div class="admin-top"> 
            <div class="admin-title">Course List</div>
            <div class="admin-table"> 
            <table> 
                <thead> 
                <tr> 
                    <th>Course ID</th>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Feedback</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody> 
                <tr> 
                    <td> 
                    <div class="admin-table-number">1</div>
                    </td>
                    <td> 
                    <div class="admin-table-name"> <img class="admin-table-image" src="./images/student.jpg" alt="">
                        <p class="admin-table-name">Bill gate </p>
                    </div>
                    </td>
                    <td> 
                    <div class="admin-table-type">Ronaldo</div>
                    </td>
                    <td> <a class="admin-table-action admin-table-action--blue" href="#"><i class="fas fa-comment"></i></a></td>
                    <td> <a class="admin-table-action admin-table-action--red" href="#"><i class="fas fa-trash"></i></a></td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
        </div>