@{
    ViewData["Title"] = "CourseAdmin";
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="admin-main admin-main--course">
    <div class="admin-filed">
        <i class="fas fa-search"></i>
        <input
            class="admin-search"
            type="text"
            placeholder="Search for course name" value="SearchCourse"
        />
    </div>
    <div class="admin-top">
        <div class="admin-title">Course List</div>
        <div class="admin-table">
            <table>
                <thead>
                    <tr>
                        <th>Course ID</th>
                        <th>Name</th>
                        <th>Author</th>
                        <th>Created date</th>
                        <th>Total chapter</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @foreach (Course item in ViewBag.Courses)
                        {
                            <td>
                            <div class="admin-table-number">@item.course_id</div>
                        </td>
                        <td>
                            <div class="admin-table-name">
                                <img
                                    class="admin-table-image"
                                    src="@item.course_image"
                                />
                                <p class="admin-table-name">@item.course_name</p>
                            </div>
                        </td>
                        <td>
                            <div class="admin-table-type">Ronaldo</div>
                        </td>
                        <td>
                            <div class="admin-table-type">@item.course_create_data.ToShortDateString()</div>
                        </td>
                        <td>
                            <div class="admin-table-type">@item.course_total_chapters</div>
                        </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
