﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Learning";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
        <link rel="icon" href="favicon-16x16.png" type="image/x-icon" sizes="16x16">
        <link rel="stylesheet" href="~/public/styles/reset.css">
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
        <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&amp;family=Roboto:wght@300&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&amp;family=Roboto:wght@300&amp;display=swap" rel="stylesheet">
        <link rel="stylesheet" href="~/public/styles/fontawesome.css">
        <link rel="stylesheet" href="~/public/styles/styles.css">
    </head>
    <body class="Word learning">
      <div class="wordlearning-wrapper">
        <img class="background" src="/public/images/background.jpg" alt="">
        <div class="learning">
          <div class="progress">
            <button class="close-button" onclick="location.href='@Url.Action("Index", "LearningPage")'">&times; </button>
            <div class="progress-bar-outline">
              <div class="progress-bar"></div>  
            </div>
          </div>
          <div class="div-learn">
            @{int word_count = 1;}
            @foreach (var word in (IEnumerable<Word>)ViewData["WordsForChapter"])
            {
              <div class="div-learn-content" data-word-number="@word_count" data-answer="@word.word_face">
                <div class="div-audio-icon"><img src="~/public/images/speaker icon.jpg"></div>
                <div class="div-learn-card">
                  <div class="div-learn-card-inner">
                    <div class="thefront">
                      <img src="@word.word_image" alt="">
                      <p>
                        <u>@word.word_face</u><br><br>
                        @word.word_phrase
                      </p>
                    </div>
                    <div class="theback"> 
                      @if (@word.wordType_id == "1")
                      {
                        <p><b>@word.word_face</b> <br><br><br><br>@word.word_IPA <br><br><br><br> @word.word_nghia (n)</p>
                      }
                      else if (@word.wordType_id == "2")
                      {
                        <p><b>@word.word_face</b> <br><br><br><br>@word.word_IPA <br><br><br><br> @word.word_nghia (adj)</p>
                      }
                      else if (@word.wordType_id == "3")
                      {
                        <p><b>@word.word_face</b> <br><br><br><br>@word.word_IPA <br><br><br><br> @word.word_nghia (v)</p>
                      }
                    </div>
                  </div>
                </div>
              </div>
              <div class="div-learn-content" data-word-question="listen" data-answer="@word.word_face">
                <p class="p question-type">Nghe và viết lại</p>
                <div class="div-text-to-speech">
                  <div class="div-audio-icon"><img class="audio-icon" src="~/public/images/speaker icon.jpg" alt=""></div>
                </div>
                <input class="textbox" type="text" autofocus>
              </div>
              <div class="div-learn-content" data-word-question="fill" data-answer="@word.word_face">
                <p class="question-type">Điền từ</p>
                @switch (word.wordType_id)
                {
                  case "1":
                    <div class="div-word">(n)@word.word_nghia</div>
                        break;
                  case "2":
                    <div class="div-word">(adj)@word.word_nghia</div>
                  break;
                  case "3":
                    <div class="div-word">(v)@word.word_nghia</div>
                  break;
                }
                <input class="fill-in-the-word">
              </div>
              <div class="div-answer" data-answer="@word.word_face">
                @switch (word.wordType_id)
                {
                  case "1":
                    <div>@word.word_face</div>
                    <div>@word.word_IPA</div>
                    <div>@word.word_nghia (n)</div>
                    <div>@word.word_phrase</div>
                  break;
                  case "2":
                    <div>@word.word_face</div>
                    <div>@word.word_IPA</div>
                    <div>@word.word_nghia (adj)</div>
                    <div>@word.word_phrase</div>
                  break;
                  case "3":
                    <div>@word.word_face</div>
                    <div>@word.word_IPA</div>
                    <div>@word.word_nghia (v)</div>
                    <div>@word.word_phrase</div>
                  break;
                }
              </div>
              word_count++;
            }
            <div class="continue-button">TIẾP TỤC</div>
            <div class="feedbackBtn">
              <img src="~/public/images/questionmark.png">
            </div>
            <dialog class="feedbackmodal" id="feedbackmodal">
              <div class="closeModal">&times;</div>
              <form class="feedbackform">
                <textarea rows = "30" cols = "50" class="description" name = "description" maxlength= "100" required placeholder="Please type the issue you are having in about 100 characters or less"></textarea>
                <button type="submit" class="button submitFeedback">Submit Feedback</button>
              </form>
            </dialog>
          </div> 
        </div>
      </div>
    </div>
    <script src="~/public/scripts/wordlearning.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      $(".feedbackform").on('submit', (e) => {
        e.preventDefault();
        var feedback = {};
        feedback.content = $(".description").val();
        feedback.recipient_id = @ViewData["teacher"];
        feedback.sender_id = @ViewData["userID"];
        $.ajax({
          type: "POST",
          url: "/WordLearning/SendFeedBack?content=" + feedback.content +"&user_id=" + feedback.sender_id + "&recipient_id=" + feedback.recipient_id,
          data: status,
          success: function(status){
            alert("Thank you for your feedback!");
            document.querySelector(".feedbackmodal").close();
          },
          error: function(data){
            alert("There was an error submitting your feedback. Please try again later.");
          }
        });
      })
    </script>
  </body>
</html>