﻿@using Group3.Controllers;
@model ViewModel
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="admin-main">
  <div class="password-container">
      <div class="password-profile">
          <img
              class="password-profile-image"
              src="/images/main.jpg"
              alt=""
          /><i
              class="fas fa-chevron-right password-profile-icon"
          >
          </i>
          <h2 class="password-profile-title">OverView</h2>
      </div>
  </div>
  <div class="admin-data">
    <div class="admin-data-item">
      <div class="admin-data-left">
        <div class="admin-data-title">Total students</div>
        <div class="admin-data-number">@TempData["totalUser"]</div>
      </div><img class="admin-data-image" src="./images/student.jpg" alt=""/>
    </div>
    <div class="admin-data-item">
      <div class="admin-data-left">
        <div class="admin-data-title">Total course</div>
        <div class="admin-data-number">@TempData["totalCourse"]</div>
      </div><img class="admin-data-image" src="./images/Course.png" alt=""/>
    </div>
    <div class="admin-data-item">
      <div class="admin-data-left">
        <div class="admin-data-title">Sold</div>
        <div class="admin-data-number">@TempData["totalPayment"]</div>
      </div><img class="admin-data-image" src="./images/Sold.png" alt=""/>
    </div>
  </div>
  <div class="admin-top">
    <div class="admin-title">Top user highest point</div>
    <div class="admin-table">
      <table>
        <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Course</th>
            <th>Point</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="admin-table-number">1</div>
            </td>
            <td>
              <div class="admin-table-name"> <img class="admin-table-image" src="./images/student.jpg" alt="">
                <p class="admin-table-name">Bill gate </p>
              </div>
            </td>
            <td>
              <div class="admin-table-type">1</div>
            </td>
            <td>
              <div class="admin-table-point">102</div>
            </td>
            <td> <a class="admin-table-action" href="#"><i class="fas fa-gifts"></i></a></td>
          </tr>
          <tr>
            <td>
              <div class="admin-table-number">1</div>
            </td>
            <td>
              <div class="admin-table-name"> <img class="admin-table-image" src="./images/student.jpg" alt="">
                <p class="admin-table-name">Bill gate </p>
              </div>
            </td>
            <td>
              <div class="admin-table-type">1</div>
            </td>
            <td>
              <div class="admin-table-point">102</div>
            </td>
            <td> <a class="admin-table-action" href="#"><i class="fas fa-gifts"></i></a></td>
          </tr>
          <tr>
            <td>
              <div class="admin-table-number">1</div>
            </td>
            <td>
              <div class="admin-table-name"> <img class="admin-table-image" src="./images/student.jpg" alt="">
                <p class="admin-table-name">Bill gate </p>
              </div>
            </td>
            <td>
              <div class="admin-table-type">1</div>
            </td>
            <td>
              <div class="admin-table-point">102</div>
            </td>
            <td> <a class="admin-table-action" href="#"><i class="fas fa-gifts"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="admin-top admin-tablel-order">
    <div class="admin-title">User orderd</div>
    <div class="admin-table admin-table--overflowFull">
      <table>
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Student email</th>
            <th>Order date</th>
            <th>Course type</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var item in @ViewBag.users)
            {
                @foreach (var elemt in @ViewBag.userPayments)
                {
                    @if (item.UserID==elemt.user_id)
                    {
                        <tr>
                        <td>
                            <div class="admin-table-number">@elemt.payment_id</div>
                        </td>
                        <td>
                            <div class="admin-table-name" style="justify-content: center;"> <img class="admin-table-image" src="./images/student.jpg" alt="">
                            <p class="admin-table-name">@item.FullName</p>
                            </div>
                        </td>
                        @foreach (var fee in @ViewBag.fees)
                        {
                            @if (@elemt.fee_id==@fee.fee_id)
                            {
                                <td>
                                    <div class="admin-table-action">@fee.fee_type</div>
                                </td>
                            }
                        }
                        <td>
                            <div class="admin-table-point">@elemt.payment_date.ToShortDateString()</div>
                        </td>
                        @foreach (var method in @ViewBag.methodPayments)
                        {
                            @if (@method.method_id==@elemt.method_id)
                            {
                            <td>
                              <div class="admin-table-action admin-table-action--green">@method.method_name</div>
                            </td>
                            }
                        }
                        </tr>
                    }
                }
            }
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

