@{
    ViewData["Title"] = "ComfirmForgotPassword";
    Layout=null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <link rel="icon" href="favicon-16x16.png" type="image/x-icon" sizes="16x16">
    <link rel="stylesheet" href="~/public/styles/styles/reset.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&amp;family=Roboto:wght@300&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&amp;family=Roboto:wght@300&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/public/styles/styles/fontawesome.css">
    <link rel="stylesheet" href="~/public/styles/styles.css">
</head>
<body class="comfirm">
    <div class="wrapper">
    <section class="comfirmemail">
        <button class="userpageicon">Poppin'</button><img class="emailhome" src="/images/emailopen.png">
        <h1 class="emailcomfirmtitle1">Check your Mail</h1>
        <h2 class="emailcomfirmtitle2">We have sent you an email vertification instruction to your email </h2>
        <button class="openemailbutton">Open email app </button>
        <button class="skipemailbutton">Skip! I will comfirm it later</button>
        <h3 class="emailnotfound">Did not recive the email? Check your span filter, or </h3>
        <button class="changeanotheremail">try another email address </button>
    </section>
    </div>
</body>
</html>