@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <link rel="icon" href="favicon-16x16.png" type="image/x-icon" sizes="16x16">
    <link rel="stylesheet" href="~/public/styles/styles/reset.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&amp;family=Roboto:wght@300&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&amp;family=Roboto:wght@300&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/public/styles/styles/fontawesome.css">
    <link rel="stylesheet" href="~/public/styles/styles.css">
</head>
<body class="New Email">
<div class="wrapper">
    @using(Html.BeginForm("SendEmail", "Account", FormMethod.Post)){
        <button class="userpageicon">Poppin'</button>
        <h1 class="chemailtitle">Change password </h1>
        <h3 class="chemaildecrip">Enter your account's old email and we will send an email with password</h3>
        <h3 class="chemailenterold">Email Address </h3>
        <img class="emailsender" src="/images/emailsend.png">
        <input class="inputoldemail" type="input" placeholder="Enter your new email" name="email"><img class="emailicon" src="/images/emailicon.png">
        <p>
            @ViewBag.error
        </p>
        <input class="submitoldemail" type="submit" value="Send Vertification">
    }
</div>
</body>
</html>
