@{
    ViewData["Title"] = "Password";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="password-wrapper">
    <div class="password-container">
        <div class="password-profile">
            <img
                class="password-profile-image"
                src="/images/main.jpg"
                alt=""
            /><i
                class="fas fa-chevron-right password-profile-icon"
            >
            </i>
            <h2 class="password-profile-title">OverView</h2>
        </div>
    </div>
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post)){
    <div class="password-main">
        <div class="password-main-filed">
            <div class="password-main-title">Old password</div>
            <input class="password-main-input" type="password" placeholder="Enter old password" name="oldPassword"/>
        </div>
        <div class="password-main-filed">
            <div class="password-main-title">New password</div>
            <input class="password-main-input" type="password" placeholder="Enter new password" name="newPassword"/>
        </div>
        <div class="password-main-filed">
            <div class="password-main-title">Re-enter password</div>
            <input class="password-main-input" type="password" placeholder="Re-enter new password" name="renewPassword"/>
        @if(TempData["ErrorLength"]!=null){
            <p class="changepassword changepassword-error">@TempData["ErrorLength"]</p>
        }
        @if(TempData["ErrorMatch"]!=null){
            <p class="changepassword changepassword-error">@TempData["ErrorMatch"]</p>
        }
        @if(TempData["ErrorSame"]!=null){
            <p class="changepassword changepassword-error">@TempData["ErrorSame"]</p>
        }
        @if(TempData["Success"]!=null){
            <p class="changepassword">@TempData["Success"]</p>
        }
        </div>
        <button class="password-submit" type="submit" >Update password</button>
    </div>
    }
</div>