@{
    ViewData["Title"] = "ExamAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
    <div class="quiz">
        <div class="password-container">
            <div class="password-profile">
                <img
                    class="password-profile-image"
                    src="/images/main.jpg"
                    alt=""
                /><i
                    class="fas fa-chevron-right password-profile-icon"
                >
                </i>
                <h2 class="password-profile-title">Exam</h2>
            </div>
        </div>
        <div class="quiz-list">
            @foreach (var item in @ViewBag.Examination)
            {
            <div class="quiz-item" id="@item.exam_id">
                <div class="quiz-header">
                    <img
                        class="quiz-images"
                        src="/images/main.jpg"
                        alt=""
                    />
                    <div class="quiz-title">
                        <div class="quiz-name">
                            @item.exam_name
                        </div>
                    </div>
                    <a
                    style="margin-left: auto !important;"
                        class="admin-table-action admin-table-action--red"
                        data-id-exam="@item.exam_id" id="ExamRemove">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
                <div class="quiz-main">
                    <div class="quiz-main-item">
                        <div class="quiz-main-title">Author</div>
                        <div class="quiz-main-name">
                            @foreach (var elemt in @ViewBag.users)
                            {
                                @if (elemt.UserID==item.teacher_id)
                                {
                                    @elemt.FullName
                                }
                            }
                        </div>
                    </div>
                    <div class="quiz-main-item">
                        <div class="quiz-main-title">
                            Total point
                        </div>
                        <div class="quiz-main-name">@item.exam_point</div>
                    </div>
                    <div class="quiz-main-item">
                        <div class="quiz-main-title">
                            Time for exam
                        </div>
                        <div class="quiz-main-name">@item.exam_times minute</div>
                    </div>
                    <div class="quiz-main-item">
                        <div class="quiz-main-title">
                            Number of questions
                        </div>
                        <div class="quiz-main-name">@item.exam_total_questions</div>
                    </div>
                </div>
            </div>
            }
        </div>
        <ul class="pagination">
                <li class="page-item page-item-first">
                    <a class="page-link page-active" href="#"
                        ><span class="page-link-icon"
                            ><i class="fas fa-angle-left"></i></span
                        ><span>Prev</span></a
                    >
                </li>
                <li class="page-item page-item-child">
                    <a class="page-link" href="#"><span>1</span></a>
                </li>
                <li class="page-item page-item-child">
                    <a class="page-link" href="#"><span>2</span></a>
                </li>
                <li class="page-item page-item-last">
                    <a class="page-link" href="#">
                        <span>Next</span
                        ><span class="page-link-icon"
                            ><i
                                class="fas fa-angle-right"
                            ></i></span
                    ></a>
                </li>
            </ul>
        @* <div class="admin-chart-container">
            <div class="admin-chart admin-chart--pad">
                <h2 class="admin-title admin-title--sale">
                    Quizzes analytic
                </h2>
                <canvas id="myChartQuizzes"> </canvas>
            </div>
        </div> *@
    </div>
    <script src="~/public/scripts/exam.js"></script>
