@{
  ViewData["Title"] = "Index";
  Layout = "~/Views/Shared/_LayoutExam.cshtml";
}
<body class="Exam">
  <div class="wrapper">
    <section class="exam">
      <div class="exam-left">
        <div class="icon-exam-header"><a href="@Url.Action("backToHome","Exam")">
            <h1 class="header-title">Poppins'</h1>
          </a></div>
        <div class="icon-exam-main">
          <table>
            <tr>
              <th><a href="@Url.Action("backToCourse","Exam")">
                  <h1 class="exam-first">Course</h1>
                </a></th>
              <th><a href="@Url.Action("backListExam","Exam")">
                  <h1 class="exam-second">Exam</h1>
                </a></th>
            </tr>
          </table>
        </div>
          <div class="exam-content">
            <table class="exam-content">
              <td>
                <p>@ViewBag.ExamById.exam_description</p>
              </td>
            </table>
          </div>
      </div>
      <div class="exam-button">
        <a class="button-first" asp-route-exam_id="@ViewBag.ExamById.exam_id" asp-action="Process" asp-controller = "Exam">Start</a>
        <button class="button-second" type="submit" alt=""
          onclick="location.href = '@Url.Action("ReviewExam","Exam")'">List Exam</button>
      </div>
      <div class="exam-right"><img class="exam-image" srcset="~/public/images/Exam.png 2x"></div>
    </section>
  </div>
</body>
