@{
    ViewData["Title"] = "ListExam";
    Layout = "~/Views/Shared/_LayoutExam.cshtml";
}

<body class="ListExam">
    <div class="wrapper">
        <session class="list-Exam">
            <div class="icon-exam-process-header">
                <h1 class="listExam-title">Poppins' Exam </h1>
            </div>
            <div class="content-list">
                <h1>Select a Exam</h1>
            </div>
            <div class="listExam">
                <div class="column-ListExam">
                    @foreach (Exam item in ViewBag.Examination)
                    { 
                        <a asp-route-exam_id="@item.exam_id" asp-action="Index" asp-controller ="Exam">
                            <div class="row-ListExam">
                                <div class="card">
                                    <h1 id="@item.exam_id">@item.exam_name</h1>
                                </div>
                            </div>
                        </a>
                    }
                </div>
        </session>
    </div>
</body>
