@{
    ViewData["Title"] = "Process";
    Layout = "~/Views/Shared/_LayoutExam.cshtml";
}

<body class="Exam-process">
    <div class="wrapper">
        <section class="exam-process">
            <div class="icon-exam-process-header">
                <h1 class="header-title-first">Poppins'</h1>
                <h1 class="header-main-title">@ViewBag.ExamById.exam_name</h1>
                <h2 class="header-title-second">Exam</h2>
            </div>
            <div class="table-content-question">

                @for (int i = 1; i <= ViewBag.GetQAforExam.Count; i++)
                {
                    if (i == 1)
                    {
                        <div class="table-question-content" data-content="@i">
                            <p class="num-question">@ViewBag.GetQAforExam[i-1].question_sentence</p><br />
                            <div class="option-content">
                                <input type="radio" name="option-@i" class="answer" id="option-1"
                            value="@ViewBag.WordsForQuestions[i-1].word_id">
                                <label for="option-@i">A. @ViewBag.WordsForQuestions[i-1].word_face</label> <br />
                                <input type="radio" name="option-@i" class="answer" id="option-2" />
                                <label for="option-2">B. history </label> <br />
                                <input type="radio" name="option-@i" class="answer" id="option-3" />
                                <label for="option-3">C. join </label> <br />
                                <input type="radio" name="option-@i" class="answer" id="option-4" />
                                <label for="option-4">D. leave </label> <br />
                            </div>
                        </div>
                    }
                    if (i % 2 == 0 && i % 5 != 0)
                    {
                        <div class="table-question-content" data-content="@i">
                            <p class="num-question">@ViewBag.GetQAforExam[i-1].question_sentence</p><br />
                            <div class="option-content">
                                <input type="radio" name="option-@i" class="answer" id="option-2" />
                                <label for="option-2">A.  element</label> <br />
                                <input type="radio" name="option-@i" class="answer" id="option-3" />
                                <label for="option-3">B. especially</label> <br />
                                <input type="radio" name="option-@i" class="answer" id="option-1"
                            value="@ViewBag.WordsForQuestions[i-1].word_id">
                                <label for="option-@i">C. @ViewBag.WordsForQuestions[i-1].word_face</label> <br />
                                <input type="radio" name="option-@i" class="answer" id="option-4" />
                                <label for="option-4">D. eye</label> <br />
                            </div>
                        </div>
                    }
                    if (i % 2 == 1)
                    {
                        <div class="table-question-content" data-content="@i">
                            <p class="num-question">@ViewBag.GetQAforExam[i-1].question_sentence</p><br />
                            <div class="option-content">
                                <input type="radio" name="option-@i" class="answer" id="option-2" />
                                <label for="option-2">A. father </label> <br />
                                <input type="radio" name="option-@i" class="answer" id="option-3" />
                                <label for="option-3">B. fun </label> <br />
                                <input type="radio" name="option-@i" class="answer" id="option-4" />
                                <label for="option-4">C. guess </label> <br />
                                <input type="radio" name="option-@i" class="answer" id="option-1"
                            value="@ViewBag.WordsForQuestions[i-1].word_id">
                                <label for="option-@i">D. @ViewBag.WordsForQuestions[i-1].word_face</label> <br />
                            </div>
                        </div>
                    }
                    if (i % 5 == 0)
                    {
                        <div class="table-question-content" data-content="@i">
                            <p class="num-question">@ViewBag.GetQAforExam[i-1].question_sentence</p><br />
                            <div class="option-content">
                                <input type="radio" name="option-@i" class="answer" id="option-2" />
                                <label for="option-2">A. market </label> <br />
                                <input type="radio" name="option-@i" class="answer" id="option-1"
                            value="@ViewBag.WordsForQuestions[i-1].word_id">
                                <label for="option-@i">B. @ViewBag.WordsForQuestions[i-1].word_face</label> <br />
                                <input type="radio" name="option-@i" class="answer" id="option-3" />
                                <label for="option-3">C. multiply </label> <br />
                                <input type="radio" name="option-@i" class="answer" id="option-4" />
                                <label for="option-4">D. minute </label> <br />
                            </div>
                        </div>
                    }
                }
                <div class="table-question">
                    <table class="list-question">
                        @for (var j = 1; j <= @ViewBag.ExamById.exam_total_questions; j++)
                        {
                            if (j % 5 == 0)
                            {
                                <button class="button-question" data-number="@j" type="submit" id="" alt="">@j</button> <br />
                            }
                            else
                            {
                                <button class="button-question" data-number="@j" type="submit" id="" alt="">@j</button>
                            }
                        }
                    </table>
                </div>
                <div class="button-container">
                    <div class="exam-button-right">
                        <button class="button-finish" data-id="@ViewBag.ExamById.exam_id"> Finish the
                            test</button>
                    </div>
                </div>
        </section>
    </div>
</body>