@{
    ViewData["Title"] = "Result";
    Layout = "~/Views/Shared/_LayoutExam.cshtml";
}
<body class="Exam Result">
    <div class="wrapper">
        <section class="exam-result">
            <div class="learning-header">
                <div class="titleword"> Poppin' </div>
                <div class="navbar">
                    <div class="icons">
                        <div class="icons-icon" id="revise" data-switcher data-tab="1"> <img
                                src="~/public/images/looparrow.png" alt=""><span>Revise</span></div>
                        <div class="icons-icon" id="learnword" data-switcher data-tab="2"><img
                                src="~/public/images/stackofbooks.png" alt=""><span>Learn new words</span></div>
                        <div class="icons-icon" id="notebook" data-switcher data-tab="3"><img
                                src="~/public/images/notebook.png" alt=""><span>Notebook</span></div>
                    </div>
                </div>
                <div class="settings">
                    <div class="icons">
                        <div class="icons-user"><img src="~/public/images/usericon.png" alt="" height="80" width="80">
                        </div>
                    </div>
                </div>
            </div>
            <div class="name">
                <h1 class="name">Welcome!!!, <a href="@Url.Action("backToUserProfile","Exam")">user</a> Exam Result
                </h1>
            </div>
            <div class="table-result">
                <table>
                    <tr>
                        <th>
                            <h2 class="column">Test Name</h2>
                        </th>
                        <th>
                            <h2 class="column">Total questions </h2>
                        </th>
                        <th>
                            <h2 class="column">Correct answers</h2>
                        </th>
                        <th>
                            <h2 class="column">Percent correct</h2>
                        </th>
                        <th>
                            <h2 class="column">Mark</h2>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <h2 class="cont">@ViewBag.ExamById.exam_name</h2>
                        </td>
                        <td>
                            <h2 class="cont">@ViewBag.ExamById.exam_total_questions</h2>
                        </td>
                        <td>
                            <h2 class="cont">@TempData["right"]</h2>
                        </td>
                        @{double right = double.Parse(TempData["right"].ToString());}
                        <td>
                            <h2 class="cont">@(Math.Round(((double)@right*100/@ViewBag.ExamById.exam_total_questions), 2))%</h2>
                        </td>
                        <td>
                            <h2 class="cont">@(Math.Round(((double)@right*10/@ViewBag.ExamById.exam_total_questions), 2))</h2>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="button-result">
                <button class="button-learn" type="submit" alt=""
                    onclick="location.href = '@Url.Action("continueLearning","Exam")'"> Continue Leaning</button>
                <button class="button-review" type="submit" alt=""
                    onclick="location.href = '@Url.Action("reviewPage","Exam")'">Review </button>
                <button class="button-exit" type="submit" alt=""
                    onclick="location.href = '@Url.Action("Exit","Exam")'">Exit</button>
            </div>
        </section>
    </div>
</body>