﻿<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Edit courses</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <link rel="icon" href="favicon-16x16.png" type="image/x-icon" sizes="16x16">
    <link rel="stylesheet" href="~/public/styles/reset.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&amp;family=Roboto:wght@300&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&amp;family=Roboto:wght@300&amp;display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/public/styles/fontawesome.css">
    <link rel="stylesheet" href="~/public/styles/styles.css">
  </head>
  <body class="Admin">
    <div class="wrapper"> 
      <section class="admin"> 
        <div class="admin-feature"> 
          <div class="admin-logo">Poppin</div>
          <div class="admin-feature-list"> <a class="admin-feature-item"> <i class="fas fa-tachometer-alt admin-feature-icon"></i>
              <h2 class="admin-feature-name">Dashboard</h2></a>
              <a class="admin-feature-item" asp-action="CourseAdmin" asp-controller="Course"> 
                <i class="fas fa-book admin-feature-icon"></i>
                <h2 class="admin-feature-name">Course</h2>
              </a>
              <a class="admin-feature-item" > 
                  <i class="fas fa-file-alt admin-feature-icon"></i>
                  <h2 class="admin-feature-name">Test</h2>
              </a>
                <a class="admin-feature-item" > <i class="fas fa-users admin-feature-icon"></i>
              <h2 class="admin-feature-name">Student</h2></a><a class="admin-feature-item" > <i class="fas fa-users admin-feature-icon"></i>
              <h2 class="admin-feature-name">Teacher</h2></a><a class="admin-feature-item"> <i class="fas fa-table admin-feature-icon"></i>
              <h2 class="admin-feature-name">Sell Report</h2></a><a class="admin-feature-item"> <i class="fas fa-comment-alt admin-feature-icon"></i>
              <h2 class="admin-feature-name">Feedback</h2></a><a class="admin-feature-item" > <i class="fas fa-key admin-feature-icon"></i>
              <h2 class="admin-feature-name">Change Password</h2></a><a class="admin-feature-item"> <i class="fas fa-sign-out-alt admin-feature-icon"></i>
              <h2 class="admin-feature-name">Logout</h2></a>
          </div>
        </div>
       @RenderBody()
      </section>
    </div>
    <script src="~/public/scripts/admin.js"></script>
    <script src="~/public/scripts/main.js"></script>
    <script src="~/public/scripts/teacher.js"></script>
    <script src="~/public/scripts/ajax.js"></script>
    <!--script(src="scripts/chart.js")-->
  </body>
</html>