@{
    ViewData["Title"] = "UserAdmin";
    Layout="~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="admin-main admin-main--course">
    <div class="admin-filed">
        <i class="fas fa-search"></i>
        <input
            class="admin-search"
            type="text"
            placeholder="Search for student name"
        />
    </div>
    <div class="admin-top">
        <div class="admin-title">Student List</div>
        <div class="admin-table">
            <table>
                <thead>
                    <tr>
                        <th>Student ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Course type</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (User item in ViewBag.Users)
                    {
                        if(item.roleID=="3"){
<tr>
                        <td>
                            <div class="admin-table-number">
                                1
                            </div>
                        </td>
                        <td>
                            <div class="admin-table-name">
                                <img
                                    class="admin-table-image"
                                    src="./images/student.jpg"
                                    alt=""
                                />
                                <p class="admin-table-name">
                                    Bill gate
                                </p>
                            </div>
                        </td>
                        <td>
                            <div class="admin-table-type">
                                Ronaldo
                            </div>
                        </td>
                        <td>
                            <div
                                class="admin-table-action admin-table-action--purple"
                            >
                                premium
                            </div>
                        </td>
                        <td>
                            <a
                                class="admin-table-action admin-table-action--red"
                                href="#"
                                ><i class="fas fa-trash"></i
                            ></a>
                        </td>
                    </tr>
                        }
                    }
                    
                </tbody>
            </table>
        </div>
    </div>
</div>