@{
    ViewData["Title"] = "UserAdmin";
    Layout="~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="admin-main admin-main--course">
    <div class="admin-filed">
        <i class="fas fa-search"></i>
        <input
            class="admin-search"
            type="text"
            placeholder="Search for student name"
        />
    </div>
    <div class="admin-top">
        <div class="admin-title">Student List</div>
        <div class="admin-table">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th style="text-align: center;">Course</th>
                        <th class="center">Role</th>
                        <th  style="text-align: center;">Active</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (User item in ViewBag.Users)
                    {
                        @if(item.roleID=="3" || item.roleID=="4"){
                            <tr>
                                <td>
                                    <div class="admin-table-number">
                                        @item.UserID
                                    </div>
                                </td>
                                <td>
                                    <div class="admin-table-name">
                                        <img
                                            class="admin-table-image"
                                            src="@item.urlAvatar"
                                            alt=""
                                        />
                                        <p class="admin-table-name">
                                            @item.FullName
                                        </p>
                                    </div>
                                </td>
                                <td>
                                    <div class="admin-table-type">
                                        @item.UserEmail
                                    </div>
                                </td>
                                <td>
                                    @foreach (Subscription elem in ViewBag.Subscriptions)
                                    {
                                        @if (elem.subscription_id==item.SubscriptionId)
                                        {
                                            @foreach (Fee Subitem in ViewBag.Fees)
                                            {
                                                @if (Subitem.fee_id==elem.fee_id)
                                                {
                                                    @if (Subitem.fee_id==1)
                                                    {
                                                        <div class="admin-table-action admin-table-action--purple">
                                                            @Subitem.fee_type
                                                        </div>
                                                    }
                                                    @if (Subitem.fee_id==2)
                                                    {
                                                        <div class="admin-table-action admin-table-action--orange">
                                                            @Subitem.fee_type
                                                        </div>
                                                    }
                                                    @if(Subitem.fee_id==3)
                                                    {
                                                        <div class="admin-table-action admin-table-action--green">
                                                            @Subitem.fee_type
                                                        </div>
                                                    }
                                                }
                                            }
                                        }
                                    }
                                </td>
                                <td>
                                    @if(item.roleID=="3"){
                                        <div class="admin-table-action admin-table-action--green">
                                                Active
                                        </div>
                                    }
                                    @if(item.roleID=="4"){
                                        <div class="admin-table-action admin-table-action--none">
                                                None
                                        </div>
                                    }
                                </td>
                                <td class="center">
                                    <a
                                        class="admin-table-action admin-table-action--red"
                                        asp-controller="User" asp-action="UpdateRole" asp-route-id="@item.UserID"
                                        ><i class="fas fa-trash"></i
                                    ></a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>