@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="admin-main admin-main--course">
    <div class="admin-filed"><i class="fas fa-search"></i>
    <input class="admin-search" type="text" placeholder="Search for student name">
    </div>
    <div class="admin-top">
    <div class="admin-title">List of feedback</div>
    <div class="admin-table admin-teacher"> 
        <table> 
        <thead> 
            <tr> 
            <th>ID</th>
            <th>Content</th>
            <th>Name</th>
            <th>Delete</th>
            <th>Status</th>
            </tr>
        </thead>
        <tbody> 
            <tr> 
            <td> 
                <div class="admin-table-number">1</div>
            </td>
            <td> 
                <div class="admin-table-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque molestiae delectus esse aspernatur aperiam alias, saepe fugit quisquam cumque dolorem placeat repellat nisi. Consequatur aspernatur delectus nostrum asperiores, alias est!</div>
            </td>
            <td> 
                <div class="admin-table-name" style="justify-content: center;"> <img class="admin-table-image" src="./images/student.jpg" alt="">
                <p class="admin-table-name">Billgate</p>
                </div>
            </td>
            <td> <a class="admin-table-action admin-table-action--red" href="#"><i class="far fa-trash"></i>  </a></td>
            <td> <a class="admin-table-action admin-table-action--green" href="#"><i class="fas fa-share"></i>  </a></td>
            </tr>
        </tbody>
        </table>
    </div>
    </div>
</div>