section.exam-result
    .learning-header
        .titleword  Poppin' 
        .navbar
            .icons
                .icons-icon#revise(data-switcher data-tab="1")  
                    img(src="./images/looparrow.png", alt="")
                    span Revise
                .icons-icon#learnword(data-switcher data-tab="2")
                    img(src="./images/stackofbooks.png", alt="")
                    span Learn new words
                .icons-icon#notebook(data-switcher data-tab="3")
                    img(src="./images/notebook.png", alt="")
                    span Notebook
        .settings
            .icons 
                .icons-user
                    img(src="./images/usericon.png", alt="" height = 80 width = 80)
                .icons-settingbar 
                    img(src="./images/settingbar.png", alt="" height = 60 width = 60)
    .name 
        h1.name Welcome!!!, 
            a(href="userinfo.html") user Exam Result 
    .table-result
        table
            tr
                th 
                    h2.column Test Name
                th 
                    h2.column Number of total questions 
                th 
                    h2.column Number of correct answers
                th 
                    h2.column Percent correct answers 
                th 
                    h2.column Mark
            tr
                td 
                    h2.cont Final Exam
                td
                    h2.cont 30
                td 
                    h2.cont 30
                td 
                    h2.cont 100
                td 
                    h2.cont 10.0
            tr
                td 
                    h2.cont Final Exam
                td
                    h2.cont 30
                td 
                    h2.cont 30
                td 
                    h2.cont 100
                td 
                    h2.cont 10.0
            tr
                td 
                    h2.cont Final Exam
                td
                    h2.cont 30
                td 
                    h2.cont 30
                td 
                    h2.cont 100
                td 
                    h2.cont 10.0
            tr
                td 
                    h2.cont Final Exam
                td
                    h2.cont 30
                td 
                    h2.cont 30
                td 
                    h2.cont 100
                td 
                    h2.cont 10.0
            tr
                td 
                    h2.cont Final Exam
                td
                    h2.cont 30
                td 
                    h2.cont 30
                td 
                    h2.cont 100
                td 
                    h2.cont 10.0
            tr
                td 
                    h2.cont Final Exam
                td
                    h2.cont 30
                td 
                    h2.cont 30
                td 
                    h2.cont 100
                td 
                    h2.cont 10.0
            
    .button-result 
        button.button-learn(type="submit" alt="")  Continue Leaning
        button.button-review(type="submit"  alt="") Review 
        button.button-exit(type="submit" alt="") Exit