session.list-Exam
    .icon-exam-process-header
        h1.listExam-title Poppins' Exam 
    .content-list
        h1 Select a Exam
    .listExam
        .column-ListExam
            a(href="")
                .row-ListExam 
                    .card
                        h1 Basic Exam
            a(href="")
                .row-ListExam 
                    .card
                        h1 Basic Exam
            a(href="")
                .row-ListExam 
                    .card
                        h1 Basic Exam
            a(href="")
                .row-ListExam 
                    .card
                        h1 Basic Exam

