
section.reviewing_answers
    .progress
        button.close-button &times; 
        .progress-bar
    .div-reviewing    
        .div-reviewing-content.active(question-number=1)
            p.p.question-type Chọn nghĩa của từ được gạch chân
            .textbox#question This event has been mainly #[u sponsored] by Apple corporation.
            .choice
                button.button Tài trợ, bảo trợ
                button.button Trợ cấp
                button.button Bảo vệ
        .div-reviewing-content(question-number=2)
            p.p.question-type Nghe và viết lại
            .div-text-to-speech
                .div-audio-icon
                    img.audio-icon(src="images/speaker icon.jpg", alt="")
            input.textbox#answer(type="text" autofocus)
        .div-reviewing-content(question-number=3)
            p.question-type Điền từ
            .div-word (n)Tài trợ
            input.fill-in-the-word
        button.test Kiểm tra
        #div-answer
    
    //- button.button-base.continue-button Tiếp tục
