section.reviewing_result
    .progress
        button.close-button &times; 
        .progress-bar
        img(src="./images/star.png", alt="").star
    p.reviewing-count-result Bạn đã trả lời đúng 7/10 câu
    .reviewing-wrong-answers
        table
            tbody
                tr
                    td meet a need
                    td phrase
                    td đáp ứng yêu cầu
                tr
                    td meet a need
                    td phrase
                    td đáp ứng yêu cầu
                tr
                    td meet a need
                    td phrase
                    td đáp ứng yêu cầu
    img(src="./images/cute_p00p.png", alt="").icon-cute
    button.button-base.review-now Ôn tập ngay
    button.button-base.learn-new-word-btn Học từ mới

