section.comfirmemail         
        block comfirmemailtitle 
            button.userpageicon Poppin'
            img.emailhome(src="./images/emailopen.png")
            h1.emailcomfirmtitle1 Check your Mail
            h2.emailcomfirmtitle2 We have sent you an email vertification instruction to your email 
            button.openemailbutton Open email app 
            button.skipemailbutton Skip! I will comfirm it later
        block comfirmemailbottom 
            h3.emailnotfound Did not recive the email? Check your span filter, or 
            button.changeanotheremail try another email address 

