section.changeemail 
        block oldemailtitle 
            button.userpageicon Poppin'
            img.emailsender(src="./images/emailsend.png")
            h1.chemailtitle Change Email 
            h3.chemaildecrip Enter your account's old email and we will send an email with instruction to change your email
        block oldemailform 
            h3.chemailenterold Email Address 
            input.inputoldemail(type="input", placeholder='Enter your new email') 
            img.emailicon(src="./images/emailicon.png")
            button.questionbutton(type='button')
                img.questionicon(src="./images/questionmark.png" data-hover='Tao cung chua biet viet gi')
            button.submitoldemail(type='submit') Send Vertification
