.chemailtitle {
    position: absolute;
    left: 350px;
    top: 140px;
    font-size: 35px;
    font-weight: bold;
    font-family: $primary-font;
    color: $text-color;
}
.chemaildecrip {
    position: absolute;
    left: 353px;
    top: 195px;
    width: 295px;
    font-size: 16px;
    font-weight: 400;
    font-family: $primary-font;
    color: $text-color;
}
.chemailenterold {
    position: absolute;
    left: 353px;
    top: 285px;
    font-size: 15px;
    font-family: $primary-font;
    color: $text-color;
    font-weight: bold;
}
.inputoldemail {
    position: absolute;
    left: 353px;
    top: 320px;
    width: 295px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 1.6rem;
    font-family: $primary-font;
}
.emailicon {
    position: absolute;
    left: 320px;
    top: 323px;
    height: 25px;
}
.submitoldemail {
    position: absolute;
    left: 353px;
    top: 390px;
    width: 295px;
    height: 40px;
    background-color: #75ce55;
    font-family: "Popins", sans-serif;
    font-size: 20px;
    color: white;
    border-radius: 5px 5px 5px 5px;
    border: none;
}
.submitoldemail:hover {
    background-color: #459e25;
    border-style: outset;
}
.questionicon {
    position: absolute;
    left: 625px;
    top: 285px;
}
.questionicon:hover:before {
    content: attr(data-hover);
    visibility: visible;
    opacity: 0;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;

    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
}
.emailsender {
    position: absolute;
    left: 500px;
    top: 70px;
    width: 964px;
    height: 426px;
    image-rendering: crisp-edges;
}
.emailhome {
    position: absolute;
    left: 600px;
    top: 80px;
    width: 170px;
    height: 170px;
}
.emailcomfirmtitle1 {
    position: absolute;
    left: 560px;
    top: 260px;
    font-size: 35px;
    font-family: $primary-font;
    font-weight: bold;
    color: $text-color;
}
.emailcomfirmtitle2 {
    position: absolute;
    left: 485px;
    top: 310px;
    font-size: 20px;
    width: 420px;
    text-align: center;
    font-family: $primary-font;
    color: $text-color;
}
.openemailbutton {
    position: absolute;
    left: 540px;
    top: 400px;
    height: 50px;
    width: 300px;
    background-color: $primary-color;
    font-family: $primary-font;
    border: none;
    border-radius: 5px 5px 5px 5px;
    color: white;
    font-size: 20px;
}
.openemailbutton:hover {
    background-color: #4ec423;
    border-style: outset;
}
.skipemailbutton {
    position: absolute;
    left: 595px;
    top: 465px;
    border: none;
    background-color: transparent;
    font-family: $primary-font;
    color: $text-color;
    font-size: 16px;
}
.skipemailbutton:hover {
    text-decoration-line: underline;
}
.emailnotfound {
    font-family: $primary-font;
    color: $text-color;
    font-size: 13px;
    position: absolute;
    left: 545px;
    top: 580px;
}
.changeanotheremail {
    position: absolute;
    left: 613px;
    top: 600px;
    border: none;
    background-color: transparent;
    font-family: $primary-font;
    color: $primary-color;
    font-size: 13px;
}
.changeanotheremail:hover {
    text-decoration-line: underline;
}
