.icon {
    &-exam-header {
        color: white;
        font-size: 5rem;
        background-color: rgb(88, 88, 243);
        width: 30%;
        height: 90rem;
        padding-top: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    &-exam-main {
        color: white;
        font-size: 6.5rem;
        width: 30%;
        margin-top: -75rem;
        margin-left: 19rem;
    }
}

.exam-first {
    color: white;
}

.exam-second {
    color: blue;
    padding-left: 1rem;
}

.exam {
    &-image {
        position: absolute;
        width: 50%;
        right: 70px;
        height: 90rem;
        top: 1px;
    }

    &-content {
        font-size: 1.7rem;
        color: white;
        width: 36%;
        margin-top: 2rem;
        margin-left: 11rem;
        margin-bottom: 7rem;
    }
}

.button-first {
    display: table;
    width: 18rem;
    height: 4rem;
    color: white;
    font-weight: bold;
    font-size: 1.7rem;
    padding-top: 1.1rem;
    text-align: center;
    border: 0px solid black;
    border-radius: 1rem;
    background-color: $primary-color;
    margin: 0 0 2rem 31rem;
}

.button-second{
    width: 18rem;
    height: 4rem;
    font-weight: bold;
    font-size: 1.7rem;
    border: 0px solid black;
    border-radius: 1rem;
    background-color: rgb(198, 204, 198);
    margin-left: 31rem;
}