.header {
    background-color: #5287c8;
    padding: 15px;
    &-title {
        width: 355px;
        font-family: Poppins;
        font-weight: bold;
        font-size: 6rem;
        text-align: center;
        color: #ffffff;
    }
}
