.navigationbar {
  width: 100%;
  height: 10vh;
}
footer{
  height: 20%;
  width: 100%;
}
.banner{
  width: 100%;
  background-color: $secondary-color;
  height: 10vh;
}
.learning-header {
  background-color: $secondary-color;
  width: 100%;
  max-height: 100px;
  display: flex;
  justify-content: center;
  div {
      flex-basis: 25%;
  }
  .titleword {
    padding: 1.5%;
    font-size: 6rem;
    font-weight: 600;
    color: #ffffff;
  }
  .navbar {
    flex: 2;
    .icons{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        //align-items: center;
        img{
          width: 8rem;
          height: 7.5rem;
          object-fit: contain;
          margin: 0 auto;
        }
        &-icon{
          flex-shrink: auto;
          cursor: pointer;
          &:hover{
            background-color: rgba(0, 0, 0, 0.192);
          }
          &.is-active{
            background-color: rgba(0, 0, 0, 0.432);
          }
        }
        span{
          display: inline-block;
          text-align: center;
          width: 100%;
          color: #ffffff;
          font-size: 175%;
          font-weight: 700;
          margin: 0 auto;
        }
    }
  }
  .settings {
    align-items: right;
    .icons{
      display: flex;
      justify-content: end;
      margin-right: 5%;
      &-user{
        padding: 2%;
        width: 50%;
      }
    }
  }
}
.learning{
  height: 100vh;
}
.pages{
  height: 100%;
  &.page{
    height: 100%;
    display: none;
    &.is-active{
      display: block;
      &.revision{
        height: 80vh;
        @include flexCenter;
        gap: 1rem;
        .prep-for-review{
          text-align: center;
          font-size: 2.5rem;
          margin-bottom: 3rem;
          font-weight: 550;
        }
        .review-now{
          height: 6rem;
          width: 80%;
          margin: 0 auto;
        }
      }
      &.chapters{
        width: 60%;
        height: 80vh;
        margin: 0 auto;
        padding: 5% 2%;
        /* width */
        ::-webkit-scrollbar {
          width: 1rem;
          height: 30%;
        }
        /* Track */
        ::-webkit-scrollbar-track {
          opacity: 0.8;
        }
        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: #3f3f3f; 
          border-radius: 10px;
        }
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: #272727; 
        }
        .course-list {
          display: flex;
          flex-direction: column;
          justify-content: start;
          overflow-y: scroll;
          gap: 5% 0;
      
          width: 100%;
          height: 90%;
          &-chapter{
            border: 3px solid $primary-color;
            width: 70%;
            height: 74px;
            border-radius: 25px;
            line-height: 190%;
            text-align: center;
            color: #000000;
            font-size: clamp(3rem,5vh, 5rem);
            margin: 0 auto;
            @include boxShadow;
            &-completed{
              width: 70%;
              height: 74px;
              border-radius: 25px;
              line-height: 190%;
              text-align: center;
      
              color: #ffffff;
              font-size: clamp(3rem,5vh, 5rem);
              margin: 0 auto;
              @include boxShadow;
              border-color: $primary-color;
              background-color: $primary-color;
              pointer-events: none;
            }
          }
        }
      }
      &.notebook{
        height: 80vh;
        text-align: center;
        .notebookpage{
          display: flex;
          flex-direction: column;
          // justify-content: space-around;
          align-items: center;
          width: 100%;
          height: 100%;
          .level-bar{
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 2% 0;
            margin-top: 4%;
            &-level{
              width: 10%;
              // flex-grow: 1;
              transition: all 300ms ease-in-out;

              &:hover {
                flex-grow: 0.1;
              }// hover

              &.is-active{
                flex-grow: 0.1;
                .level-name{
                  color: #000000;
                  font-size: 2.4rem;
                  line-height: 83%;
                }
              }
              .level-name{
                color: #887474;
                font-size: 2rem;
              }
              .levelbar{  
                height: 0.5rem;
                &[data-l = "1"]{
                  background-color: #EB5757;
                }
                &[data-l = "2"]{
                background-color: #FFCB09;
                }
                &[data-l = "3"]{
                  background-color: #56CBF2;
                }
                &[data-l = "4"]{
                  background-color: #2F7FEC;
                }
                &[data-l = "5"]{
                  background-color: #213682;
                }
              }
            }
          }
          .searchbar{
            margin: 2% 0;
          }
          .column-names{
            display: flex;
            flex-direction: row;
            width: 55%;
            h3{
              font-size: 2rem;
              flex: 1;
              font-weight: bolder;
              color: #7c7c7c;
            }
          }
          .div-divider{
            width: 60%;
            height: 5px;
            border-radius: 3px;
            background-color: #ececec;
            margin: 1% 0;
          }
          .wordlists{
            width: 100%;
            height: 50%;
            &-level{
              display: none;
              &.is-active{
                height: 80%;
                width: 55%;
                margin: 0 auto;
                display: flex;
                overflow-y: auto;
                flex-wrap: nowrap;
                flex-direction: column;
                gap: 5% 0;
                 /* width */
                &::-webkit-scrollbar {
                  width: 0.5rem;
                }
                  /* Track */
                &::-webkit-scrollbar-track {
                  opacity: 1;
                  background-color: #00000017;
                }
                  /* Handle */
                &::-webkit-scrollbar-thumb {
                  background: #7070707a; 
                  border-radius: 5px;
                }
                  /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                  background: #3b3b3b9d; 
                }
                .wordrow{
                  background-color: #C4C4C4;
                  border-radius: 10px;
                  width: 95%;
                  height: 4rem;
                  margin: 0 auto;
                  display: flex;
                  justify-content: space-between;
                  font-size: 1.5rem;
                  font-weight: bold;
                  line-height: 250%;
                  overflow: hidden;
                  >*{
                    width: 25%;
                  }
                  &-vocab{
                    padding-left: 2%;
                    font-weight: bolder;
                  }
                  &-defi{
                    padding-right: 2%;
                    text-align: right;
                  }
                }
                .empty{
                  font-size: 2rem;
                  font-weight: bold;
                  text-align: center;
                }
              }
            }
            
          }
        }
      }
    }
  }
}

.course-select{
  border: 3px solid #000000;
  border-radius: 15px;
  position: absolute;
  width: 15%;
  height: 100px;
  right: 1%;
  top: 20%;

  text-align: center;
  color: #ffffff;
  line-height: 167%;
  font-size: 250%;

  background-color: $secondary-color;
  border-color: $secondary-color;
}
.exam-select{
  border: 3px solid #000000;
  border-radius: 15px;
  width: 19rem;
  height: 100px;
  margin-right: 2%;
  margin-top: 3rem;
  text-align: center;
  color: #ffffff;
  line-height: 167%;
  font-size: 250%;
  background-color: $secondary-color;
  border-color: $secondary-color;
}
.courseselection{
  position: fixed;
  width: 50%;
  max-width: 80%;
  height: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 999999;

  background-color: $secondary-color;
  border-radius: 50px;
  text-align: center;
  /* width */
  ::-webkit-scrollbar {
    width: 1rem;
    height: 30%;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    opacity: 0.8;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3f3f3f; 
    border-radius: 10px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #272727; 
  }
  &.active{
    transform: translate(-50%, -50%) scale(1);  
  }
  &-header{
    width: 100%;
    height: 15%;
    padding: 0% 5%;
    display: grid;
    grid-auto-flow: column;
    // column-gap: 20%;
    border-radius: 50px 50px 0 0;
    padding-bottom: 10px;

    align-items: center;
    justify-content: space-between;
    background-color: $dark-blue;
  }
  &-title{
    width: fit-content;
    line-height: 1;
    font-size: 4rem;
    font-weight: 800;
    color: #ffffff;
    transform: translateX(45%);
  }
  .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 3.5rem;
    color: #ffffff;
    font-weight: 800;
  }

  &-body{
    height: 85%;
    padding: 10px 15px;
    &-list{
      height: 100%;
      color: #ffffff;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      overflow-y: scroll;
      flex-wrap: wrap;
      gap: 5% 0;
      .course{
        text-decoration: none;
        color: inherit;
        border: 3px solid #ffffff;
        width: 80%;
        height: 20%;
        border-radius: 15px;
        line-height: 2.5;
        text-align: center;
       // margin: ;

        font-size: clamp(3rem, 5vh, 7rem);
        @include boxShadow;
      }
    }
  }
}

.courseselectOverlay{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba( 0, 0, 0, 0.5);
  pointer-events: none;
  &.active{
    opacity: 1 !important;
    pointer-events: all;
  }
}

.leaderboard{
  height: 21rem;
  width: 19rem;
  right: 1%;
  top: 40%;
  position: absolute;
  border: 2px solid #797979;
  border-radius: 25px;

   /* width */
  ::-webkit-scrollbar {
  width: 0.5rem;
  height: 50%;
  }
  /* Track */
  ::-webkit-scrollbar-track {
  opacity: 0.8;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
  background: #3f3f3f; 
  border-radius: 10px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  background: #272727; 
  }
  &-header{
    border-bottom: 2px solid #797979;
    height: 20%;
    display: flex;
    justify-content: space-between;

    line-height: 350%;
    font-size: 1.5rem;
    font-weight: bold;
  }
  &-body{
    font-size: 1.5rem;
    height: 75%;
    display: flex;
    justify-content: space-between;
    overflow-y: scroll;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 3%;
    .user{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      line-height: 190%;
      &-avatar{
        img{
          width: 3rem;
          height: 3rem;
          border-radius: 100%;
        }
      }
      &-name{
        flex: 2;
        font-size: 1.2rem;
        padding-left: 2%;
      }
    }
  }
}