* {
  box-sizing: border-box;
}

.listExam-title{
  padding-top: 1.8rem;
  font-size: 7rem;
  font-weight: bold;
  text-align: center;
  color: #c3ff62;
}

.column-ListExam {
  margin: 3rem 20% 0 20%;
  width: 60%;
  padding: 0 10px;
}

.content-list{
  color:#40518a;
  font-size: 5rem;
  text-align: center;
  font-weight: bolder;
  margin-top: 4rem;
}

.row-listExam {margin: 0 -5px;}


.row:after {
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column-listExam {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  border: 0px solid;
  font-size: 3.5rem;
  font-weight: bolder;
  text-align: center;
  border-radius: 1.5rem;
  background-color: #b9f35b;
  margin-bottom: 3rem;
}
