.passchanger-img{
    position: absolute;
    top: 120px;
    left: 250px;
    height: 400px;
    width: 380px;
    image-rendering:crisp-edges;
}
.formtitle{
    position: absolute;
    font-size: 30px;
    top: 170px;
    left: 825px;
    font-family: $primary-font;
    color: $text-color;
    font-weight: bold;
}
.chpassblock{
    width: 100px;
    height: 40px;
}
.newpass{
    position: absolute;
    top: 280px;
    left: 850px;
    width: 320px;
    height: 30px;
    border: 1px;
    padding-left: 10px;
    border-radius: 5px 5px 5px 5px;
    border-style:groove;
}
.comfirmpass{
    position: absolute;
    top: 365px;
    left: 850px;
    width: 320px;
    height: 30px;
    border: 1px;
    padding-left: 10px;
    border-radius: 5px 5px 5px 5px;
    border-style:groove;
}
.chpassnew{
    position: absolute;
    top: 250px;
    left: 850px;
    font-size: 20px;
    font-family: $primary-font;
    color: $text-color;
}
.chpasscomfirm{
    position: absolute;
    top: 335px;
    left: 850px;
    font-size: 20px;
    font-family: $primary-font;
    color: $text-color;
}
.backbutton{
    font-size: 18px;
    position: absolute;
    top: 430px;
    left:850px;
    height: 35px;
    width: 155px;
    border: 2px;
    border-style: outset;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    font-family: $primary-font;
    color: $text-color;
}
.backbutton:hover{
    background-color: rgb(221, 204, 204);
    color: black;
}
.submitbutton{
    font-size: 18px;
    position: absolute;
    top: 430px;
    left:1015px;
    height: 35px;
    width: 155px;
    border: 2px;
    border-style: outset;
    background-color: #75ce55;
    border-radius: 5px 5px 5px 5px;
    color: white;
    font-family: $primary-font;
}
.submitbutton:hover{
    background-color: rgb(1, 190, 1);
}
.lockic{
    position: absolute;
    top: 283px;
    left: 822px;
}
.lockic2{
    position: absolute;
    top: 368px;
    left: 822px;
}