.intro{
    font-weight: bold;
    font-style: italic;
    font-size: 4rem;
    color: blue;
    text-align: center;
    margin-top: 5rem;
}
.paymentHistory{
    font-size: 2rem;
    font-style: italic;
    height: fit-content;
    margin-left: 17rem;
    margin-top: 5rem;
    table, th, td{
        border: 1px solid black;
        padding: 1rem;
    }
    table{
        width: 100rem;
        height: 10rem;
    }
    th, td{
        text-align: center;
    }
    th{
        font-weight: bold;
    }
}
.history{
    &-button{
        margin-left: 75rem;
    }
}
.htr{
        width: 12rem;
        height: 4rem;
        font-size: 2rem;
        font-weight: bold;
        color: white;
        margin-left: 3rem;
        border: 2px solid #75ce55;
        border-radius: 1.5rem;
        background-color: #75ce55; 
}
.payment{
    &-iconUser{
        margin-left: 95rem;
        width: 8rem;
        height: 8rem;
    }
}