.icon{
    &-common{
        background-color: rgb(82,135,200);
        height: 11rem;
        padding: 1rem, 2rem;
        display: flex;
        align-items: center;    
    }
    &-table{
        margin-left: 3rem;
        margin-right: 3rem;
    }

}
.header{
    &-payment-title{
        color: white;
        font-size: 6rem;
        font-weight: bold;
        text-align: center;
        padding-left: 5rem;
    }
}
.payment{
    &-title{
        font-size: 3rem;
        font-weight: bold;
        margin-top: -3rem;
    }
    &-premium{
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
    }
    &-main{
        margin-top: -19rem;
    }
    &-button{
        margin-left: 68rem;
    }
    &-option{
        width: 7rem;
        height: 6rem;
        margin-right: 7rem;
        margin-left: 5rem;
        margin-bottom: 0.5rem;
    }
}
.note{
        color: white;
        font-size: 1.5rem;
}
#title-first{
    background-color: black;
    color: white;
    border: 0px solid  black;
    border-radius: 0.5rem;
    padding-top: 1px;
    padding-left: 0.5rem;
    padding-right: 1px;
    padding-right: 0.5rem;
    margin-left: 21rem;
}
#title-second{
    background-color: rgb(255,184,0);
    border: 0px solid  black;
    border-radius: 0.5rem;
    padding-top: 1px;
    padding-left: 0.5rem;
    padding-right: 1px;
    padding-right: 0.5rem;
    margin-left: -1rem;
}
#basic, #premium, #sale-premium{
    display: table;
    width: 20rem;
    height: 5rem;
    border: 2px solid rgb(243, 195, 38);
    margin-top: 2rem;
    margin-left: 24rem;
    border-radius: 2rem;
    text-align: center;
    padding-top: 1.3rem;
}
.method{
    &-master, &-momo, &-banking{
        display: inline;
        width: 9rem;
        height: 8rem;
        margin-top: 3rem;
    }
    &-master{
        margin-left: 75rem;
    }
    &-momo, &-banking{
        margin-left: 2rem;
    }
}
#method, #subscript, #cvv, #card-number, #card, #m-y, #cv, #month, #year{
    border-radius: 1rem;
    border: 0px solid  black;
    height: 5rem;
    font-size: 2rem;
    font-weight: bold;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    display: inline-block;
}
#method, #subscript{
    width: 60rem;
    margin-left: 68rem;
}
#card-number{
    display: block;
    width: 60rem;
    margin-left: 68rem;
    margin-top: -3.5rem;
}
#card{
    margin-left: 67rem;
}
#cvv{
    display: block;
    width: 20rem;
    margin-left: 68rem;
    margin-top: -3.5rem;
}
#cv{
    margin-left: 67rem;
}
#m-y{
    margin-left: 67rem;
}
#month{
    width: 30rem;
    margin-right: 3rem;
    margin-left: 1rem;
}
#year{
    width: 15.5rem;
}
#method, #subscript, #card-number, #cvv, #month, #year{
    box-shadow: 3px 3px #88dfff;
    border: 1px solid  black;
}
.button{
    &-payment-back{
        width: 25rem;
        height: 5rem;
        border: 0px solid  black;
        border-radius: 1rem;
        font-size: 2rem;
        font-weight: bold;
        background-color: rgb(233, 233, 216);
        margin-right: 3erem;
    }
    &-pay{
        width: 31.5rem;
        height: 5rem;
        border: 0px solid  black;
        border-radius: 1rem;
        font-size: 2rem;
        font-weight: bold;
        margin-left: 2.5rem;
        background-color: rgb(255,184,0);
    }
}