@keyframes slide {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: 113px;
    }
}
@keyframes transitionSlideIn{
    from{
        opacity: 0;
        transform: translateX(10%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes btntransition{
    from{
        box-shadow: none;   
        color: #878D94;
        background-color: #E0E0E0;
    }
    to{
        background-color: $primary-color;
        color: #ffffff;
        box-shadow: 1px 5px 0px rgb(72, 141, 46);
    }
}
@keyframes transitionSlideUp{
    from{
        opacity: 0;
        transform: translateY(50%);
    }
    to{
        opacity: 1;
        transform: translateY(45%);
    }
}
.reviewing_answers{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .progress{
        width: 100%;
        height: 5%;
        display: flex;
        margin-top: 1%;
        justify-content: space-between;
        .close-button{
            cursor: pointer;
            border: none;
            outline: none;
            background: none;
            font-size: 3.5rem;
            color: #000000;
            font-weight: 800;
            padding-left: 0;
        }
        &-bar{
            
            margin:0 auto;
            min-height: 10px;
            border-radius: 10px;
            width: calc(113px * 5);
            @media only screen and (max-width: 450px) {
            width: calc(113px * 3);
            }
            @media only screen and (max-width: 350px) {
            width: calc(113px * 2);
            }
            box-shadow: 0px 10px 13px -6px rgba(44, 62, 80, 1);
            background-color: var(--colour2);
            background-image: repeating-linear-gradient(
            45deg,
            transparent,
            transparent 40px,
            var(--colour1) 40px,
            var(--colour1) 80px
            );

            animation: slide var(--speed) linear infinite;
            will-change: background-position;
        }
    }
    .div-reviewing{
        margin: 0.1% auto;
        &-content{
            width: 100%;
            height: 100%;
            display: none;
            &.active{
                display: flex;
                flex-direction: column;
                align-items: center;
                animation: transitionSlideIn 1s;
                p.question-type{
                    font-family: $primary-font;
                    text-align: center;
                    font-size: 2rem;
                    color: #838282;
                    margin: 5% auto;
                }
                .div-text-to-speech{
                    display: flex;
                    height: 7%;
                    width: 100%;
                    flex-direction: column;
                    align-items: center;
                    .div-audio-icon{
                        border: 1px solid #ffffff;
                        border-radius: 100%;
                        height: 100%;
                        width: 6.8%;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        box-shadow: 0px 5px 5px #00000086;
                    }
                    img{
                        // width: 40px;
                        height: 30px;
                        z-index: 1;
                        object-fit: contain;
                    }
                }
                .textbox{

                    padding: 2rem 2rem;
                    font-weight: bold;
                    text-align: center;
                    font-family: $primary-font;
                    font-size: 1.5rem;
                    margin: 5% auto;
                    width: 100%;
                    border: 5px solid #75CE55;
                    border-radius: 25px;
                    box-shadow: 0px 5px 5px #00000086;
                }
                .choice{

                    .button{
                        margin: 4% auto;
                        display: table;
                        max-width: 40rem;
                        width: 40rem;
                        color: #000000;
                        font-weight: bold;
                        border: none;
                        box-shadow: 0px 5px 5px #00000086;
                        &:hover{
                            color: #fff;
                        }
                        &:focus{
                            background-color: $primary-color;
                            color: #fff;
                        }
                    }
                }   
                .div-word{
                    font-size: 2rem;
                }
                input.fill-in-the-word{
                    margin-top: 10%;
                    border-image-source: linear-gradient(90deg, rgba(117,206,85,1) 29%, rgba(183,255,0,1) 74%);
                    border-width: 5px;
                    text-align: center;
                    font-size: 20px;
                    border-image-slice: 1;
                    height: 10%;
                }
            }
        }   
        .div-answer{
            width: 50%;
            height: 25%;
            margin-bottom: 10%;
            border-radius: 25px;
            padding: 10px;
            padding-left: 30px;
            transform: translateY(45%);
            display: none;

            font-size: clamp(1.5rem, 2vh, 1.7rem);
            flex-direction: column;
            div{
                padding: 1% 0;
            }
            :first-child{
                font-weight: bold;
            }
            &.correct{
                position: absolute;
                display: flex;
                background-color: #83cb69;
                animation: transitionSlideUp 0.5s;
            }
            &.incorrect{
                position: absolute;
                display: flex;
                background-color: #d14b51;
                animation: transitionSlideUp 0.5s;
            }
        }
        .test{
            width: 100%;
            height: 6%;
            margin: 0 auto;
            background-color: #E0E0E0;
            border-radius: 20px;
            text-align: center;
    
            font-size: 1.6rem;
            font-weight: bolder;
            line-height: 200%;
            color: #878D94;
            &.active{
                animation: btntransition 0.5s;
                background-color: $primary-color;
                color: #ffffff;
                box-shadow: 1px 5px 0px rgb(72, 141, 46);
            }
        }
    }
    
    // .continue-button{
    //     position: relative;
    //     z-index: 2;
    //     width: 40rem;
    //     height: 5rem;
    //     margin: 1% auto;
    //     background-color: #E0E0E0;
    //     border-radius: 20px;
    //     text-align: center;
    //     margin-bottom: 1%;
    //     display: flex;
    //     font-size: 1.6rem;
    //     font-weight: bolder;
    //     line-height: 260%;
    //     color: #878D94;
    //     text-align: center;
    //     &.active{
    //         background-color: $primary-color;
    //         color: #ffffff;
    //         box-shadow: 1px 5px 0px rgb(72, 141, 46);
    //     }
    // }
}
.reviewing_result{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .progress{
        width: 100%;
        height: 5%;
        display: flex;
        margin-top: 1%;
        justify-content: space-between;
        .close-button{
            cursor: pointer;
            border: none;
            outline: none;
            background: none;
            font-size: 3.5rem;
            color: #000000;
            font-weight: 800;
            padding-left: 0;
        }
        &-bar{
            
            margin:0 auto;
            min-height: 10px;
            border-radius: 10px;
            width: calc(113px * 5);
            @media only screen and (max-width: 450px) {
            width: calc(113px * 3);
            }
            @media only screen and (max-width: 350px) {
            width: calc(113px * 2);
            }
            box-shadow: 0px 10px 13px -6px rgba(44, 62, 80, 1);
            background-color: var(--colour2);
            background-image: repeating-linear-gradient(
            45deg,
            transparent,
            transparent 40px,
            var(--colour1) 40px,
            var(--colour1) 80px
            );

            animation: slide var(--speed) linear infinite;
            will-change: background-position;
        }
        img{
            mix-blend-mode: multiply;
        }
    }
}

