.started {
    &-list {
        display: flex;
        align-items: center;
    }
    &-image-main {
        width: 760px;
    }
    &-image {
        width: 345px;
        margin-bottom: 2rem;
    }
    &-left {
        margin-right: 8.5rem;
        margin-top: 7.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0 4rem;
    }
    &-right {
        text-align: center;
    }
    &-text {
        font-size: 2rem;
        font-weight: 800;
    }
}
.button-container {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    row-gap: 1rem;
}
