.test {
    &-container {
        display: grid;
        grid-template-columns: 55% 45%;
        grid-gap: 3.2rem;
        align-items: center;
    }
    &-container-reverse {
        display: grid;
        grid-template-columns: 55% 45%;
        grid-gap: 3.2rem;
        align-items: center;
    }
    &-image {
        max-width: 65rem;
        width: 100%;
    }
}
