:root {
    --colour1: #75ce55;
    --colour2: #6dda45;
    --speed: 4s;
}
@keyframes slide {
    from {
      background-position-x: 0;
    }
    to {
      background-position-x: 100px;
    }
  }
@keyframes transitionSlideIn{
    from{
        opacity: 0;
        transform: translateX(10%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes btntransition{
    from{
        box-shadow: none;   
        color: #878D94;
        background-color: #E0E0E0;
    }
    to{
        background-color: $primary-color;
        color: #ffffff;
        box-shadow: 1px 5px 0px rgb(72, 141, 46);
    }
}
@keyframes transitionSlideUp{
    from{
        opacity: 0;
        transform: translateY(50%);
    }
    to{
        opacity: 1;
        transform: translateY(45%);
    }
}
@keyframes grow{
    from{
        width: 0;
    }
    to{
        width: 600px;
    }
}
@keyframes slideUp{
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0);
    }
}
.wordlearning-wrapper{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    .background{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        z-index: -1;
        object-fit: fill;
    }
    .learning{
        height: 100vh;
        width: 50%;
        margin: 0 auto;
        background-color: #f8f8f8;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .progress{
            width: 100%;
            height: 5%;
            display: flex;
            margin-top: 2%;
            justify-content: start;
            .close-button{
                cursor: pointer;
                border: none;
                outline: none;
                background: none;
                font-size: 3.5rem;
                color: #000000;
                font-weight: 800;
                padding-left: 4%;
            }
            &-bar-outline{
                animation: grow 1s forwards ease-in-out;
                position: relative;
                width: 600px;
                height: 10px;
                background: #cecece;
                margin: 1% 5%;
                border-radius: 10px;
                box-shadow: 5px 5px 5px 2px #888888;
                .progress-bar{
                    transition: all 1s ease-in;
                    position: absolute;
                    margin-right: 5%;
                    min-height: 10px;
                    border-radius: 10px;
                    width: 0;
                    box-shadow: 0px 10px 13px -6px rgba(44, 62, 80, 1);
                    background-color: var(--colour2);
                    background-image: repeating-linear-gradient(
                    45deg,
                    transparent,
                    transparent 40px,
                    var(--colour1) 40px,
                    var(--colour1) 80px
                    );
    
                    animation: slide var(--speed) linear infinite;
                    will-change: background-position;
                }
            }
        }
        .div-learn{
            // position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            &-content{
                width: 100%;
                height: 100%;
                display: none;
                &.active{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    animation: transitionSlideIn 1s;
                    p.question-type{
                        font-size: 2rem;
                        color: #838282;
                        margin: 5% 0;
                    }
                    .div-text-to-speech{
                        display: flex;
                        height: 7%;
                        width: 100%;
                        flex-direction: column;
                        align-items: center;
                        .div-audio-icon{
                            border: 1px solid #ffffff;
                            border-radius: 100%;
                            height: 5%;
                            width: 2.7%;
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            box-shadow: 0px 5px 5px #00000086;
                        }
                        img{
                            // width: 40px;
                            height: 30px;
                            z-index: 1;
                            object-fit: contain;
                        }
                    }
                    input.textbox{
                        margin-top: 10%;
                        border: none;
                        height: 6%;
                        width: 60%;
                        padding: 0 3%;
                        border-radius: 10px;
                        box-shadow: 0px 5px 5px #00000086;

                    }
                    .div-word{
                        font-size: 2rem;
                    }
                    input.fill-in-the-word{
                        margin-top: 10%;
                        border-image-source: linear-gradient(90deg, rgba(117,206,85,1) 29%, rgba(183,255,0,1) 74%);
                        border-width: 5px;
                        text-align: center;
                        font-size: 20px;
                        border-image-slice: 1;
                        height: 10%;
                    }
                    .div-answer-popup{
                        border: 1px solid black;
                        width: 5rem;
                        height: 5rem;
                        &.correct{
                            background-color: #6dda45;
                        }
                    }
                    .div-audio-icon{
                        position: absolute;
                        border-radius: 100%;
                        background-color: #f8f8f8;
                        width: 50px;
                        height: 50px;
                        left: 49.5%;
                        z-index: 2;
                        @include boxShadow;
                    }
                }
            }
            &-card{
                transition: 0.5s ease-out;
                background-color: transparent;
                margin-top: 10%;
                width: 40%;
                height: 60%;
                &-inner{
                    border-radius: 15px;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    transition: transform 0.6s;
                    transform-style: preserve-3d;
                    @include boxShadow;     
                    > *{
                        pointer-events: none;
                    }
                }
            }
            .flipped{
                transform: rotateY(180deg);
            }
            .thefront{
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                color: #333;
                img{
                    width: 69%;
                    height: 60%;
                    margin: 5% auto;
                    object-fit: cover;
                }
                p{
                    width: 100%;
                    height: 50%;
                    text-align: center;
                    margin-top: 2%;
                    font-size: clamp(1rem, 3vh, 5rem);
                    u{
                        font-size: clamp(1rem, 3.5vh, 5rem);
                    }
                }
            }
            .theback{
                position: absolute;
                transform: rotateY(180deg);
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                color: #333;
                p{
                    width: 100%;
                    height: 5%;
                    margin-top: 30%;
                    text-align: center;
                    font-size: clamp(1rem, 3.5vh, 5rem);
                }
            }
            .div-answer{
                width: 50%;
                height: 25%;
                margin-bottom: 10%;
                border-radius: 25px;
                padding: 10px;
                padding-left: 30px;
                transform: translateY(45%);
                display: none;

                font-size: clamp(1.5rem, 2vh, 1.7rem);
                flex-direction: column;
                div{
                    padding: 1% 0;
                }
                :first-child{
                    font-weight: bold;
                }
                &.correct{
                    position: absolute;
                    display: flex;
                    background-color: #83cb69;
                    animation: transitionSlideUp 0.5s;
                }
                &.incorrect{
                    position: absolute;
                    display: flex;
                    background-color: #d14b51;
                    animation: transitionSlideUp 0.5s;
                }
            }
            .continue-button{
                width: 34%;
                height: 6%;
                background-color: #E0E0E0;
                border-radius: 20px;
                text-align: center;
                margin-bottom: 10%;

                font-size: 1.6rem;
                font-weight: bolder;
                line-height: 200%;
                color: #878D94;
                &.active{
                    animation: btntransition 0.5s;
                    background-color: $primary-color;
                    color: #ffffff;
                    box-shadow: 1px 5px 0px rgb(72, 141, 46);
                }
            }
            .feedbackBtn{
                position: absolute;
                width: auto;
                height: auto;
                bottom: 5%;
                right: 5%;
                img{
                    width: 5vh;
                    height: 5vh;
                }
            }
            dialog.feedbackmodal{
                width: 30%;
                height: 40%;
                left: 65%;
                top: 55%;
                background-color: #ffffff;
                border: 1px solid #c2c2c2;
                border-radius: 5px;
                // display: grid;
                @include boxShadow;
            }
            .closeModal{
                padding: 0 1%;
                font-size: clamp(2rem, 5vh, 5rem);
                color: #757575;
            }
            .feedbackform{
                display: flex;
                flex-direction: column;
                width: 90%;
                height: 80%;
                margin: 0 auto;
                justify-content: space-between;
                > *{
                    margin: 2% 0;
                }
                textarea{
                    resize: none;
                    text-align: left;
                    padding: 5%;
                    height: auto;
                    width: 100%;
                    border-radius: 5px;
                }
                .submitFeedback{
                    width: max-content;
                    height: 30%;
                    padding: 1rem 2rem;
                    font-size: clamp(1rem, 2vh, 3rem);
                }
            }
        }
    }
}