﻿﻿@{
    ViewData["Title"] = "Learning Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Learning Space</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
        <link rel="icon" href="favicon-16x16.png" type="image/x-icon" sizes="16x16">
        <link rel="stylesheet" href="~/public/styles/reset.css">
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
        <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&amp;family=Roboto:wght@300&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500&amp;family=Roboto:wght@300&amp;display=swap" rel="stylesheet">
        <link rel="stylesheet" href="~/public/styles/fontawesome.css">
        <link rel="stylesheet" href="~/public/styles/styles.css">
    </head>
<body class="Learning">
    <section class="navigationbar"> 
      <div class="learning-header">
        <div class="titleword"> Poppin' </div>
        <div class="navbar">
          <div class="icons">
            <div class="icons-icon" id="revise" data-switcher data-tab="1"> <img src="~/public/images/looparrow.png" alt=""><span>Revise</span></div>
            <div class="icons-icon is-active" id="learnword" data-switcher data-tab="2"><img src="~/public/images/stackofbooks.png" alt=""><span>Learn new words</span></div>
            <div class="icons-icon" id="notebook" data-switcher data-tab="3"><img src="~/public/images/notebook.png" alt=""><span>Notebook</span></div>
          </div>
        </div>
        <div class="settings">
          <div class="icons"> 
            <div class="icons-user"><img src="~/public/images/usericon.png" alt="" height="80" width="80"></div>
          </div>
        </div>
      </div>
    </section>
    <div class="pages"> 
      <section class="pages page revision" data-page="1">
        <div class="reviewing">
          <div id="chart_div"></div>
          @{var notebookwordsamount = ViewData["NotebookWordsAmountPerLevel"] as Dictionary<int, int>;
            var totalwords = notebookwordsamount[1] + notebookwordsamount[2] + notebookwordsamount[3] + notebookwordsamount[4] + notebookwordsamount[5];}
          <div class="prep-for-review">Preparation for review: @totalwords words</div>
          <div class="review-now button-base" onclick="location.href='@Url.Action("Index","Reviewing")'">Review now</div>
        </div>
      </section>
      <section class="pages page chapters  is-active" data-page="2">
        <div class="course-list">
          @{var completedChapters = ViewData["CompletedChapters"] as List<Chapter>;
            var chapters = ViewData["ChapterForCourse"] as List<Chapter>;}
          @if (completedChapters == null){
             foreach (var chapter in chapters)
            {
                    @Html.ActionLink(@chapter.chapter_name,
                            "Learning",
                            new {chapter_id = @chapter.chapter_id},
                            new {@class="course-list-chapter"})
            }
             
          } else {
            if (chapters != null)
            {
                foreach (var chapter in chapters)
              {
                if (completedChapters.Any(complete => complete.chapter_id == chapter.chapter_id))
                {
                      @Html.ActionLink(@chapter.chapter_name,
                              "Learning",
                              new {chapter_id = @chapter.chapter_id},
                              new {@class="course-list-chapter-completed"})
                } else
                {
                    @Html.ActionLink(@chapter.chapter_name,
                              "Learning",
                              new {chapter_id = @chapter.chapter_id},
                              new {@class="course-list-chapter"})
                }
              }
            } else{
              <div class="empty">Oh no! It seems that the teacher hasn't created any chapter for this course yet.</div>
            }
          }
        </div>
      </section>
      <section class="pages page notebook" data-page="3">
        <div class="notebookpage">
          <div class="level-bar">
            <div class="level-bar-level is-active" data-switcher-2 data-level="1">
              <div class="level-name">Level 1</div>
              <div class="levelbar" data-l="1"></div>
            </div>
            <div class="level-bar-level" data-switcher-2 data-level="2">
              <div class="level-name">Level 2</div>
              <div class="levelbar" data-l="2"></div>
            </div>
            <div class="level-bar-level" data-switcher-2 data-level="3">
              <div class="level-name">Level 3</div>
              <div class="levelbar" data-l="3"></div>
            </div>
            <div class="level-bar-level" data-switcher-2 data-level="4">
              <div class="level-name">Level 4</div>
              <div class="levelbar" data-l="4"></div>
            </div>
            <div class="level-bar-level" data-switcher-2 data-level="5">
              <div class="level-name">Level 5</div>
              <div class="levelbar" data-l="5"></div>
            </div>
          </div>
          <div class="admin-filed searchbar"><i class="fas fa-search" ></i>
            <input class="admin-search" id="Search" type="text" placeholder="Search for word">
          </div>
          <div class="column-names">
            <h3>Từ</h3>
            <h3>Phiên âm IPA</h3>
            <h3>Loại từ</h3>
            <h3>Nghĩa</h3>
          </div>
          <div class="div-divider"></div>
          <div class="wordlists"> 
              @{var notebookwords = ViewData["NotebookwordsPerLevel"] as Dictionary<int, List<Word>>;}
              @for (int level = 1; level <= 5; level++)
              {
                  if (notebookwords[level] == null)
                  {
                    <div class="wordlists-level DataSearching" data-word-level="@level">
                      <div class="empty">You have no words on this level!</div>
                    </div>
                  } else {
                    <div class="wordlists-level DataSearching" data-word-level="@level">
                        @foreach (Word word in notebookwords[level])
                      {
                        <div class="wordrow">
                          <div class="wordrow-vocab">@word.word_face </div>
                          <div class="wordrow-ipa">@word.word_IPA</div>
                          @if (word.wordType_id == "1")
                          {
                            <div class="wordrow-wordtype">n</div>
                          } else if (word.wordType_id == "2")
                          {
                            <div class="wordrow-wordtype">adj</div>
                          } else if (word.wordType_id == "3")
                          {
                            <div class="wordrow-wordtype">v</div>
                          }
                          <div class="wordrow-defi">@word.word_nghia</div>
                        </div>
                      }
                    </div>
                  } 
              }
              </div>
          </div>
        </div>
      </section>
    </div>
    <button class="course-select">Course selection </button>
    <div class="courseselection">
      <div class="courseselection-header"> 
        <div class="courseselection-title">Course selection</div>
        <button class="close-button">&times; </button>
      </div>
      <div class="courseselection-body">
        <div class="courseselection-body-list">
        @foreach (var course in (IEnumerable<Course>)ViewData["Courses"])
        {
            @Html.ActionLink( @course.course_name,
                              "Select",
                              new {course_id = @course.course_id},
                              new {@class="course"}
                              )
        } 
        </div>
      </div>
    </div>
    <div class="courseselectOverlay"></div>
    <div class="leaderboard"> 
      <div class="leaderboard-header">
        <div class="names">Leaderboard</div>
        <div class="words">Words</div>
      </div>
      <div class="leaderboard-body">
        @{var leaderboard = ViewData["LeaderBoardList"] as List<string>;
          for (int i = 1; i < leaderboard.Count; i+=3)
          {
            <div class="user">
              <div class="user-avatar"><img src="@leaderboard[i-1]" alt=""></div>
              <div class="user-name">@leaderboard[i]</div>
              <div class="user-numoword">@leaderboard[i+1]</div>
            </div>
          }
        }
      </div>
      <div>
        <div>
          <button class="exam-select" onclick="location.href = '@Url.Action("goToListExam","Exam")'">Exam Selection </button>
        </div>
      </div>
    </div>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/public/scripts/learning.js"></script>
    <script>
        //Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});
        // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

      // Create the data table.
      var data = google.visualization.arrayToDataTable([
          ['Level', 'Words', { role: 'style' } ],
          ['Level 1', @notebookwordsamount[1], 'color: #EB5757'],
          ['Level 2', @notebookwordsamount[2], 'color: #FFCB09'],
          ['Level 3', @notebookwordsamount[3], 'color: #56CBF2'],
          ['Level 4', @notebookwordsamount[4], 'color: #2F7FEC'],
          ['Level 5', @notebookwordsamount[5], 'color: #213682']
      ]);
      // Set chart options
      var options = { 'width':750,
                      'height':300,
                      'legend':'none',
                      vAxis:{
                          textPosition: 'none',
                          gridlines: {
                              color: 'transparent'
                                  }
                          },
                      };
      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
      chart.draw(data, options);
      }
    </script>
    <footer>
      <div class="banner"></div>
    </footer>
</body>
</html>
