section.admin-course.admin
    +feature
    .admin-main.admin-main--course
        .admin-filed
            i.fas.fa-search
            input(type="text" placeholder="Search for student name").admin-search 
        .admin-top
            .admin-title Teacher List
            .admin-table.admin-teacher  
                table 
                    thead 
                        tr 
                            th Teacher ID
                            th Email
                            th Name
                            th Feebback
                            th Delete
                    tbody 
                        tr 
                            td 
                                .admin-table-number 1
                            td 
                                .admin-table-name 
                                    img(src="./images/student.jpg", alt="").admin-table-image
                                    p.admin-table-name Billgate@.....
                            td 
                                .admin-table-type Ronaldo
                            td  
                                a(href="#").admin-table-action.admin-table-action--blue <i class="far fa-comment"></i>
                            td 
                                a(href="#").admin-table-action.admin-table-action--red <i class="fas fa-trash"></i>
                        tr 
                            td 
                                .admin-table-number 1
                            td 
                                .admin-table-name 
                                    img(src="./images/student.jpg", alt="").admin-table-image
                                    p.admin-table-name Billgate@.....
                            td 
                                .admin-table-type Ronaldo
                            td  
                                a(href="#").admin-table-action.admin-table-action--blue <i class="far fa-comment"></i>
                            td 
                                a(href="#").admin-table-action.admin-table-action--red <i class="fas fa-trash"></i>
                        tr 
                            td 
                                .admin-table-number 1
                            td 
                                .admin-table-name 
                                    img(src="./images/student.jpg", alt="").admin-table-image
                                    p.admin-table-name Billgate@.....
                            td 
                                .admin-table-type Ronaldo
                            td  
                                a(href="#").admin-table-action.admin-table-action--blue <i class="far fa-comment"></i>
                            td 
                                a(href="#").admin-table-action.admin-table-action--red <i class="fas fa-trash"></i>
                        tr 
                            td 
                                .admin-table-number 1
                            td 
                                .admin-table-name 
                                    img(src="./images/student.jpg", alt="").admin-table-image
                                    p.admin-table-name Billgate@.....
                            td 
                                .admin-table-type Ronaldo
                            td  
                                a(href="#").admin-table-action.admin-table-action--blue <i class="far fa-comment"></i>
                            td 
                                a(href="#").admin-table-action.admin-table-action--red <i class="fas fa-trash"></i>
                        tr 
                            td 
                                .admin-table-number 1
                            td 
                                .admin-table-name 
                                    img(src="./images/student.jpg", alt="").admin-table-image
                                    p.admin-table-name Billgate@.....
                            td 
                                .admin-table-type Ronaldo
                            td  
                                a(href="#").admin-table-action.admin-table-action--blue <i class="far fa-comment"></i>
                            td 
                                a(href="#").admin-table-action.admin-table-action--red <i class="fas fa-trash"></i>
                        tr 
                            td 
                                .admin-table-number 1
                            td 
                                .admin-table-name 
                                    img(src="./images/student.jpg", alt="").admin-table-image
                                    p.admin-table-name Billgate@.....
                            td 
                                .admin-table-type Ronaldo
                            td  
                                a(href="#").admin-table-action.admin-table-action--blue <i class="far fa-comment"></i>
                            td 
                                a(href="#").admin-table-action.admin-table-action--red <i class="fas fa-trash"></i>
        .admin-top
            .admin-title Waiting list
            .admin-table.admin-teacher  
                table 
                    thead 
                        tr 
                            th Teacher ID
                            th Email
                            th Name
                            th Profile
                            th Feebback
                            th Delete
                    tbody 
                        tr 
                            td 
                                .admin-table-number 1
                            td 
                                .admin-table-name 
                                    img(src="./images/student.jpg", alt="").admin-table-image
                                    p.admin-table-name Billgate@.....
                            td 
                                .admin-table-type Ronaldo
                            td  
                                .admin-table-action.admin-table-action--orange.profile <i class="far fa-address-card"></i>
                            td  
                                a(href="#").admin-table-action.admin-table-action--blue <i class="far fa-comment"></i>
                            td 
                                a(href="#").admin-table-action.admin-table-action--red <i class="fas fa-trash"></i>
    
