@{
    ViewData["Title"] = "Index";
}
<div class="quiz">
    <div class="password-container">
    <div class="password-profile"> <img class="password-profile-image" src="./images/main.jpg" alt=""/><i class="fas fa-chevron-right password-profile-icon"> </i>
        <h2 class="password-profile-title">Quizzes</h2>
    </div>
    </div>
    <div class="quiz-list"> 
    <div class="quiz-item"> 
        <div class="quiz-header"> <img class="quiz-images" src="./images/main.jpg" alt="">
        <div class="quiz-title"> 
            <div class="quiz-name">Angular Routing In-Depth</div>
            <div class="quiz-complete">15 complete </div>
        </div><a class="admin-table-action admin-table-action--red quiz-delete" href="#"><i class="fas fa-trash"></i></a>
        </div>
        <div class="quiz-main"> 
        <div class="quiz-main-item"> 
            <div class="quiz-main-title">Author</div>
            <div class="quiz-main-name">Sang Ha Phuoc</div>
        </div>
        <div class="quiz-main-item"> 
            <div class="quiz-main-title">Date created</div>
            <div class="quiz-main-name">18/1/2001</div>
        </div>
        <div class="quiz-main-item"> 
            <div class="quiz-main-title">Number of nembers</div>
            <div class="quiz-main-name">200</div>
        </div>
        <div class="quiz-main-item"> 
            <div class="quiz-main-title">Number of quiz</div>
            <div class="quiz-main-name">21</div>
        </div>
        </div>
    </div>
    <div class="quiz-item"> 
        <div class="quiz-header"> <img class="quiz-images" src="./images/main.jpg" alt="">
        <div class="quiz-title"> 
            <div class="quiz-name">Angular Routing In-Depth</div>
            <div class="quiz-complete">15 complete </div>
        </div><a class="admin-table-action admin-table-action--red quiz-delete" href="#"><i class="fas fa-trash"></i></a>
        </div>
        <div class="quiz-main"> 
        <div class="quiz-main-item"> 
            <div class="quiz-main-title">Author</div>
            <div class="quiz-main-name">Sang Ha Phuoc</div>
        </div>
        <div class="quiz-main-item"> 
            <div class="quiz-main-title">Date created</div>
            <div class="quiz-main-name">18/1/2001</div>
        </div>
        <div class="quiz-main-item"> 
            <div class="quiz-main-title">Number of nembers</div>
            <div class="quiz-main-name">200</div>
        </div>
        <div class="quiz-main-item"> 
            <div class="quiz-main-title">Number of quiz</div>
            <div class="quiz-main-name">21</div>
        </div>
        </div>
    </div>
    <div class="quiz-item"> 
        <div class="quiz-header"> <img class="quiz-images" src="./images/main.jpg" alt="">
        <div class="quiz-title"> 
            <div class="quiz-name">Angular Routing In-Depth</div>
            <div class="quiz-complete">15 complete </div>
        </div><a class="admin-table-action admin-table-action--red quiz-delete" href="#"><i class="fas fa-trash"></i></a>
        </div>
        <div class="quiz-main"> 
        <div class="quiz-main-item"> 
            <div class="quiz-main-title">Author</div>
            <div class="quiz-main-name">Sang Ha Phuoc</div>
        </div>
        <div class="quiz-main-item"> 
            <div class="quiz-main-title">Date created</div>
            <div class="quiz-main-name">18/1/2001</div>
        </div>
        <div class="quiz-main-item"> 
            <div class="quiz-main-title">Number of nembers</div>
            <div class="quiz-main-name">200</div>
        </div>
        <div class="quiz-main-item"> 
            <div class="quiz-main-title">Number of quiz</div>
            <div class="quiz-main-name">21</div>
        </div>
        </div>
    </div>
    <div class="quiz-item"> 
        <div class="quiz-header"> <img class="quiz-images" src="./images/main.jpg" alt="">
        <div class="quiz-title"> 
            <div class="quiz-name">Angular Routing In-Depth</div>
            <div class="quiz-complete">15 complete </div>
        </div><a class="admin-table-action admin-table-action--red quiz-delete" href="#"><i class="fas fa-trash"></i></a>
        </div>
        <div class="quiz-main"> 
        <div class="quiz-main-item"> 
            <div class="quiz-main-title">Author</div>
            <div class="quiz-main-name">Sang Ha Phuoc</div>
        </div>
        <div class="quiz-main-item"> 
            <div class="quiz-main-title">Date created</div>
            <div class="quiz-main-name">18/1/2001</div>
        </div>
        <div class="quiz-main-item"> 
            <div class="quiz-main-title">Number of nembers</div>
            <div class="quiz-main-name">200</div>
        </div>
        <div class="quiz-main-item"> 
            <div class="quiz-main-title">Number of quiz</div>
            <div class="quiz-main-name">21</div>
        </div>
        </div>
    </div>
    <ul class="pagination">
        <li class="page-item page-item-first"><a class="page-link page-active" href="#"><span class="page-link-icon"><i class="fas fa-angle-left"></i></span><span>Prev</span></a></li>
        <li class="page-item page-item-child"><a class="page-link" href="#"><span>1</span></a></li>
        <li class="page-item page-item-child"><a class="page-link" href="#"><span>2</span></a></li>
        <li class="page-item page-item-last"><a class="page-link" href="#"> <span>Next</span><span class="page-link-icon"><i class="fas fa-angle-right"></i></span></a></li>
    </ul>
    </div>
    <div class="admin-chart-container"> 
    <div class="admin-chart admin-chart--pad"> 
        <h2 class="admin-title admin-title--sale">Quizzes analytic</h2>
        <canvas id="myChartQuizzes">          </canvas>
    </div>
    </div>
</div>