@{
    ViewData["Title"] = "AddCourse";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}
<form class="teacher-wrapper" asp-action="UpdateCourse" method="post" enctype="multipart/form-data">
    <div  class="password-container" >
    <div class="password-profile">  
        <img class="password-profile-image" src="/images/main.jpg" alt="">
        <i class="fas fa-chevron-right password-profile-icon"> </i>
        <h2 class="password-profile-title">Edit Course</h2>
    </div>
    </div>
        <div class="line-container line-container--primary">
        <p class="line-text">BASIC INFORMATION</p>
        <div class="line-separate"></div>
    </div>
    <div class="teacher-course"> 
        <div class="teacher-course-title">Couse title </div>
        <input class="teacher-course-input" value="@ViewBag.Course.course_name" type="text" placeholder="Name of course" name="nameCourse">
        <div class="teacher-course-tutorial">Please enter name of this course</div>
        @if(TempData["Duplicate"]!=null){
            <div class="notification-error--primary">@TempData["Duplicate"]</div>
        }
    </div>
        <div class="input-file input-file--primary">
            <input
                id="file"
                type="file"
                name="file"
                value="@ViewBag.Course.course_image"
                class="file-images"
            />
            <img class="image-word" src="@ViewBag.Course.course_image" alt="">
            <label
                class="input-label"
                for="file"
                ><i
                    class="fas fa-cloud-upload-alt icon-upload"
                ></i
            ></label>
        </div>
        @if (TempData["EmptyImage"]!=null)
        {
            <div class="notification-error--primary">@TempData["EmptyImage"]</div>
            
        }
    <div class="line-container line-container--primary">
            <p class="line-text">CHAPTER</p>
            <div class="line-separate"></div>
    </div>
    <a data-id-course="@ViewBag.Course.course_id" onclick="handleInsertChapter(this)" class="btn-primary btn-primary--add btn-primary--course">ADD CHAPTER</a>
    
    <div class="teacher-chapter-list"> 
        @if (ViewBag.Chapters==null)
        {
            <h3 class="chapter-none">You dont have any chapter in this course</h3>
        }
        @if (ViewBag.Chapters!=null)
        {
        @foreach (var item in ViewBag.Chapters)
        {
            <div class="teacher-chapter-item"> 
                <h3 class="teacher-chapter-title">@item.chapter_name</h3>
                <div class="teacher-chapter-icon"> 
                    <a class="admin-table-action admin-table-action--blue quiz-delete" asp-route-chapterID="@item.chapter_id" asp-route-idCourse="@ViewBag.Course.course_id" asp-action="ManageChapterDetail" asp-controller="Chapter">
                        <i class="fas fa-pen"></i>
                    </a>
                    <a class="admin-table-action admin-table-action--red quiz-delete"  onclick="handleDeleteChapter(this)" data-id-chapter="@item.chapter_id" data-id-course="@ViewBag.Course.course_id">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </div>
            }
        }
    </div>
    <div class="button-list"> 
        <input type="hidden" name="courseID" value="@ViewBag.Course.course_id"/>
        <input class="password-submit" type="submit" value="Save"/>
        <a class="password-submit password-submit--red" asp-route-CourseID="@ViewBag.Course.course_id" asp-action="DeleteCourse" asp-controller="Course" >Delete</a>
    </div>
</form>