@{
    ViewData["Title"] = "CourseAdmin";
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="admin-main admin-main--course">
        <div class="password-container">
        <div class="password-profile">
            <img
                class="password-profile-image"
                src="/images/main.jpg"
                alt=""
            /><i
                class="fas fa-chevron-right password-profile-icon"
            >
            </i>
            <h2 class="password-profile-title">Course</h2>
        </div>
    </div>
    <div class="admin-filed">
        <i class="fas fa-search"></i>
        <input
            id="SearchCourse"
            class="admin-search"
            type="text"
            placeholder="Search for course name"
        />
    </div>
    <div class="admin-top">
        <div class="admin-title">Course List</div>
        <div class="admin-table">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th style="width: 30%;">Name</th>
                        <th>Author</th>
                        <th>Created date</th>
                        <th style="text-align: center;">Total chapter</th>
                    </tr>
                </thead>
                <tbody id="DataSearching">
                    @foreach (Course item in ViewBag.Courses)
                    {
                    <tr>
                        <td>
                            <div class="admin-table-number">@item.course_id</div>
                        </td>
                        <td>
                            <div class="admin-table-name admin-table-name--center">
                                <img
                                    class="admin-table-image"
                                    src="@item.course_image"
                                />
                                <p class="admin-table-name">@item.course_name</p>
                            </div>
                        </td>
                        <td>
                            @foreach (User elem in ViewBag.Users)
                            {
                                @if (@item.teacher_id==elem.UserID)
                                {
                                    @elem.UserName
                                }
                            }
                        </td>
                        <td>
                            <div class="admin-table-type">@item.course_create_data.ToShortDateString()</div>
                        </td>
                        <td>
                            <div class="admin-table-action admin-table-action--green">@item.course_total_chapters</div>
                        </td>
                    </tr>
                        }
                </tbody>
            </table>
        </div>
    </div>
</div>
