.admin-chart {
    position: relative;
    margin: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1rem 2rem 2rem 2rem;
    border-radius: 2rem;
    margin-top: 4rem;
    &-container {
        width: 99.999%;
        padding: 2rem;
        overflow: hidden;
    }
}
.admin-title--sale {
    margin-bottom: 0;
    margin-top: 1rem;
}
