.dropdown {
    margin-top: 2.5rem;
    &__select {
        width: 99%;
        background-color: white;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
        font-size: 1.8rem;
        padding: 1.8rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        margin: 0 auto;
        margin-bottom: 2rem;
        * {
            pointer-events: none;
            transition: all 0.25s linear;
        }
    }
    &__item {
        * {
            pointer-events: none;
        }
    }
    &-content {
        height: 0;
        overflow: hidden;
        width: 99%;
        background-color: white;
        box-shadow: 0px 1px 4px #00000040;
        border-radius: 0.5rem;
        font-size: 1.8rem;
        margin: 0 auto;
        transition: height 0.25s linear;
    }
    &__list {
        padding: 1.8rem 2rem;
        li {
            span {
                display: inline-block;
                padding: 2rem;
            }
            cursor: pointer;
            transition: all 0.25s linear;
            &:hover {
                background-color: rgba(117, 206, 85, 0.2);
                color: $primary-color;
                border-radius: 0.5rem;
            }
        }
    }
}
.dropdown-content.dropdown-active {
    height: auto;
}
.icon-active {
    transform: rotate(180deg);
}
.icon-remove {
    transform: rotate(-180deg);
}
.selection {
    position: relative;
    width: 30rem;
    height: 5rem;
}
.selection input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #fff;
    border: none;
    outline: none;
    padding: 1.2rem 2rem;
    border-radius: 0.5rem;
    border: 0.1rem solid $gray-border;
    font-size: 1.8rem;
}
.options-container {
    position: absolute;
    top: 6rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.5rem;
    border: 0.1rem solid $gray-border;
    z-index: 3;
    overflow: hidden;
    display: none;
}
.options-container.active {
    display: block;
}
.selection::before {
    position: absolute;
    content: "";
    right: 2rem;
    top: 1.7rem;
    z-index: 9999;
    width: 0.8rem;
    height: 0.8rem;
    border: 2px solid #3333;
    border-top: 2px solid #ffff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: all 0.25s linear;
}
.selection.active::before {
    top: 2.1rem;
    transform: rotate(-225deg);
}
.options-item {
    padding: 1.2rem 2rem;
    cursor: pointer;
    font-size: 1.8rem;
    transition: all 0.25s linear;
}
.options-item:hover {
    background-color: #75ce55;
    color: #fff;
}
