:root {
    --text-color: #8c8d95;
}
.input-file {
    margin: 0 auto;
    width: 100%;
    height: 30rem;
    position: relative;
}
.input-label {
    border-radius: 8px;
    border: 1px dotted #cccc;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
}
.input-file input[type="file"] {
    display: none;
}
.input-file .icon-upload {
    color: #ccc;
    font-size: 3rem;
    pointer-events: none;
}
.input {
    &-base {
        margin-top: 1.5rem;
        width: 100%;
        &-title {
            font-size: 1.8rem;
            color: var(--text-color);
            font-weight: 600;
            margin-bottom: 1rem;
        }
        & input {
            padding: 1.5rem;
            border-radius: 0.5rem;
            font-family: $primary-font;
            outline: none;
            border: 1px solid $gray-border;
            width: 100%;
            font-size: 1.8rem;
            transition: all 0.25s linear;
            &:hover {
                border: 0.1rem solid $primary-color;
            }
        }
    }
}
.input-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    & * {
        width: 100%;
    }
}
.date {
    &-picker {
        padding: 1rem 0;
        padding-right: 1.1rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        input[type="date"] {
            font-family: $primary-font;
            border: 1px solid $gray-border;
            border-radius: 0.5rem;
            padding: 0.5rem;
            font-size: 1.6rem;
            outline: none;
            background-color: inherit;
            color: $text-color;
        }
        span {
            font-size: 1.8rem;
            padding: 0 1rem;
        }
    }
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn-image {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 1px solid $gray-border;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn-wrapper input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.input-file--primary {
    max-width: 50rem;
    margin: 0;
}
