.pagination {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0 1rem;
    margin-right: auto;
    margin-left: 1rem;
}
.page {
    &-item {
        a {
            display: flex;
            align-items: center;
            gap: 0 0.5rem;
            font-size: 1.6rem;
            color: $text-color;
        }
    }
    &-item-child {
        a {
            padding: 0.5rem 1rem;
            border-right: 0.1rem solid $gray-border;
            border-left: 0.1rem solid $gray-border;
            transition: all 0.25s linear;
        }
        &:hover {
            background-color: #e9ecef;
        }
    }
}
.page-active {
    color: #cfcfcf !important;
}
