.leaderboard 
    .leaderboard-header
        .names Leaderboard
        .words Words
    .leaderboard-body
        .user
            .user-avatar 
                img(src="./images/avatar.jpg", alt="")
            .user-name Triet 
            .user-numoword 1594
        .user
            .user-avatar 
                img(src="./images/avatar.jpg", alt="")
            .user-name Triet 
            .user-numoword 1594
        .user
            .user-avatar 
                img(src="./images/avatar.jpg", alt="")
            .user-name Triet 
            .user-numoword 1594
        .user
            .user-avatar 
                img(src="./images/avatar.jpg", alt="")
            .user-name Triet 
            .user-numoword 1594
        .user
            .user-avatar 
                img(src="./images/avatar.jpg", alt="")
            .user-name Triet 
            .user-numoword 1594
        .user
            .user-avatar 
                img(src="./images/avatar.jpg", alt="")
            .user-name Triet 
            .user-numoword 1594
        .user
            .user-avatar 
                img(src="./images/avatar.jpg", alt="")
            .user-name Triet 
            .user-numoword 1594
        .user
            .user-avatar 
                img(src="./images/avatar.jpg", alt="")
            .user-name Triet 
            .user-numoword 1594