﻿@{
    ViewData["Title"] = "Home Page";
}
<section class="started">
    <div class="container">
        <div class="started-list">
            <div class="started-left">
                <img class="started-image"
                     src="./images/earth.jpg"
                     alt="" />
                <div class="button-container">
                    <button class="button">Get started</button>
                    <a asp-action="Login" asp-controller="Account">
                        <button class="button button--second">
                            I already have an account
                        </button>
                    </a>
                </div>
            </div>
            <div class="started-right">
                <img class="started-image-main"
                     src="./images/main.jpg"
                     alt="" />
                <h3 class="started-text">
                    New an effective way to learn a language
                </h3>
            </div>
        </div>
        <div class="line"></div>
    </div>
</section>
<section class="why">
    <div class="container">
        <div class="title">Why you’ll love learning with Poppin</div>
        <div class="why-list">
            <div class="why-item">
                <img class="why-image" src="images/icon1.png" alt="" />
                <div class="why-title">Personalized learning</div>
                <div class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Omnis, autem culpa minima numquam repudiandae
                    repellendus, aut laborum ut, nam ev
                </div>
            </div>
            <div class="why-item">
                <img class="why-image" src="images/icon1.png" alt="" />
                <div class="why-title">Personalized learning</div>
                <div class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Omnis, autem culpa minima numquam repudiandae
                    repellendus, aut laborum ut, nam ev
                </div>
            </div>
            <div class="why-item">
                <img class="why-image" src="images/icon1.png" alt="" />
                <div class="why-title">Personalized learning</div>
                <div class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Omnis, autem culpa minima numquam repudiandae
                    repellendus, aut laborum ut, nam ev
                </div>
            </div>
        </div>
        <div class="line"></div>
    </div>
</section>
<section class="plan">
    <div class="container">
        <div class="title">Choose Your Plan</div>
        <div class="plan-list">
            <div class="plan-item">
                <img class="plan-image"
                     srcset="./images/Free.png 2x"
                     alt="" />
                <h3 class="plan-title">Free plan</h3>
                <div class="plan-feature">
                    <div class="plan-feature-item">
                        <img class="plan-check"
                             srcset="./images/check.png 2x"
                             alt="" />
                        <p class="plan-desc">
                            Lorem ipsum dolor sit amet consectetur
                            adipisicing
                        </p>
                    </div>
                    <div class="plan-feature-item">
                        <img class="plan-check"
                             srcset="./images/check.png 2x"
                             alt="" />
                        <p class="plan-desc">
                            Lorem ipsum dolor sit amet consectetur
                            adipisicing
                        </p>
                    </div>
                    <div class="plan-feature-item">
                        <img class="plan-check"
                             srcset="./images/check.png 2x"
                             alt="" />
                        <p class="plan-desc">
                            Lorem ipsum dolor sit amet consectetur
                            adipisicing
                        </p>
                    </div>
                </div>
                <div class="plan-price">1 month/4.99$</div>
                <button class="button button--third">Select</button>
            </div>
            <div class="plan-item">
                <img class="plan-image"
                     srcset="./images/Free.png 2x"
                     alt="" />
                <h3 class="plan-title">Free plan</h3>
                <div class="plan-feature">
                    <div class="plan-feature-item">
                        <img class="plan-check"
                             srcset="./images/check.png 2x"
                             alt="" />
                        <p class="plan-desc">
                            Lorem ipsum dolor sit amet consectetur
                            adipisicing
                        </p>
                    </div>
                    <div class="plan-feature-item">
                        <img class="plan-check"
                             srcset="./images/check.png 2x"
                             alt="" />
                        <p class="plan-desc">
                            Lorem ipsum dolor sit amet consectetur
                            adipisicing
                        </p>
                    </div>
                    <div class="plan-feature-item">
                        <img class="plan-check"
                             srcset="./images/check.png 2x"
                             alt="" />
                        <p class="plan-desc">
                            Lorem ipsum dolor sit amet consectetur
                            adipisicing
                        </p>
                    </div>
                </div>
                <div class="plan-price">1 month/4.99$</div>
                <button class="button button--third">Select</button>
            </div>
            <div class="plan-item">
                <img class="plan-image"
                     srcset="./images/Free.png 2x"
                     alt="" />
                <h3 class="plan-title">Free plan</h3>
                <div class="plan-feature">
                    <div class="plan-feature-item">
                        <img class="plan-check"
                             srcset="./images/check.png 2x"
                             alt="" />
                        <p class="plan-desc">
                            Lorem ipsum dolor sit amet consectetur
                            adipisicing
                        </p>
                    </div>
                    <div class="plan-feature-item">
                        <img class="plan-check"
                             srcset="./images/check.png 2x"
                             alt="" />
                        <p class="plan-desc">
                            Lorem ipsum dolor sit amet consectetur
                            adipisicing
                        </p>
                    </div>
                    <div class="plan-feature-item">
                        <img class="plan-check"
                             srcset="./images/check.png 2x"
                             alt="" />
                        <p class="plan-desc">
                            Lorem ipsum dolor sit amet consectetur
                            adipisicing
                        </p>
                    </div>
                </div>
                <div class="plan-price">1 month/4.99$</div>
                <button class="button button--third">Select</button>
            </div>
        </div>
        <div class="line"></div>
    </div>
</section>
<section class="test">
    <div class="container">
        <div class="test-container">
            <img class="test-image"
                 srcset="images/test.png 2x"
                 alt="" />
            <div class="content">
                <h2 class="content-title">The Poppin English Test</h2>
                <div class="text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Labore nesciunt et ex corporis, vitae odio
                    quaerat reiciendis tempora ab distinctio fuga vel,
                    quod laborum pariatur nihil nobis aspernatur velit
                    ipsa?
                </div>
                <button class="button button--primary">
                    Get started
                </button>
            </div>
        </div>
        <div class="line"></div>
    </div>
</section>
<section class="test">
    <div class="container">
        <div class="test-container-reverse">
            <div class="content">
                <h2 class="content-title">
                    Effective and efficient courses
                </h2>
                <div class="text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Labore nesciunt et ex corporis, vitae odio
                    quaerat reiciendis tempora ab distinctio fuga vel,
                    quod laborum pariatur nihil nobis aspernatur velit
                    ipsa?
                </div>
                <button class="button button--primary">
                    Get started
                </button>
            </div>
            <img class="test-image" src="images/effective.png" alt="" />
        </div>
    </div>
</section>
