.teacher {
    &-wrapper {
        width: 100%;
        padding: 0 3.2rem;
        margin-bottom: 2rem;
    }
    &-container {
        width: 100%;
    }
}
.list-empty {
    text-transform: uppercase;
    color: $red-delete;
    font-size: 1.8rem;
}
