﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

        <div class="admin-main admin-main--course">
          <div class="admin-filed"><i class="fas fa-search"></i>
            <input class="admin-search" type="text" placeholder="Search for student name">
          </div>
          <div class="admin-top">
            <div class="admin-title">Teacher List</div>
            <div class="admin-table admin-teacher">
              <table>
                <thead>
                  <tr>
                    <th>Teacher ID</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Feebback</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="admin-table-number">1</div>
                    </td>
                    <td>
                      <div class="admin-table-name"> <img class="admin-table-image" src="./images/student.jpg" alt="">
                        <p class="admin-table-name">Billgate</p>
                      </div>
                    </td>
                    <td>
                      <div class="admin-table-type">Ronaldo</div>
                    </td>
                    <td> <a class="admin-table-action admin-table-action--blue" href="#"><i class="far fa-comment"></i></a></td>
                    <td> <a class="admin-table-action admin-table-action--red" href="#"><i class="fas fa-trash"></i></a></td>
                  </tr>
                  <tr>
                    <td>
                      <div class="admin-table-number">1</div>
                    </td>
                    <td>
                      <div class="admin-table-name"> <img class="admin-table-image" src="./images/student.jpg" alt="">
                        <p class="admin-table-name">Billgate</p>
                      </div>
                    </td>
                    <td>
                      <div class="admin-table-type">Ronaldo</div>
                    </td>
                    <td> <a class="admin-table-action admin-table-action--blue" href="#"><i class="far fa-comment"></i></a></td>
                    <td> <a class="admin-table-action admin-table-action--red" href="#"><i class="fas fa-trash"></i></a></td>
                  </tr>
                  <tr>
                    <td>
                      <div class="admin-table-number">1</div>
                    </td>
                    <td>
                      <div class="admin-table-name"> <img class="admin-table-image" src="./images/student.jpg" alt="">
                        <p class="admin-table-name">Billgate</p>
                      </div>
                    </td>
                    <td>
                      <div class="admin-table-type">Ronaldo</div>
                    </td>
                    <td> <a class="admin-table-action admin-table-action--blue" href="#"><i class="far fa-comment"></i></a></td>
                    <td> <a class="admin-table-action admin-table-action--red" href="#"><i class="fas fa-trash"></i></a></td>
                  </tr>
                  <tr>
                    <td>
                      <div class="admin-table-number">1</div>
                    </td>
                    <td>
                      <div class="admin-table-name"> <img class="admin-table-image" src="./images/student.jpg" alt="">
                        <p class="admin-table-name">Billgate</p>
                      </div>
                    </td>
                    <td>
                      <div class="admin-table-type">Ronaldo</div>
                    </td>
                    <td> <a class="admin-table-action admin-table-action--blue" href="#"><i class="far fa-comment"></i></a></td>
                    <td> <a class="admin-table-action admin-table-action--red" href="#"><i class="fas fa-trash"></i></a></td>
                  </tr>
                  <tr>
                    <td>
                      <div class="admin-table-number">1</div>
                    </td>
                    <td>
                      <div class="admin-table-name"> <img class="admin-table-image" src="./images/student.jpg" alt="">
                        <p class="admin-table-name">Billgate</p>
                      </div>
                    </td>
                    <td>
                      <div class="admin-table-type">Ronaldo</div>
                    </td>
                    <td> <a class="admin-table-action admin-table-action--blue" href="#"><i class="far fa-comment"></i></a></td>
                    <td> <a class="admin-table-action admin-table-action--red" href="#"><i class="fas fa-trash"></i></a></td>
                  </tr>
                  <tr>
                    <td>
                      <div class="admin-table-number">1</div>
                    </td>
                    <td>
                      <div class="admin-table-name"> <img class="admin-table-image" src="./images/student.jpg" alt="">
                        <p class="admin-table-name">Billgate</p>
                      </div>
                    </td>
                    <td>
                      <div class="admin-table-type">Ronaldo</div>
                    </td>
                    <td> <a class="admin-table-action admin-table-action--blue" href="#"><i class="far fa-comment"></i></a></td>
                    <td> <a class="admin-table-action admin-table-action--red" href="#"><i class="fas fa-trash"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="admin-top">
            <div class="admin-title">Waiting list</div>
            <div class="admin-table admin-teacher">
              <table>
                <thead>
                  <tr>
                    <th>Teacher ID</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Profile</th>
                    <th>Feebback</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="admin-table-number">1</div>
                    </td>
                    <td>
                      <div class="admin-table-name"> <img class="admin-table-image" src="./images/student.jpg" alt="">
                        <p class="admin-table-name">Billgate</p>
                      </div>
                    </td>
                    <td>
                      <div class="admin-table-type">Ronaldo</div>
                    </td>
                    <td>
                      <div class="admin-table-action admin-table-action--orange profile"><i class="far fa-address-card"></i></div>
                    </td>
                    <td> <a class="admin-table-action admin-table-action--blue" href="#"><i class="far fa-comment"></i></a></td>
                    <td> <a class="admin-table-action admin-table-action--red" href="#"><i class="fas fa-trash"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
