@{
    ViewData["Title"] = "ManageCourse";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}
<div class="teacher-wrapper">
    <div class="password-container">
    <div class="password-profile"> <img class="password-profile-image" src="./images/main.jpg" alt=""/><i class="fas fa-chevron-right password-profile-icon"> </i>
        <h2 class="password-profile-title">Quizzes</h2>
    </div>
    </div>
    <div class="line-container line-container--primary">
    <p class="line-text">BASIC INFORMATION</p>
    <div class="line-separate"></div>
    </div>
    <div class="teacher-course"> 
    <div class="teacher-course-title">Couse title </div>
    <input class="teacher-course-input" type="text" placeholder="Name of course">
    <div class="teacher-course-tutorial">Please enter name of this course</div>
    </div>
    <div class="line-container line-container--primary">
    <p class="line-text">CHAPTER</p>
    <div class="line-separate"></div>
    </div>
    <button class="btn-primary btn-primary--add btn-primary--course">ADD CHAPTER</button>
    <div class="teacher-chapter-list"> 
    <div class="teacher-chapter-item"> 
        <h3 class="teacher-chapter-title">Chapter 1</h3>
        <div class="teacher-chapter-icon"> <a class="admin-table-action admin-table-action--blue quiz-delete" href="editChapterTeacher.html"><i class="fas fa-pen"></i></a><a class="admin-table-action admin-table-action--red quiz-delete" href="#"><i class="fas fa-trash"></i></a></div>
    </div>
    </div>
    <div class="button-list"> 
    <button class="password-submit" type="submit">Save change</button>
    <button class="password-submit password-submit--red" type="submit">Delete</button>
    </div>
</div>