@{
    ViewData["Title"] = "OverView";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}
<div class="teacher-wrapper"> 
        <div class="password-container">
        <div class="password-profile">
            <img class="password-profile-image" src="/images/main.jpg" alt=""/><i class="fas fa-chevron-right password-profile-icon"> </i>
            <h2 class="password-profile-title">Over View</h2>
        </div>
        </div>
        <div class="teacher-container"> 
        <a asp-action="AddCourse" asp-controller="Course" class="btn-primary btn-primary--add" >
            ADD COURSE 
        </a>
        <div class="line-container line-container--primary">
            <p class="line-text">COURSES LIST</p>
            <div class="line-separate"></div>
        </div>
        <div class="quiz-list">
            @foreach (var item in ViewBag.courses)
            {
            <div class="quiz-item"> 
                <div class="quiz-header">
                    <img class="quiz-images" src="@item.course_image" alt=""/>
                    <div class="quiz-title"> 
                        <div class="quiz-name">@item.course_name</div>
                    </div>
                    <div class="quiz-icon-container">   
                        <a class="admin-table-action admin-table-action--blue quiz-delete" id="btnUpdateCourse" data-id-course="@item.course_id">
                            <i class="fas fa-pen"></i>
                        </a>
                        <a class="admin-table-action admin-table-action--red quiz-delete" asp-route-id="@item.course_id" asp-action="DeleteCourse" asp-controller="Course">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </div>
                <div class="quiz-main"> 
                    <div class="quiz-main-item"> 
                        @foreach (var elemnt in ViewBag.uses)
                        {
                            @if (elemnt.UserID== item.teacher_id)
                            {
                                <div class="quiz-main-title">Author</div>
                                <div class="quiz-main-name">@elemnt.FullName</div>
                            }
                        }
                    </div>
                    <div class="quiz-main-item"> 
                        <div class="quiz-main-title">Date created</div>
                        <div class="quiz-main-name">@item.course_create_data.ToShortDateString()</div>
                    </div>
                    <div class="quiz-main-item"> 
                        <div class="quiz-main-title">Number of participants</div>
                        <div class="quiz-main-name">@item.participant</div>
                    </div>
                        <div class="quiz-main-item"> 
                        <div class="quiz-main-title">Number of chapter</div>
                        <div class="quiz-main-name">@item.course_total_chapters</div>
                    </div>
                </div>
            </div>
            }
        </div>
        @* <ul class="pagination">
            <li class="page-item page-item-first"><a class="page-link page-active" href="#"><span class="page-link-icon"><i class="fas fa-angle-left"></i></span><span>Prev</span></a></li>
            <li class="page-item page-item-child"><a class="page-link" href="#"><span>1</span></a></li>
            <li class="page-item page-item-child"><a class="page-link" href="#"><span>2</span></a></li>
            <li class="page-item page-item-last"><a class="page-link" href="#"> <span>Next</span><span class="page-link-icon"><i class="fas fa-angle-right"></i></span></a></li>
            </ul> *@
        </div>
    </div>