@{
    ViewData["Title"] = "TeacherAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="admin-main admin-main--course">
    <div class="admin-filed">
        <i class="fas fa-search"></i>
        <input
            class="admin-search"
            type="text"
            id="valueTeacher"
            placeholder="Search for teacher name" 
        />
    </div>
    .<style>
        .modal {
        position: fixed;
        inset: 0;
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        }
        .modal-overlay {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.2);
        cursor: pointer;
        }
        .modal-content {
        background-color: white;
        width: 100%;
        max-width: 500px;
        border-radius: 12px;
        position: relative;
        z-index: 10;
        padding: 30px;
        }
        .modal-close {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        width: 30px;
        height: 30px;
        border-radius: 100rem;
        color: white;
        background-color: #eee;
        padding: 5px;
        transform: translate(50%, -50%);
        }
        .modal-main {
        overscroll-behavior-y: contain;
        }
    </style>
    <div class="modal">
        <div class="modal-overlay"></div>
        <div class="modal-content">
            <span class="modal-close">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
                >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6 18L18 6M6 6l12 12"
                />
                </svg>
            </span>
        <div class="modal-main">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
            maiores eligendi deleniti ipsa quae nam sunt quasi nisi, dignissimos
            eaque aliquam minus. Eius perferendis, voluptates totam iure minus
            consequuntur est?
        </div>
        </div>
    </div>
    <div class="admin-top">
        <div class="admin-title">Teacher List</div>
        <div class="admin-table admin-teacher">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Feebback</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody class="valueTeacher">
                    @foreach (var item in ViewBag.Teachers)
                    {
                        @foreach (var elem in ViewBag.Users)
                        {
                            @if (elem.UserID==item.user_id && item.isActive==true)
                            {
                                <tr>
                                    <td>
                                        <div class="admin-table-number">@elem.UserID</div>
                                    </td>
                                    <td>
                                        <div class="admin-table-name">
                                            <img
                                                class="admin-table-image"
                                                src="@elem.urlAvatar"
                                                alt=""
                                            />
                                            <p class="admin-table-name">@elem.UserEmail</p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="admin-table-type">@elem.FullName</div>
                                    </td>
                                    <td>
                                        <a
                                            class="admin-table-action admin-table-action--blue"
                                            href="#"
                                            ><i class="far fa-comment"></i
                                        ></a>
                                    </td>
                                    <td>
                                        <a
                                            class="admin-table-action admin-table-action--red"
                                            href="#"
                                            ><i class="fas fa-trash"></i
                                        ></a>
                                    </td>
                                </tr>
                        }
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="admin-top">
        <div class="admin-title">Waiting list</div>
        <div class="admin-table admin-teacher">
            @if(ViewBag.Waiting==null){
                        <h1 class="list-empty">
                            No one on the list
                        </h1>
                    }
                    @if(ViewBag.Waiting!=null)
                    {
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Profile</th>
                        <th>Feebback</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Waiting)
                    {
                        @foreach (var elem in ViewBag.Users)
                            {
                                @if (elem.UserID==item.user_id)
                                {
                    <tr>
                        <td>
                            <div class="admin-table-number">
                            
                                    @elem.UserID
                            </div>
                        </td>
                        <td>
                            <div class="admin-table-name">
                                <img
                                    class="admin-table-image"
                                    src="@elem.urlAvatar"
                                    alt=""
                                />
                                <p class="admin-table-name">@elem.UserEmail</p>
                            </div>
                        </td>
                        <td>
                            <div class="admin-table-type">@elem.FullName</div>
                        </td>
                        <td>
                            <a
                                class="admin-table-action admin-table-action--orange profile"
                                id="detail-user"
                                value="@item.user_id"
                                >
                                <i class="far fa-address-card"></i>
                            </a>
                        </td>
                        <td>
                            <a class="admin-table-action admin-table-action--blue">
                                <i class="far fa-comment"></i>
                            </a>
                        </td>
                        <td>
                            <a
                                class="admin-table-action admin-table-action--red"
                                href="#"
                                ><i class="fas fa-trash"></i
                            ></a>
                        </td>
                    </tr>
                            }
                        }
                    }
                </tbody>
            </table>
                    }
        </div>
    </div>
</div>
