@{
    ViewData["Title"] = "TeacherAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="admin-main admin-main--course">
    <div class="admin-filed">
        <i class="fas fa-search"></i>
        <input
            class="admin-search"
            type="text"
            placeholder="Search for student name"
        />
    </div>
    <div class="admin-top">
        <div class="admin-title">Teacher List</div>
        <div class="admin-table admin-teacher">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Feebback</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Teachers)
                    {
                        @foreach (var elem in ViewBag.Users)
                        {
                            @if (elem.UserID==item.user_id)
                            {
                                <tr>
                                    <td>
                                        <div class="admin-table-number">@elem.UserID</div>
                                    </td>
                                    <td>
                                        <div class="admin-table-name">
                                            <img
                                                class="admin-table-image"
                                                src="@elem.urlAvatar"
                                                alt=""
                                            />
                                            <p class="admin-table-name">@elem.UserEmail</p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="admin-table-type">@elem.FullName</div>
                                    </td>
                                    <td>
                                        <a
                                            class="admin-table-action admin-table-action--blue"
                                            href="#"
                                            ><i class="far fa-comment"></i
                                        ></a>
                                    </td>
                                    <td>
                                        <a
                                            class="admin-table-action admin-table-action--red"
                                            href="#"
                                            ><i class="fas fa-trash"></i
                                        ></a>
                                    </td>
                                </tr>
                        }
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="admin-top">
        <div class="admin-title">Waiting list</div>
        <div class="admin-table admin-teacher">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Profile</th>
                        <th>Feebback</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @if(ViewBag.Waiting==null){
                        <tr>
                             <h1>Empty</h1>
                        </tr>
                    }
                    @if(ViewBag.Waiting!=null)
                    {
                    @foreach (var item in ViewBag.Waiting)
                    {
                        @foreach (var elem in ViewBag.Users)
                            {
                                @if (elem.UserID==item.user_id)
                                {
                    <tr>
                        <td>
                            <div class="admin-table-number">
                            
                                    @elem.UserID
                            </div>
                        </td>
                        <td>
                            <div class="admin-table-name">
                                <img
                                    class="admin-table-image"
                                    src="@elem.urlAvatar"
                                    alt=""
                                />
                                <p class="admin-table-name">@elem.UserEmail</p>
                            </div>
                        </td>
                        <td>
                            <div class="admin-table-type">@elem.FullName</div>
                        </td>
                        <td>
                            <a
                                class="admin-table-action admin-table-action--orange profile"
                                id="detail-user"
                                value="@item.user_id"
                                >
                                <i class="far fa-address-card"></i>
                            </a>
                        </td>
                        <td>
                            <a
                                class="admin-table-action admin-table-action--blue"
                                
                                ><i class="far fa-comment"></i
                            ></a>
                        </td>
                        <td>
                            <a
                                class="admin-table-action admin-table-action--red"
                                href="#"
                                ><i class="fas fa-trash"></i
                            ></a>
                        </td>
                    </tr>
                            }
                        }
                    }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
